<div class="ucSearch-Button-Right">
  <span class="mr-1">
    <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="[CancelLink]"
      [queryParams]="{RefFormId: RefFormId}" skipLocationChange translate>
      <i class="far fa-window-close"></i> Cancel
    </button>
    <button type="submit" (click)="SaveListAuthForm()" class="btn btn-raised btn-primary" translate>
      <i class="far fa-check-square"></i> Save
    </button>
  </span>
</div>
<lib-ucviewgeneric [viewGenericObj]="viewGenericObj"> </lib-ucviewgeneric>
<lib-ucaddtotemp *ngIf="tempPagingObj.isReady" [tempPagingObj]="tempPagingObj" (callback)="getListTemp($event)">
</lib-ucaddtotemp>