<!-- Basic form layout section start -->
<section id="horizontal-form-layouts">
  <div class="row text-left">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="px-3">
            <form class="form form-horizontal" id="formReport" #formIdReport>
              <div class="form-body">
                <h4 class="form-section font-weight-bold">
                  <div (click)="changeState()" class="btn no-padding cursor-pointer flip">
                    <i class="fa" style="font-size: 15px; margin: 0px 0px 5px -15px;"
                      [ngClass]="IsHidden ? 'fa-chevron-right' : 'fa-chevron-down'"></i>
                  </div>
                  {{Configuration?.title}}
                </h4>
                <!-- Ini Digunakan untuk Generate Dynamic Component -->
                <!-- [hidden]="IsHidden" -->
                <div class="panel-active" [@changeDivSize]=CurrentState>
                  <div class="row">
                    <div class="col-md-6 form-group" *ngFor="let criteria of Configuration?.component">
                      <div class="col-md-12">
                        <div class="row">
                          <label class="col-md-5 no-padding" translate>{{criteria.label}}</label>
                          <div class="col-md-7 no-padding">
                            <div *ngIf="criteria.type=='textbox'">
                              <input type="text" class="form-control search-form-control" name="{{criteria.name}}"
                                value="{{criteria.value}}" attr.data-type="{{criteria.datatype}}"
                                attr.data-restriction="{{criteria.restriction}}">
                            </div>
                            <div *ngIf="criteria.type=='textarea'">
                              <textarea type="text" class="form-control search-form-control" name="{{criteria.name}}"
                                attr.data-type="{{criteria.datatype}}" value="{{criteria.value}}"></textarea>
                            </div>
                            <div *ngIf="criteria.type=='numeric'">
                              <input type="text" (focus)="transformToDecimal($event)" (blur)="transformAmount($event)"
                                class="form-control search-form-control" name="{{criteria.name}}"
                                value="{{criteria.value}}" attr.data-restriction="{{criteria.restriction}}"
                                attr.data-type="{{criteria.datatype}}">
                            </div>

                            <!-- End Hardcode Lookup didalem-->
                            <div *ngIf="criteria.type=='datepicker'">
                              <input type="date" class="form-control search-form-control btn-lookup"
                                name="{{criteria.name}}" value="{{criteria.value}}"
                                attr.data-type="{{criteria.datatype}}" attr.data-restriction="{{criteria.restriction}}">
                            </div>
                            <div *ngIf="criteria.type=='dropdown'">
                              <!-- Ini kalau datanya tidak di load dari URL -->
                              <div *ngIf="!criteria.isFromURL">
                                <select name="{{criteria.name}}" class="form-control search-form-control"
                                  attr.data-type="{{criteria.datatype}}">
                                  <option *ngIf="!criteria.isSelectOne" value="All">
                                    All
                                  </option>
                                  <option *ngFor="let item of criteria?.items" value="{{item.key}}">
                                    {{item.value}}
                                  </option>
                                </select>
                              </div>
                              <!-- Ini kalau datanya di load dari URL -->
                              <div *ngIf="criteria.isFromURL">
                                <select name="{{criteria.name}}" class="form-control search-form-control"
                                  attr.data-type="{{criteria.datatype}}">
                                  <option *ngIf="!criteria.isSelectOne" value="All">
                                    All
                                  </option>
                                  <option *ngFor="let item of criteria?.itemsUrl" value="{{item.Key}}">
                                    {{item.Value}}
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 form-group">
                      <div class="col-md-12">
                        <div class="row">
                          <label class="col-md-5 no-padding" translate>Report Type</label>
                          <div class="col-md-7 no-padding">
                            <select name="ExportType" [(ngModel)]="ExportType" class="form-control search-form-control"
                              attr.data-type="text">
                              <option value="PDF"> PDF </option>
                              <option value="XLS"> Excel </option>
                              <option value="DOC"> Document </option>
                              <option value="JPDF"> JPDF </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 no-padding">
                    <form>
                      <div class="form-actions right">
                        <button type="button" (click)="reset()" class="btn btn-raised btn-warning mr-1" translate>
                          <i class="fa fa-times"></i> Reset
                        </button>
                        <button type="button" (click)="GenerateReport()" class="btn btn-raised btn-primary" translate>
                          <i class="fa ft-download"></i> Generate Report
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<!-- // Basic form layout section end -->