<!-- Basic form layout section start -->
<section id="horizontal-form-layouts">
    <div class="row text-left">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="px-3">
                        <form class="form form-horizontal" name="formEngine" #formEngine="ngForm"
                            (ngSubmit)="Save(formEngine)">
                            <div class="form-body" *ngFor="let component of components?.component">
                                <h4 class="form-section"> {{component.section}} <div id="flip" class="btn float-right"
                                        (click)="isHidden = !isHidden"><i class="fa"
                                            [ngClass]="isHidden ? 'fa-chevron-down' : 'fa-chevron-up'"></i></div>
                                </h4>
                                <!-- Ini Digunakan untuk Generate Dynamic Component -->
                                <!-- [hidden]="isHidden" -->
                                <div id="panel">
                                    <div class="col-md-12 form-group no-padding" style="float:left;"
                                        *ngFor="let question of component?.form">
                                        <div class="col-md-12">
                                            <label style="float:left;" class="col-md-3 no-padding" for="projectinput1"
                                                translate>{{question.label}}</label>
                                            <div class="col-md-9 no-padding" style="float:left;">
                                                <div *ngIf="question.type==='textbox'">
                                                    <input type="text" id="{{question.id}}"
                                                        class="form-control search-form-control"
                                                        name="{{question.name}}" value="{{question.value}}"
                                                        attr.data-type="{{question.datatype}}"
                                                        [required]="question.isMandatory" [(ngModel)]="question.value"
                                                        #textbox="ngModel">
                                                        <span *ngIf="(formEngine.submitted || textbox.touched) && !textbox.valid">
                                                            This Field is Required
                                                        </span>
                                                </div>
                                                <div *ngIf="question.type==='textarea'">
                                                    <textarea type="text" id="{{question.id}}"
                                                        class="form-control search-form-control"
                                                        name="{{question.name}}" attr.data-type="{{question.datatype}}"
                                                        value="{{question.value}}" [required]="question.isMandatory"
                                                        [(ngModel)]="question.value" #textarea = "ngModel"></textarea>
                                                        <span *ngIf="(formEngine.submitted || textarea.touched) && !textarea.valid">
                                                            This Field is Required
                                                        </span>
                                                </div>
                                                <div *ngIf="question.type==='numeric'">
                                                    <input [required]="question.isMandatory" type="text"
                                                        id="{{question.id}}" (focus)="transformToDecimal($event)"
                                                        (blur)="transformAmount($event)"
                                                        class="form-control search-form-control"
                                                        name="{{question.name}}" value="{{question.value}}"
                                                        attr.data-restriction="{{question.restriction}}"
                                                        attr.data-type="{{question.datatype}}"
                                                        [(ngModel)]="question.value" #numeric="ngModel">
                                                        <span *ngIf="(formEngine.submitted || numeric.touched) && !numeric.valid">
                                                            This Field is Required
                                                        </span>
                                                </div>
                                                <div *ngIf="question.type === 'checkbox'">
                                                    <input type="checkbox" id="{{question.id}}" class="form-control search-form-control"
                                                    name="{{question.name}}" [(ngModel)]="question.value" attr.data-restriction="{{question.restriction}}"
                                                    attr.data-type="{{question.datatype}}">
                                                </div>
                                                <!-- Sementara di Hardcode begini dulu-->
                                                <div *ngIf="question.type==='lookupProduct'">
                                                    <app-lookup></app-lookup>
                                                </div>

                                                <!-- End Hardcode Lookup didalem-->
                                                <div *ngIf="question.type==='datepicker'">
                                                    <input type="date" id="{{question.id}}"
                                                        class="form-control search-form-control btn-lookup"
                                                        name="{{question.name}}" value="{{question.value}}"
                                                        attr.data-type="{{question.datatype}}"
                                                        attr.data-restriction="{{question.restriction}}"
                                                        [required]="question.isMandatory" [(ngModel)]="question.value" #datepicker="ngModel">
                                                        <span *ngIf="(formEngine.submitted || datepicker.touched) && !datepicker.valid">
                                                            This Field is Required
                                                        </span>
                                                </div>
                                                <div *ngIf="question.type==='dropdown'">
                                                    <!-- Ini kalau datanya tidak di load dari URL -->
                                                    <div *ngIf="!question.isFromURL">
                                                        <select id="projectinput6" name="{{question.name}}"
                                                            class="form-control search-form-control"
                                                            attr.data-type="{{question.datatype}}"
                                                            [(ngModel)]="question.value" #dropdown = "ngModel" [required]="question.isMandatory">
                                                            <option *ngIf="!question.isSelectOne" value="All">
                                                                All
                                                            </option>
                                                            <option *ngFor="let item of question?.items"
                                                                value="{{item.key}}">
                                                                {{item.value}}
                                                            </option>
                                                        </select>
                                                        <span *ngIf="(formEngine.submitted || dropdown.touched) && !dropdown.valid">
                                                            This Field is Required
                                                        </span>
                                                    </div>
                                                    <!-- Ini kalau datanya di load dari URL -->
                                                    <div *ngIf="question.isFromURL">
                                                        <select id="projectinput6" name="{{question.name}}"
                                                            class="form-control search-form-control"
                                                            attr.data-type="{{question.datatype}}"
                                                            [(ngModel)]="question.value" #dropdownUrl = "ngModel">
                                                            <option *ngIf="!question.isSelectOne" value="All">
                                                                All
                                                            </option>
                                                            <option *ngFor="let item of question?.itemsUrl"
                                                                value="{{item.key}}">
                                                                {{item.value}}
                                                            </option>
                                                        </select>
                                                        <span *ngIf="(formEngine.submitted || dropdownUrl.touched) && !dropdownUrl.valid">
                                                            This Field is Required
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions right">
                                <button type="button" (click)="cancel()" class="btn btn-raised btn-warning mr-1"
                                    translate>
                                    <i class="ft-x"></i> Cancel
                                </button>
                                <button type="submit" class="btn btn-raised btn-primary" translate>
                                    <i class="fa fa-search"></i> Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // Basic form layout section end -->