<div class="row text-left">
  <div class="col-md-12">
    <div class="card">

      <div class="card-header header-title">
        <div class="row">
          <div class="col-md-12" style="text-align-last: right">
            <button type="button" class="backButton" [routerLink]="['/product/HOpaging']" translate>
              <i class="ft-arrow-left"></i> Back
            </button>
          </div>
        </div>
      </div>

      <lib-ucviewgeneric [viewInput]="viewProdMainInfoObj"> </lib-ucviewgeneric>

      <div class="card-body">
        <div class="px-3">
          <aw-wizard #wizard navBarLayout="large-empty-symbols" [defaultStepIndex]="0">
            <aw-wizard-step [stepTitle]="'General Data'" (stepEnter)="EnterTab('GeneralData')"
              [navigationSymbol]="{ symbol: '&#xf007;', fontFamily: 'FontAwesome' }">
              <app-general-data-HO *ngIf="type == 'GeneralData'" [objInput]="objPassing"></app-general-data-HO>
            </aw-wizard-step> 
          
            <aw-wizard-step [stepTitle]="'Product Component'" (stepEnter)="EnterTab('ProductComponent')"
              [navigationSymbol]="{ symbol: '&#xf007;', fontFamily: 'FontAwesome' }">
              <app-product-component-HO *ngIf="type == 'ProductComponent'" [objInput]="objPassing"></app-product-component-HO>
            </aw-wizard-step>

            <aw-wizard-step [stepTitle]="'Office Member'" (stepEnter)="EnterTab('OfficeMember')"
              [navigationSymbol]="{ symbol: '&#xf007;', fontFamily: 'FontAwesome' }">
              <app-office-member-HO *ngIf="type == 'OfficeMember'" [objInput]="objPassing"></app-office-member-HO>
            </aw-wizard-step>
          </aw-wizard>
        </div>
      </div>

    </div>
  </div>
</div>