<lib-ucSubsection [id]="'NotifBroadcastEmailId'" [title]="title" [panel]="'NotifBroadcastEmail'"></lib-ucSubsection>
<div class="form-body" id="NotifBroadcastEmail">

  <div class="form-group row adins-required">
    <label class="col-md-3 adInsLabel" translate>SEND_TO</label>
    <div class="col-md-9">
      <input type="text" [IsUpperCase]="false" class="form-control adInsInput width-50-per" [ngClass]="{ 'is-invalid': enjiForm.submitted && parentForm.controls.SendTo.invalid }" formControlName="SendTo">
      <lib-uc-show-errors [control]="parentForm.controls.SendTo" [submit]="enjiForm.submitted" [customPattern]="EmailCustomPattern">
      </lib-uc-show-errors>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 adInsLabel" translate>CC</label>
    <div class="col-md-9">
      <input type="text" [IsUpperCase]="false" class="form-control adInsInput width-50-per" [ngClass]="{ 'is-invalid': enjiForm.submitted && parentForm.controls.CcEmail.invalid }" formControlName="CcEmail">
      <lib-uc-show-errors [control]="parentForm.controls.CcEmail" [submit]="enjiForm.submitted" [customPattern]="EmailCustomPattern">
      </lib-uc-show-errors>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 adInsLabel" translate>BCC</label>
    <div class="col-md-9">
      <input type="text" [IsUpperCase]="false" class="form-control adInsInput width-50-per" [ngClass]="{ 'is-invalid': enjiForm.submitted && parentForm.controls.BccEmail.invalid }" formControlName="BccEmail">
      <lib-uc-show-errors [control]="parentForm.controls.BccEmail" [submit]="enjiForm.submitted" [customPattern]="EmailCustomPattern">
      </lib-uc-show-errors>
    </div>
  </div>
  <div class="form-group row adins-required">
    <label class="col-md-3 adInsLabel" translate>SUBJECT</label>
    <div class="col-md-9">
      <input type="text" class="form-control adInsInput"
        formControlName="Subject" [readonly]="IsUsedTemplate">
      <lib-uc-show-errors [control]="parentForm.controls.Subject" [submit]="enjiForm.submitted">
      </lib-uc-show-errors>
    </div>
  </div>
  <div class="form-group row adins-required">
    <label class="col-md-3 adInsLabel" translate>BODY</label>
    <div class="col-md-9">
      <div id="full-wrapper">
        <div id="full-container">
          <quill-editor [modules]="QuilConfig" formControlName="Body" [readOnly]="IsUsedTemplate"></quill-editor>
        </div>
      </div>
      <!-- <quill-editor formControlName="Body" ></quill-editor> -->
      <lib-uc-show-errors [control]="parentForm.controls.Body" [submit]="enjiForm.submitted">
      </lib-uc-show-errors>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 adInsLabel" translate>File Attachment</label>
    <div class="col-md-9">
      <label for="uploadBtn" class="btn btn-primary btn-sm afu-select-btn">CHOOSE FILE</label>
      <input type="file" id="uploadBtn" style="display: none" (change)="FileAttachmentChange($event)"
        title="Select file" name="files[]" [accept]=formatsAllowed [attr.multiple]="true" />
      <!-- <span class="px-1">{{GetTotalSizeFile}}</span> -->
      <label class="px-1 adInsLabel" [ngClass]="{ 'text-danger': !CheckTotalSizeFileIsValid }">{{convertSize(GetTotalSizeFile)}}</label>
      <!--Selected file list-->
      <div style="padding-left: 15px" class="row afu-valid-file" *ngFor="let sf of selectedFiles;let i=index">
        <p class="col-xs-3 textOverflow"><span class="text-primary">{{sf.name}}</span></p>
        <p class="col-xs-3 padMarg sizeC">
          <strong>({{convertSize(sf.size)}})</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <!--  <input class="col-xs-3 progress caption" type="text"  placeholder="Caption.."  [(ngModel)]="Caption[i]"  *ngIf="uploadClick"/> -->
        <!-- <div class="progress col-xs-3 padMarg afu-progress-bar"
          *ngIf="singleFile && progressBarShow && !hideProgressBar">
          <span class="progress-bar progress-bar-success" role="progressbar"
            [ngStyle]="{'width':percentComplete+'%'}">{{percentComplete}}%</span>
        </div> -->
        <a class="col-xs-1" role="button" (click)="removeFile(i,'sf')"><i
            class="fa fa-times"></i></a>
      </div>
      <!--Invalid file list-->
      <div style="padding-left: 15px" class="row text-danger afu-invalid-file" *ngFor="let na of notAllowedList;let j=index">
        <p class="col-xs-3 textOverflow"><span class="text-primary">{{na.name}}</span></p>
        <p class="col-xs-3 padMarg sizeC">
          <strong>({{convertSize(na.size)}})</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <p class="col-xs-3 ">Invalid Format</p>
        <a class="col-xs-1 delFileIcon" role="button" (click)="removeFile(j,'na')">&nbsp;<i
            class="fa fa-times"></i></a>
      </div>
    </div>
  </div>
</div>