<h4>JOB TITLE</h4>
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title" id="horz-layout-colored-controls">Job Title {{type}}</h4>
    </div>
    <div class="card-body">
      <div class="px-3">
        <form class="form form-horizontal" name="RefJobTitleForm" #RefJobTitleForm="ngForm" novalidate
        (ngSubmit)="RefJobTitleForm.form.valid && SaveForm(RefJobTitleForm)">
          <div class="form-body">
            <h4 class="form-section"><i class="ft-file-text"></i> {{type}}</h4>
            <div class="form-group row">
              <label class="col-md-3 label-control" for="JobTitleCode">Job Title Code: </label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="JobTitleCode" [(ngModel)]="JobTitleCode"
                #jobTitleCode="ngModel">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 label-control" for="JobTitleName">Job Title Name: </label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="JobTitleName" [(ngModel)]="JobTitleName"
                #jobTitleName="ngModel">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 label-control" for="Descr">Description: </label>
              <div class="col-md-9">
                <textarea rows="5" class="form-control" name="Descr" [(ngModel)]="Descr"
                #descr="ngModel"></textarea>
              </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 label-control" for="isInternal">Active Status: </label>
                <div class="col-md-9">
                    <input class="border-primary" type="checkbox"
                    [ngModel]="isInternal" data-md-icheck (change)="toggleVisibility($event)" name="isInternal">
                </div>
            </div>
          </div>
          <div class="form-actions right">
            <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="['/organization/refjobtitle']">
              <i class="ft-x"></i> Cancel
            </button>
            <button type="submit" class="btn btn-raised btn-primary">
              <i class="fa fa-check-square-o"></i> Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>