<div class="row text-left">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
         
        <div class="px-3" >


          <lib-ucSubsection [id]="'OtherLiabilities'" [title]="'Other Liabilities'" [panel]="'dOtherLiabilities'">
          </lib-ucSubsection>
          <div class="form-body" id="dOtherLiabilities">
            <div class="form-group row">
              <label class="col-md-3" translate> <b>No data available</b> </label>
            </div>
            <div class="form-group row">
              <label class="col-md-3" translate> No. of Open Agreements </label>
              <label class="col-md-3" translate> 0 </label>
              <label class="col-md-3" translate> Total Market Value </label>
              <label class="col-md-3" translate>IDR 0 </label>
            </div>
            <div class="form-group row">
              <label class="col-md-3" translate> No. of Open Agreements </label>
              <label class="col-md-3" translate> 0 </label>
              <label class="col-md-3" translate> Total Principal Arrears </label>
              <label class="col-md-3" translate>IDR 0 </label>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>