<div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="px-3">
          <div class="addEdit">
            <form class="form form-horizontal" [formGroup]="AssetMasterParentForm" (ngSubmit)="AssetMasterParentForm.valid && SaveForm()"
                  #enjiForm="ngForm">
              <div class="form-body">
                <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Asset Master Information {{this.pageType}}</h4>
                  <div class="form-group row">
                    <label class="col-md-3  adInsLabel adins-required" translate>Asset Type Name </label>
                    <div class="col-md-9">
                      <select class="form-control adInsInput" formControlName="AssetTypeId"
                      (change)="onChange()">
                        <option *ngFor="let ram of allAssetMasterMethod" [ngValue]="ram.Key">
                          {{ram.Value}}
                        </option>
                      </select>
                      <show-errors [control]="AssetMasterParentForm.controls.AssetTypeId" [submit]="enjiForm.submitted"></show-errors>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3  adInsLabel adins-required" translate>Hierarchy Level </label>
                    <div class="col-md-9">
                      <label style="font-size: larger;">
                          1
                      </label>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3  adInsLabel adins-required" translate>Asset Code </label>
                    <div class="col-md-9">
                      <input type="text" class="form-control adInsInput" formControlName="AssetCode"
                            [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetMasterParentForm.controls.AssetCode.invalid }">
                      <show-errors [control]="AssetMasterParentForm.controls.AssetCode" [submit]="enjiForm.submitted"></show-errors>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3  adInsLabel adins-required" translate>Asset Name </label>
                    <div class="col-md-9">
                      <input type="text" class="form-control adInsInput" formControlName="AssetName"
                            [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetMasterParentForm.controls.AssetName.invalid }">
                      <show-errors [control]="AssetMasterParentForm.controls.AssetName" [submit]="enjiForm.submitted"></show-errors>
                    </div>
                  </div>
                  <div *ngIf="isFinal == true">
                    <div class="form-group row">
                        <label class="col-md-3  adInsLabel adins-required" translate>Asset Category </label>
                        <div class="col-md-9">
                          <select class="form-control adInsInput" formControlName="AssetCategoryId">
                            <option *ngFor="let ram of resultAssetCategory" [value]="ram.Key">
                              {{ram.Value}}
                            </option>
                          </select>
                          <show-errors [control]="AssetMasterParentForm.controls.AssetCategoryId" [submit]="enjiForm.submitted"></show-errors>
                        </div>
                    </div>
                  </div>
                <div class="form-group row">
                    <label class="col-md-3  adInsLabel" translate>Active Status </label>
                    <div class="col-md-9">
                      <input class="border-primary" type="checkbox" data-md-icheck
                             formControlName="IsActive" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3  adInsLabel" translate>Final Status </label>
                    <div class="col-md-9">
                      <input class="border-primary" type="checkbox" data-md-icheck
                             formControlName="IsFinal" disabled />
                    </div>
                  </div>
              </div>
              <div class="form-actions right">
                <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="['/Asset/AssetMaster/Paging']"
                  translate>
                  <i class="ft-x"></i> Back
                </button>
                <button type="submit" class="btn btn-raised btn-primary" translate>
                  <i class="fa fa-check-square-o"></i> Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>  