<div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="px-3">
          <div class="addEdit">
            <form class="form form-horizontal" [formGroup]="AssetMasterParentForm" (ngSubmit)="AssetMasterParentForm.valid && SaveForm()"
                  #enjiForm="ngForm">
              <div class="form-body">
                <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Asset Master Information {{this.pageType}}</h4>
                  <div class="form-group row">
                    <label class="col-md-3  adInsLabel adins-required" translate>Asset Type Name </label>
                    <div class="col-md-9">
                      <select class="form-control adInsInput" formControlName="AssetTypeId"
                      (change)="onChange()">
                        <option *ngFor="let ram of allAssetMasterMethod" [ngValue]="ram.Key">
                          {{ram.Value}}
                        </option>
                      </select>
                      <lib-uc-show-errors [control]="AssetMasterParentForm.controls.AssetTypeId" [submit]="enjiForm.submitted"></lib-uc-show-errors>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3  adInsLabel adins-required" translate>Hierarchy Level </label>
                    <div class="col-md-9">
                      <label style="font-size: larger;">
                          1
                      </label>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3  adInsLabel adins-required" translate>Asset Code </label>
                    <div class="col-md-9">
                      <input type="text" class="form-control adInsInput" formControlName="AssetCode"
                            [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetMasterParentForm.controls.AssetCode.invalid }">
                      <lib-uc-show-errors [control]="AssetMasterParentForm.controls.AssetCode" [submit]="enjiForm.submitted"></lib-uc-show-errors>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3  adInsLabel adins-required" translate>Asset Name </label>
                    <div class="col-md-9">
                      <input type="text" class="form-control adInsInput" formControlName="AssetName"
                            [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetMasterParentForm.controls.AssetName.invalid }">
                      <lib-uc-show-errors [control]="AssetMasterParentForm.controls.AssetName" [submit]="enjiForm.submitted"></lib-uc-show-errors>
                    </div>
                  </div>
                  <div *ngIf="isFinal == true">
                    <div class="form-group row">
                        <label class="col-md-3  adInsLabel adins-required" translate>Asset Category </label>
                        <div class="col-md-9">
                          <select class="form-control adInsInput" formControlName="AssetCategoryId">
                            <option *ngFor="let ram of resultAssetCategory" [value]="ram.Key">
                              {{ram.Value}}
                            </option>
                          </select>
                          <lib-uc-show-errors [control]="AssetMasterParentForm.controls.AssetCategoryId" [submit]="enjiForm.submitted"></lib-uc-show-errors>
                        </div>
                    </div>
                  </div>
                <div class="form-group row">
                    <label class="col-md-3  adInsLabel" translate>Active Status </label>
                    <div class="col-md-9">
                      <input class="border-primary" type="checkbox" data-md-icheck
                             formControlName="IsActive" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3  adInsLabel" translate>Final Status </label>
                    <div class="col-md-9">
                      <input class="border-primary" type="checkbox" data-md-icheck
                             formControlName="IsFinal" disabled />
                    </div>
                  </div>
                  <div *ngIf="isFinal == true">
                    <table class="table table-responsive-md text-center table-hover">
                      <thead>
                        <tr class="table-header">
                          <th><input type="checkbox" [checked]="checkboxAll" (change)="SelectAll($event.target.checked)" id="checkAll"
                            name="CheckAll" hidden>
                          </th>
                          <th style="text-align: left;"><span class="thead-header" name='assetSchemeCode' translate>ASSET SCHEME CODE
                          </span>
                          </th>
                          <th style="text-align: left;"><span class="thead-header" name='assetSchemeName' translate>ASSET SCHEME NAME
                          </span>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of listAssetScheme">
                          <td>
                            <div *ngIf="listSelectedId.indexOf(item.AssetSchmHIdFromD) >- 1">
                              <input class="border-primary" type="checkbox" 
                               (change)="Checked(item.AssetSchmHIdFromH, $event.target.checked)" [checked]="true">
                            </div>
                            <div *ngIf="listSelectedId.indexOf(item.AssetSchmHIdFromD) < 0">
                              <input class="border-primary" type="checkbox" 
                               (change)="Checked(item.AssetSchmHIdFromH, $event.target.checked)" [checked]="false">
                            </div>
                          </td>
                          <td style="text-align: left;">{{item.AssetSchmCode}}</td>
                          <td style="text-align: left;">{{item.AssetSchmName}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
              <div class="form-actions right">
                <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="['/Asset/AssetMaster/Paging']"
                  translate>
                  <i class="fa fa-arrow-left"></i> Back
                </button>
                <button type="submit" class="btn btn-raised btn-primary" translate>
                  <i class="far fa-check-square"></i> Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>  