<div class="card">
  <div class="card-body">
    <div class="px-3">
      <lib-ucSubsection [id]="'MainInfo'" [title]="'Main Info'" [panel]="'MainInfoId'">
      </lib-ucSubsection>
      <form class="form form-horizontal" id="MainInfoId">
        <div class="form-body">
          <div class="form-group row ">
            <label class="col-md-2 adInsLabel" translate>Customer No</label>
            <div class="col-md-4">
              <a href="{{custUrl}}" target="_blank"><label style="color: blue; cursor: pointer; font-size: 12px;">{{this.tempCustObj?.CustNo}}</label></a>
            </div>
            <label class="col-md-2 adInsLabel" translate>Customer Name </label>
            <div class="col-md-4">
              <label>{{this.tempCustObj?.CustName}}</label>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2  adInsLabel" translate>Customer Model</label>
            <div class="col-md-4">
              <label>{{this.tempMrCustModelCode?.CustModelName}} </label>
            </div>
            <label class="col-md-2  adInsLabel" translate>Company Type </label>
            <div class="col-md-4">
              <label>{{this.tempCustObj?.MrCustTypeCode}} </label>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 adInsLabel" translate>Tax Id No</label>
            <div class="col-md-4">
              <label>{{this.tempCustObj?.TaxIdNo}} </label>
            </div>
            <label class="col-md-2 adInsLabel" translate>Affiliation With Multifinance</label>
            <div class="col-md-4">
              <label>{{this.StatusAffiliate}}</label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 adInsLabel" translate>VIP</label>
            <div class="col-md-4">
              <label>{{this.StatusIsVip}}</label>
            </div>
            <label class="col-md-2 adInsLabel" translate>VIP Notes</label>
            <div class="col-md-4">
              <label>{{this.tempCustObj?.VipNotes}}</label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>