toggle
<input type="checkbox" name="toggle" id="toggle" />
<label for="toggle"></label>
<div class="container">
  <h1>Pure CSS3 Slide Down Toggle Demo</h1>
  <h2> Click the Open button to see hidden mesage.</h2>
</div>
<div class="message">
  <h1> hello, I'm a hidden message. You found it.</h1>
  <h2>Now Click the Heart button in the bottom to support CSS3</h2>
</div>







<!-- <div class="row text-left">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="px-3">
          <form class="form form-horizontal">
            <div class="form-body" id="BankInformation">
              <div class="form-group row adins-required">
                <label class="col-md-3" translate>Bank Code </label>
                <div class="col-md-9">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row adins-required">
                <label class="col-md-3" translate>Bank Name </label>
                <div class="col-md-9">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row adins-required">
                <label class="col-md-3" translate>BI Code </label>
                <div class="col-md-9">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3" translate>Active Status </label>
                <div class="col-md-9">
                  <input class="border-primary" type="checkbox">
                </div>
              </div>
            </div>
            <div class="form-actions right">
              <button type="button" class="btn btn-raised btn-warning mr-1" translate>
                <i class="ft-arrow-left"></i> Back
              </button>
              <button type="submit" class="btn btn-raised btn-primary">
                <i class="fa fa-check-square-o"></i> Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->