<div class="row text-left">
  <div class="col-md-12">
    <div class="card">      
      <div class="card-body">
        <div class="px-3">
          <div class="card-header header-title">
            <div class="row">
              <div class="col-md-8">
                <h4 class="card-title" id="horz-layout-colored-controls" translate>VIEW SLIK</h4>
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="card-body">
            <lib-ucSubsection [id]="'SlikData'" [title]="'SLIK DATA'" [panel]="'dSlikData'">
            </lib-ucSubsection>
            <div class="form-body" id="dSlikData">
              <div class="form-group row">
                <label class="col-md-3" translate>Slik Date Checked</label>
                <label class="col-md-3" translate>9/15/2020</label>  
                <label class="col-md-3" translate>Worst Period</label>
                <label class="col-md-3" translate>202003</label>               
              </div>
              <div class="form-group row">
                <label class="col-md-3" translate>Worst Status Collection</label>
                <label class="col-md-3" translate>1</label>  
                <label class="col-md-3" translate>Worst Period Group</label>
                <label class="col-md-3" translate>20200915110345</label>              
              </div>
              <div class="form-group row">
                <label class="col-md-3" translate>Worst Overdue</label>
                <label class="col-md-3" translate>0</label>  
                <label class="col-md-3" translate>Total Last Baki</label>
                <label class="col-md-3 text-right" translate>100,000,000.00</label>              
              </div>
              <div class="form-group row">
                <label class="col-md-3" translate>Total Plafond</label>
                <label class="col-md-3 text-right" translate>141,359,000</label>  
                <label class="col-md-3" translate>WorstLastStatusKOL</label>
                <label class="col-md-3" translate>3</label>              
              </div>
              <div class="form-group row">
                <label class="col-md-3" translate>Total Baki Debit</label>
                <label class="col-md-3 text-right" translate>224,993,717.00</label>  
                <label class="col-md-3" translate>Total Give Facility</label>
                <label class="col-md-3" translate>3</label>              
              </div>
              <div class="form-group row">
                <label class="col-md-3" translate>Total Facility KK</label>
                <label class="col-md-3" translate>1</label>  
                <label class="col-md-3" translate>Total All Baki Debit KK</label>
                <label class="col-md-3 text-right" translate>124,993,717.00</label>              
              </div>
              <div class="form-group row">
                <label class="col-md-3" translate>Worst Baki Debit KK</label>
                <label class="col-md-3" translate>1</label>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>