<div class="ucSearch-Button-Right">
  <span class="mr-1">
    <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="['/CommonSetting/Holiday']">
      <i class="fa fa-arrow-left"> </i> Back 
    </button>
    <button type="button" class="btn btn-raised btn-primary" (click)="AddNavigate()">
      <i class="fa fa-plus"></i> Add
    </button>
  </span>
</div>
<div class="card">
  <div class="card-body">
    <div class="card-header header-title">
      <div class="row">
        <div class="col-md-8">
          <h4 class="form-section card-title" translate>Holiday Management</h4>
        </div>
      </div>
    </div>
    <div class="px-3">
      <lib-ucSubsection [id]="'subsectionExistingHolidaySchemeId'" [title]="title"
        [panel]="'subsectionExistingHolidayScheme'"></lib-ucSubsection>
      <div id="subsectionExistingHolidayScheme">
        <form class="form form-horizontal" [formGroup]="HolidayManagementForm" #HolidayManagement="ngForm">
          <div class="form-body">
            <div class="form-group row">
              <label class="col-md-3 adInsLabel">Existing Holiday Scheme </label>
              <div class="col-md-3">
                <lib-uclookupgeneric [enjiForm]="HolidayManagement" [lookupInput]="inputPagingObjHolidayScheme"
                  [parentForm]="HolidayManagementForm" [identifier]="'lookupValueHolidayScheme'"
                  (lookup)="getHolidaySchmHId($event)"></lib-uclookupgeneric>
              </div>
              <button type="button" class="btn btn-raised btn-primary" (click)="Copy()">
                <i class="far fa-check-square"></i> Copy
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <lib-ucpaging [searchObj]="inputPagingObjHolidayDetail"></lib-ucpaging>
  </div>
</div>