<section id="horizontal-form-layouts">
  <div class="row text-left">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="px-3">
            <form class="form form-horizontal" name="RoleFrmForm" #RoleFrmForm="ngForm" (ngSubmit)="Save()">
              <div class="form-body">
                <h4 class="form-section"><i class="ft-user"></i>Assign Form Feature</h4>

               <div class="form-group row">
                  <label class="col-md-3 label-control">Role Name</label>
                  <div class="col-md-9">
                    <label>{{roleName}}</label></div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control">Form Name</label>
                  <div class="col-md-9">
                    <label>{{formName}}</label></div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 label-control">Feature</label>
                  <div class="custom-control custom-checkbox m-0" *ngFor="let item of listFeature" >
                    <div *ngIf="item.value === true">
                     <input type="checkbox" (change)="Checked(item,  $event.target.checked)" [checked]=true> {{item.formComponent}}
                    </div>
                    <div *ngIf="item.value === false">
                      <input type="checkbox" (change)="Checked(item,  $event.target.checked)" [checked]=false> {{item.formComponent}}
                    </div>
                  </div>
                </div>
                <div class="form-actions">
                  <button type="button" (click)="Back()" class="btn btn-raised btn-warning mr-1">
                    <i class="ft-x"></i> Back
                  </button>

                  <button type="submit" class="btn btn-raised btn-primary">
                    <i class="fa fa-check-square-o"></i> Save
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
