<section id="horizontal-form-layouts">
  <div class="row text-left">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-8">
              <h4 class="card-title" id="horz-layout-colored-controls" translate>{{pageType}} ASSET SCHEME MEMBER
              </h4>
            </div>
            <div class="col-md-4" style="text-align-last: right">
              <button type="button" class="backButton" [routerLink]="['/Asset/Scheme/Paging']"
                 translate>
                <i class="ft-arrow-left"></i> Back
              </button>
              <button type="button" class="addButton" [routerLink]="['/Asset/Scheme/AddMember']" [queryParams]="{AssetSchmHId:AssetSchmHId}" translate>
                <i class="ft-plus-circle"></i> Add
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <lib-ucviewgeneric [viewInput]="viewObj"></lib-ucviewgeneric>
          <lib-ucpaging [searchObj]="inputPagingObj"></lib-ucpaging>
        </div>
      </div>
    </div>
  </div>
</section>