<div class="card-body">
  <div class="px-3">

    <form class="form form-horizontal" [formGroup]="RefGeneralDataForm">
      <!-- Main Info -->
      <div class="form-body">
        <h4 class="form-section card-title" translate><i class="ft-file-text"></i>  </h4>
        
        <!-- Look Up Copy Product -->
        <!-- <div class="form-group row">
          <label class="col-md-3  adInsLabel" >Copy Product</label>
          <div class="col-md-6">
            <lib-uclookupgeneric width-75-per [lookupInput]="inputLookUpObj" [parentForm]='RefGeneralDataForm'>
            </lib-uclookupgeneric>
          </div>
        </div> -->

        <div formArrayName="items">
          <div *ngFor="let item of RefGeneralDataForm.controls.items.controls; let i = index;">
            <div class="form-group row" [formGroupName]="i">
              <label class="col-md-3 text-left" translate> {{item.controls.ProdCompntName.value}} </label>
              <div class="col-md-6" style="border-right: 1px solid grey" [ngSwitch]="item.controls.ProdCompntType.value">
                <div *ngSwitchCase="'DDL'">
                  <P>DROP DOWN LIST</P>
                </div>
                <div *ngSwitchCase="'AMT'">
                  <P>AMOUNT</P>
                </div>
                <div *ngSwitchCase="'DATE'">
                  <P>DATE</P>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>

  </div>
</div>
