<!-- Basic form layout section start -->
<section id="horizontal-form-layouts">
  <div class="row text-left">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="px-3">
            <form class="form form-horizontal" id="formSearch" #formIdSearch>
              <div class="form-body">
                <h4 class="form-section"><i class="ft-search"></i> Search <div id="flip" class="btn float-right"
                    (click)="isHidden = !isHidden"><i class="fa" [ngClass]="isHidden ? 'fa-chevron-down' : 'fa-chevron-up'"></i></div>
                </h4>
                <!-- Ini Digunakan untuk Generate Dynamic Component -->
                <!-- [hidden]="isHidden" -->
                <div id="panel" style="display: block;">
                  <div class="col-md-6 form-group no-padding" style="float:left;" *ngFor="let question of configuration?.component">
                    <div class="col-md-12">
                      <label style="float:left;" class="col-md-5 no-padding" for="projectinput1">{{question.label}}</label>
                      <div class="col-md-7 no-padding" style="float:left;">
                        <div *ngIf="question.type==='textbox'">
                          <input type="text" id="{{question.id}}" class="form-control search-form-control" name="{{question.name}}" value="{{question.value}}">
                        </div>
                        <div *ngIf="question.type==='textarea'">
                          <textarea type="text" id="{{question.id}}" class="form-control search-form-control" name="{{question.name}}"
                            value="{{question.value}}"></textarea>
                        </div>
                        <div *ngIf="question.type==='numeric'">
                          <input type="text" id="{{question.id}}" (focus)="transformToDecimal($event)" (blur)="transformAmount($event)"
                            class="form-control search-form-control" name="{{question.name}}" value="{{question.value}}" data-title="{{question.restriction}}">
                        </div>
                        <div *ngIf="question.type==='datepicker'">
                          <input type="date" id="{{question.id}}" class="form-control search-form-control" name="{{question.name}}" value="{{question.value}}"
                            data-title="{{question.restriction}}">
                        </div>
                        <div *ngIf="question.type==='dropdown'">
                          <!-- Ini kalau datanya tidak di load dari URL -->
                          <div *ngIf="!question.isFromURL">
                            <select id="projectinput6" name="{{question.name}}" class="form-control search-form-control">
                              <option *ngIf="!question.isSelectOne" value="All">
                                All
                              </option>
                              <option *ngFor="let item of question?.items" value="{{item.key}}">
                                {{item.value}}
                              </option>
                            </select>
                          </div>
                          <!-- Ini kalau datanya di load dari URL -->
                          <div *ngIf="question.isFromURL">
                            <select id="projectinput6" name="{{question.name}}" class="form-control search-form-control">
                              <option *ngIf="!question.isSelectOne" value="All">
                                All
                              </option>
                              <option *ngFor="let item of question?.itemsUrl" value="{{item.key}}">
                                {{item.value}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>

</section>
<!-- // Basic form layout section end -->