<div class="ucSearch-Button-Right">
  <span class="mr-1">
    <button type="button" class="backButton" [routerLink]="['../MainInfo']" translate>
      <i class="ft-x"></i> Cancel
    </button>
    <button type="submit" class="addButton" translate>
      <i class="fa fa-check-square-o"></i> Next
    </button>
  </span>
</div>
<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="px-3">
        <div class="addEdit">
          <form class="form form-horizontal">
            <div class="form-body">
              <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Main Info
              </h4>
            </div>
          </form>
          <lib-ucSubsection [id]="'MainInfo'" [title]="'Main Info'" [panel]="'MainInfoId'">
          </lib-ucSubsection>
          <form class="form form-horizontal" [formGroup]="CustomerPersonalForm" (ngSubmit)="CustomerPersonalForm.valid "
            #enjiForm="ngForm" id="MainInfoId">
            <div class="form-body">
              <div class="form-group row ">
                <label class="col-md-2 adInsLabel" translate>Customer Name </label>
                <div class="col-md-4">
                  <label>{{this.CustName}}</label>               
                </div>

                <label class="col-md-2  adInsLabel" translate>Gender </label>

                <div class="col-md-4">
                   <label>{{this.GenderDesc}}</label>
                 </div> 
              </div>
             <div class="form-group row">
                <label class="col-md-2 adInsLabel" translate>ID Type </label>
                <div class="col-md-4">

                <label>{{this.MrIdTypeCodeDesc}}</label>
                </div>

                <label class="col-md-2 adInsLabel" translate>Birth Place/Date </label>
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-6" style="border-right: 1px solid grey">
                      <label>{{this.BirthPlace}}</label>
                   
                    </div>
                    <div class="col-md-6">
                      <label>{{this.BirthDt}}</label>
                   
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row ">
                <label class="col-md-2 adInsLabel" translate>ID Number </label>
                <div class="col-md-4">
                  <label>{{this.IdNo}}</label>
                </div>
                <label class="col-md-2 adInsLabel" translate>NPWP</label>
                <div class="col-md-4">
                  <label>{{this.TaxIdNo}}</label>
                </div>
              </div>
              <div class="form-group row ">
                <label class="col-md-2 adInsLabel" translate>ID Expired Date</label>
                <div class="col-md-4">
                  <label>{{this.IdExpiredDt}}</label>
                
                </div>

                <label class="col-md-2 adInsLabel" translate>Mother Maiden Name</label>
                <div class="col-md-4">
                  <label>{{this.MotherMaidenName}}</label>
              
                </div>
              </div>
            </div>
          </form>
        </div>

        <!-- Match / Similar Data -->
        <form class="form form-horizontal">
          <div class="form-body">
            <h4 class="form-section card-title" translate>
              Match / Similar Data
            </h4>
          </div>
        </form>
        <div class="d-flex justify-content-end ">
          <span class="mr-1 d-flex align-content-center ">
            <button type="button" class="addButton" [routerLink]="['../Page']"
              [queryParams]="{CustName: this.CustName,GenderDesc:this.GenderDesc, Gender : this.Gender, MrIdTypeCode : this.MrIdTypeCode,MrIdTypeCodeDesc : this.MrIdTypeCodeDesc,BirthPlace : this.BirthPlace, BirthDt: this.BirthDt, IdNo: this.IdNo, TaxIdNo: this.TaxIdNo,IdExpiredDt: this.IdExpiredDt, MotherMaidenName: this.MotherMaidenName}  " translate>
              New
            </button>
          




            <button type="button" class="addButton" [routerLink]="['../../Configuration/Paging']" translate>
              Select
            </button>
          </span>
        </div>



        <table class="table table-responsive-md text-center table-hover">
          <thead>
            <tr class="table-header">

              <th class="text-left"><span class="thead-header" name='fullAssetCode' translate>Customer No</span>
              </th>
              <th class="text-left"><span class="thead-header" name='fullAssetCode' translate>Customer Name</span>
              </th>
              <th class="text-left"><span class="thead-header" name='fullAssetCode' translate>ID Type
                </span>
              </th>
              <th class="text-left"><span class="thead-header" name='fullAssetCode' translate>ID No</span>
              </th>
              <th class="text-left"><span class="thead-header" name='fullAssetCode' translate>NPWP</span>
              </th>
              <th class="text-left"><span class="thead-header" name='fullAssetName' translate>Birth Date</span>
              </th>
              <th class="text-left"><span class="thead-header" name='assetCategoryName' translate>Mother Maiden
                  Name</span>
              </th>
              <th class="text-left"><span class="thead-header" name='assetCategoryName' translate>Duplicate Item</span>
              <th class="text-left"><span class="thead-header" name='assetCategoryName' translate>Select</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of resultData?.Data">

              <td class="text-left">{{item.assetCode}}</td>
              <td class="text-left">{{item.assetName}}</td>
              <td class="text-left">{{item.fullAssetCode}}</td>
              <td class="text-left">{{item.fullAssetName}}</td>
              <td class="text-left">{{item.assetCategoryName}}</td>
            </tr>
          </tbody>
        </table>



        <!-- Negative Customer Match / Similar Data -->



        <form class="form form-horizontal" style="margin-top: 10px;">
          <div class="form-body">
            <h4 class="form-section card-title" translate>
              Negative Customer Match / Similar Data
            </h4>
          </div>
        </form>
       


        <table class="table table-responsive-md text-center table-hover">
          <thead>
            <tr class="table-header">

              <th class="text-Justify"><span class="thead-header" name='fullAssetCode' translate>Customer No</span>
              </th>
              <th class="text-Justify"><span class="thead-header" name='fullAssetCode' translate>Customer Name</span>
              </th>
              <th class="text-Justify"><span class="thead-header" name='fullAssetCode' translate>ID Type
                </span>
              </th>
              <th class="text-Justify"><span class="thead-header" name='fullAssetCode' translate>ID No</span>
              </th>
              <th class="text-Justify"><span class="thead-header" name='fullAssetCode' translate>NPWP</span>
              </th>
              <th class="text-Justify"><span class="thead-header" name='fullAssetName' translate>Birth Date</span>
              </th>
              <th class="text-Justify"><span class="thead-header" name='assetCategoryName' translate>Mother Maiden
                  Name</span>
              </th>
              <th class="text-Justify"><span class="thead-header" name='assetCategoryName' translate>Status</span>
            </th>
            <th class="text-Justify"><span class="thead-header" name='assetCategoryName' translate>Negative Source</span>
          </th>
              <th class="text-Justify"><span class="thead-header" name='assetCategoryName' translate>Duplicate Item</span>
              <th class="text-JustifyX"><span class="thead-header" name='assetCategoryName' translate>Select</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of resultData?.Data">

              <td class="text-left">{{item.assetCode}}</td>
              <td class="text-left">{{item.assetName}}</td>
              <td class="text-left">{{item.fullAssetCode}}</td>
              <td class="text-left">{{item.fullAssetName}}</td>
              <td class="text-left">{{item.assetCategoryName}}</td>
            </tr>
          </tbody>
        </table>















      </div>











    </div>
  </div>
</div>