<section id="horizontal-form-layouts">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="content-header">PROSPECT VERIFICATION</div>
    </div>
  </div>
  <div class="row text-left">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="px-3">
            <form class="form form-horizontal" name="ProspectReqForm" #ProspectReqForm="ngForm"
              (ngSubmit)="Save(ProspectReqForm)">
              <div class="form-body">
                <h4 class="form-section"><i class="ft-user"></i> Customer Info </h4>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-3 label-control">Customer Type: </label>
                      <div class="col-md-9">
                        <label>Personal</label></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-3 label-control">Customer Model: </label>
                      <div class="col-md-9">
                        <label>{{ProsObj.CustModel}}</label></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-3 label-control">Customer Name: </label>
                      <div class="col-md-9">
                        <label>{{ProsObj.CustName}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-3 label-control">KTP No: </label>
                      <div class="col-md-9">
                        <label>{{ProsObj.KtpNo}}</label></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-3 label-control">Gender: </label>
                      <div class="col-md-9">
                        <label>{{ProsObj.Gender}}</label></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-3 label-control">Birth Place/Date: </label>
                      <div class="col-md-9">
                        <label>{{ProsObj.BirthPlace}}</label>, <label>{{ProsObj.BirthDt}}</label></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-3 label-control">NPWP No: </label>
                      <div class="col-md-9">
                        <label>{{ProsObj.NpwpNo}}</label></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-3 label-control">Mother Maiden Name: </label>
                      <div class="col-md-9">
                        <label>{{ProsObj.MotherMaidenName}}</label></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-3 label-control">Phone No: </label>
                      <div class="col-md-9">
                        <label>{{ProsObj.PhoneNo}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-3 label-control">E-mail: </label>
                      <div class="col-md-9">
                        <label>{{ProsObj.Email}}</label></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-3 label-control">Job: </label>
                      <div class="col-md-9">
                        <label>{{ProsObj.Job}}</label></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-3 label-control">Income: </label>
                      <div class="col-md-9">
                        <label>{{ProsObj.Income}}</label></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-3 label-control">Address</label>
                    <div class="col-md-9">
                      <label>{{ProsObj.Address}}</label>
                    </div>
                  </div>
                </div>
              </div>


              <div class="form-actions">
                <button type="button" (click)="Back()" class="btn btn-raised btn-warning mr-1">
                  <i class="ft-x"></i> Cancel
                </button>
                <button type="submit" class="btn btn-raised btn-primary">
                  <i class="fa fa-check-square-o"></i> Save
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
