<lib-ucSubsection [id]="'NotifBroadcastNotifId'" [title]="title" [panel]="'NotifBroadcastNotif'"></lib-ucSubsection>
<div class="form-body" id="NotifBroadcastNotif">
  <div class="form-group row" [hidden]="IsResend">
    <label class="col-md-3 adInsLabel" translate>SEND_TYPE</label>
    <div class="col-md-9">
      <mat-radio-group formControlName="SendType" (change)="ChangeSendType($event.value)">
        <mat-radio-button class="custom-control custom-radio display-inline-block"
          *ngFor="let item of ListSendType" [value]="item.Key">
          {{item.Value}}
        </mat-radio-button>
      </mat-radio-group>
      <lib-uc-show-errors [control]="parentForm.controls.SendType" [submit]="enjiForm.submitted">
      </lib-uc-show-errors>
    </div>
  </div>
  <div class="form-group row" [ngClass]="{ 'adins-required': IsResend }" [hidden]="GetSendType == SendTypeAll">
    <label class="col-md-3" translate>{{!IsResend ? "USERNAME" : "SEND_TO"}}</label>
    <div class="col-md-9 input-group">
      <lib-uclookupgeneric *ngIf="SendtoLookupObj.isReady" [lookupInput]="SendtoLookupObj" [parentForm]="parentForm" [enjiForm]="enjiForm" (lookup)="getLookUp($event)"
        [identifier]="IdentifierLookupSendTo">
      </lib-uclookupgeneric>
      <button type="button" [hidden]="IsResend || MaxSpecificUser == SendToLength" (click)="AddSendTo()" class="btn btn-primary btn-raised"
          style="vertical-align: middle;">
          <i class="ft-plus-circle font-medium-2"></i>
      </button>
    </div>
  </div>
  <div class="form-group row adins-required" [hidden]="IsResend">
    <label class="col-md-3 adInsLabel" translate>SEND_TO</label>
    <div class="col-md-9">
      <tag-input formControlName="SendTo" [disable]="IsSendToReadonly" [editable]="false" [maxItems]="0" [required]="true" [separatorKeyCodes]="[32, 188]" [onRemoving]="onRemoving">
      </tag-input>
      <lib-uc-show-errors [control]="parentForm.controls.SendTo" [submit]="enjiForm.submitted">
      </lib-uc-show-errors>
    </div>
  </div>
  <div class="form-group row adins-required">
    <label class="col-md-3 adInsLabel" translate>TITLE</label>
    <div class="col-md-9">
      <input type="text" class="form-control adInsInput" [ngClass]="{ 'is-invalid': enjiForm.submitted && parentForm.controls.Subject.invalid }"
        formControlName="Subject" [readonly]="IsUsedTemplate">
      <lib-uc-show-errors [control]="parentForm.controls.Subject" [submit]="enjiForm.submitted">
      </lib-uc-show-errors>
    </div>
  </div>
  <div class="form-group row adins-required">
    <label class="col-md-3 adInsLabel" translate>BODY</label>
    <div class="col-md-9">
      <textarea class="form-control adInsInput width-50-per" [ngClass]="{ 'is-invalid': enjiForm.submitted && parentForm.controls.Body.invalid }" [readonly]="IsUsedTemplate" formControlName="Body" cols="50" rows="5"></textarea>
      <lib-uc-show-errors [control]="parentForm.controls.Body" [submit]="enjiForm.submitted">
      </lib-uc-show-errors>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 adInsLabel" translate>BASE URL</label>
    <div class="col-md-9">
      <input type="text" class="form-control adInsInput"
        formControlName="BaseUrl">
      <lib-uc-show-errors [control]="parentForm.controls.BaseUrl" [submit]="enjiForm.submitted">
      </lib-uc-show-errors>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 adInsLabel" translate>PATH</label>
    <div class="col-md-9">
      <input type="text" class="form-control adInsInput"
        formControlName="Path">
      <lib-uc-show-errors [control]="parentForm.controls.Path" [submit]="enjiForm.submitted">
      </lib-uc-show-errors>
    </div>
  </div>
</div>