<lib-ucviewgeneric [viewGenericObj]="viewGenericObj"></lib-ucviewgeneric>
<lib-ucpaging [searchObj]="inputPagingObj"></lib-ucpaging>
<div class="ucSearch-Button-Right">
  <span class="mr-1">
    <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="['/SystemSetting/NotificationApproval']" skipLocationChange
      translate>
      <i class="far fa-window-close"></i> Cancel
    </button>
    <button id="btnReturn" (click)="SaveForm($event)" class="btn btn-raised btn-primary mr-1" translate>
      <i class="fa fa-reply"></i> Return
    </button>
    <button id="btnReject" (click)="SaveForm($event)" class="btn btn-raised btn-danger mr-1" translate>
      <i class="ft-x"></i> Reject
    </button>
    <button id="btnApprove" (click)="SaveForm($event)" class="btn btn-raised btn-primary" translate>
      <i class="far fa-check-square"></i> Approve
    </button>
  </span>
</div>