<div class="row text-left">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
         
        <div class="px-3" >


          <lib-ucSubsection [id]="'Securities'" [title]="'Securities'" [panel]="'dSecurities'">
          </lib-ucSubsection>
          <div class="form-body" id="dSecurities">
            <div class="form-group row">
              <label class="col-md-3" translate>No data available</label>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>