<app-search-v2 id="ucSearch1" style="width:100%;" #search1 [searchInput]='inputObj1' (result)="getResult1($event)"></app-search-v2>
<div [hidden]="resultData1?.data == null">
  <table class="table table-responsive-md text-center table-hover">
    <thead>
      <tr class="table-header">
        <th><span translate class="thead-header" (click)="searchSort1($event)" name='bankCode'>Bank Code</span></th>
        <th><span translate class="thead-header" (click)="searchSort1($event)" name='bankName'>Bank Name</span></th>
        <th><span translate class="thead-header" (click)="searchSort1($event)" name='regRptCode'>BI Code</span></th>
        <th><span translate class="thead-header" (click)="searchSort1($event)" name='isActive'>Active</span></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of resultData1?.data">
        <td>{{item.bankCode}}</td>
        <td class="text-left">{{item.bankName}}</td>
        <td>{{item.regRptCode}}</td>
        <td>
          <span *ngIf="item.isActive == '1'">Yes</span>
          <span *ngIf="item.isActive == '0'">No</span>
        </td>
      </tr>
    </tbody>
  </table>
  <lib-ucgridfooter #footer1 (select)="onSelect1($event)"></lib-ucgridfooter>
</div>
<br>
<br>
<br>
<app-search-v2 id="ucSearch2" style="width:100%;" #search2 [searchInput]='inputObj2' (result)="getResult2($event)"></app-search-v2>

<div [hidden]="resultData2?.data == null" #resultTable>
  <table class="table table-responsive-md text-center table-hover">
    <thead>
      <tr class="table-header">
        <th><span class="thead-header" (click)="searchSort2($event)" name='masterCode'>Master
            Code</span></th>
        <th><span class="thead-header" (click)="searchSort2($event)"
            name='descr'>Description</span></th>
        <th><span class="thead-header" (click)="searchSort2($event)" name='regRptCode'>BI Code</span></th>
        <th><span class="thead-header" (click)="searchSort2($event)" name='isActive'>Active</span></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of resultData2?.data">
        <td>{{item.masterCode}}</td>
        <td class="text-left">{{item.descr}}</td>
        <td>{{item.regRptCode}}</td>
        <td>{{item.isActive}}</td>
      </tr>
    </tbody>
  </table>
  <lib-ucgridfooter #footer2 (select)="onSelect2($event)"></lib-ucgridfooter>
</div>