<div class="row text-left">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header header-title">
        <div class="row">
          <div class="col-md-8">
            <h4 class="card-title" id="horz-layout-colored-controls" translate>PERSONAL INFORMATION</h4>
          </div>
        </div>
      </div>
      <div class="card-body">
         
        <div class="px-3" >
            <lib-ucSubsection [id]="'Name'" [title]="'Name'" [panel]="'dName'">
            </lib-ucSubsection>
            <div class="form-body" id="dName">
              <div class="form-group row">
                <label class="col-md-3" translate>Name Based on ID</label>
                <label class="col-md-3" translate>Roza Lina</label>  
                <label class="col-md-3" translate>Full Name</label>
                <label class="col-md-3" translate>Roza Lina</label>               
              </div>
              <div class="form-group row">
                <label class="col-md-3" translate>Mother's Maiden Name</label>
                <label class="col-md-3" translate>Yusneti</label>  
                <label class="col-md-3" translate>Alias</label>
                <label class="col-md-3" translate>Roza</label>               
              </div>
            </div>

            <lib-ucSubsection [id]="'Address'" [title]="'Address'" [panel]="'dAddress'">
            </lib-ucSubsection>
            <div class="form-body" id="dAddress">
              <div class="form-group row">
                <label class="col-md-3" translate>Contact Address</label>
                <label class="col-md-3" translate>JL. Diponegoro Kel Belakang Tangsi Kec.Padang Barat Padang, 3492, 25118</label>                
              </div>
            </div>

            <lib-ucSubsection [id]="'Contact'" [title]="'Contact'" [panel]="'dContact'">
            </lib-ucSubsection>
            <div class="form-body" id="dContact">
              <div class="form-group row">
                <label class="col-md-3" translate>Mobile</label>
                <label class="col-md-3" translate>08126701496</label>     
                <label class="col-md-3" translate>Email</label>
                <label class="col-md-3" translate>rozalina076@gmail.com</label>                
              </div>
              <div class="form-group row">
                <label class="col-md-3" translate>Fixed Line</label>
                <label class="col-md-3" translate>0</label>                     
              </div>
            </div>

            <lib-ucSubsection [id]="'MainId'" [title]="'Main Ids'" [panel]="'dMainId'">
            </lib-ucSubsection>
            <div class="form-body" id="dMainId">
              <div class="form-group row">
                <label class="col-md-3" translate>KTP</label>
                <label class="col-md-3" translate>1376016306770001</label>     
                <label class="col-md-3" translate>NPWP</label>
                <label class="col-md-3" translate>671689883204000@gmail.com</label>                
              </div>
            </div>

            <lib-ucSubsection [id]="'BirthData'" [title]="'Birth Data'" [panel]="'dBirthData'">
            </lib-ucSubsection>
            <div class="form-body" id="dBirthData">
              <div class="form-group row">
                <label class="col-md-3" translate>Date of Birth</label>
                <label class="col-md-3" translate>6/23/1977</label>     
                <label class="col-md-3" translate>Place of Birth</label>
                <label class="col-md-3" translate>BUKIT TINGGI</label>                
              </div>
            </div>

            <lib-ucSubsection [id]="'MainPersonal'" [title]="'Main Personal Data'" [panel]="'dMainPersonal'">
            </lib-ucSubsection>
            <div class="form-body" id="dMainPersonal">
              <div class="form-group row">
                <label class="col-md-3" translate>Gender</label>
                <label class="col-md-3" translate> </label>     
                <label class="col-md-3" translate>Citizenship</label>
                <label class="col-md-3" translate> </label>                
              </div>
              <div class="form-group row">
                <label class="col-md-3" translate>Marital Status</label>
                <label class="col-md-3" translate> </label>     
                <label class="col-md-3" translate>Residency</label>
                <label class="col-md-3" translate> </label>                
              </div>
              <div class="form-group row">
                <label class="col-md-3" translate>Social Status</label>
                <label class="col-md-3" translate> </label>                 
              </div>
              <div class="form-group row">
                <label class="col-md-3" translate>Classification</label>
                <label class="col-md-3" translate> </label>                
              </div>
            </div>

            <lib-ucSubsection [id]="'OtherId'" [title]="'Other IDS'" [panel]="'dOtherId'">
            </lib-ucSubsection>
            <div class="form-body" id="dOtherId">
              <div class="form-group row">
                <label class="col-md-3" translate>PEFINDO ID </label>
                <label class="col-md-3" translate> </label>                   
              </div>
            </div>

            <lib-ucSubsection [id]="'Employment'" [title]="'Employment, Education'" [panel]="'dEmployment'">
            </lib-ucSubsection>
            <div class="form-body" id="dEmployment">
              <div class="form-group row">
                <label class="col-md-3" translate>Employment</label>
                <label class="col-md-3" translate>Employer Sector</label>                   
              </div>
              <div class="form-group row">
                <label class="col-md-3" translate>Employer Name</label>
                <label class="col-md-3" translate>Education</label>                   
              </div>
            </div>

            <lib-ucSubsection [id]="'Disputes'" [title]="'Disputes'" [panel]="'dDisputes'">
            </lib-ucSubsection>
            <div class="form-body" id="dDisputes">
              <div class="form-group row">
                <label class="col-md-3" translate>No. of Closed Disputes</label>
                <label class="col-md-3" translate>0</label>                   
                <label class="col-md-3" translate>No. of False Disputes</label>
                <label class="col-md-3" translate>0</label>      
              </div>
            </div>
          
          
            <label class="col-md-3"><b>Historical Information</b></label>
            <lib-ucSubsection [id]="'SubejctInfoId'" [title]="'Subject Info Updates'"  [panel]="'SubejctInfo'">
            </lib-ucSubsection>
            <div id="SubejctInfo">
              <table class="table table-responsive-md text-center table-hover">
                <thead>
                  <tr class="table-header">
                    <th>
                      <span class="thead-header" translate>ITEM</span>
                    </th>
                    <th>
                      <span class="thead-header" translate>CHANGE</span>
                    </th>
                    <th>
                      <span class="thead-header" translate>VALID FROM</span>
                    </th>
                    <th>
                      <span class="thead-header" translate>VALID UNTIL</span>
                    </th>
                  </tr>
                </thead>
  
                <tbody>
                  <tr *ngFor="let item of ListSubjectInfo">
                    <td class="text-left">{{item.Item}}</td>
                    <td class="text-left">{{item.Change}}</td>
                    <td class="text-center">{{item.ValidFrom}}</td>
                    <td class="text-center">{{item.ValidUntil}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <lib-ucSubsection [id]="'IdUpdatesId'" [title]="'ID Updates'"  [panel]="'IdUpdates'">
            </lib-ucSubsection>
            <div id="IdUpdates">
              <table class="table table-responsive-md text-center table-hover">
                <thead>
                  <tr class="table-header">
                    <th>
                      <span class="thead-header" translate>ITEM</span>
                    </th>
                    <th>
                      <span class="thead-header" translate>CHANGE</span>
                    </th>
                    <th>
                      <span class="thead-header" translate>VALID FROM</span>
                    </th>
                    <th>
                      <span class="thead-header" translate>VALID UNTIL</span>
                    </th>
                  </tr>
                </thead>
  
                <tbody>
                  <tr *ngFor="let item of ListIdUpdate">
                    <td class="text-left">{{item.Item}}</td>
                    <td class="text-left">{{item.Change}}</td>
                    <td class="text-center">{{item.ValidFrom}}</td>
                    <td class="text-center">{{item.ValidUntil}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <lib-ucSubsection [id]="'AddressUpdateId'" [title]="'Address Updates'"  [panel]="'AddressUpdate'">
            </lib-ucSubsection>
            <div id="AddressUpdate">
              <table class="table table-responsive-md text-center table-hover">
                <thead>
                  <tr class="table-header">
                    <th>
                      <span class="thead-header" translate>ITEM</span>
                    </th>
                    <th>
                      <span class="thead-header" translate>CHANGE</span>
                    </th>
                    <th>
                      <span class="thead-header" translate>VALID FROM</span>
                    </th>
                    <th>
                      <span class="thead-header" translate>VALID UNTIL</span>
                    </th>
                  </tr>
                </thead>
  
                <tbody>
                  <tr *ngFor="let item of ListAddress">
                    <td class="text-left">{{item.Item}}</td>
                    <td class="text-left">{{item.Change}}</td>
                    <td class="text-center">{{item.ValidFrom}}</td>
                    <td class="text-center">{{item.ValidUntil}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <lib-ucSubsection [id]="'ContactUpdatesId'" [title]="'Contact Updates'"  [panel]="'ContactUpdates'">
            </lib-ucSubsection>
            <div id="ContactUpdates">
              <table class="table table-responsive-md text-center table-hover">
                <thead>
                  <tr class="table-header">
                    <th>
                      <span class="thead-header" translate>ITEM</span>
                    </th>
                    <th>
                      <span class="thead-header" translate>CHANGE</span>
                    </th>
                    <th>
                      <span class="thead-header" translate>VALID FROM</span>
                    </th>
                    <th>
                      <span class="thead-header" translate>VALID UNTIL</span>
                    </th>
                  </tr>
                </thead>
  
                <tbody>
                  <tr *ngFor="let item of ListContact">
                    <td class="text-left">{{item.Item}}</td>
                    <td class="text-left">{{item.Change}}</td>
                    <td class="text-center">{{item.ValidFrom}}</td>
                    <td class="text-center">{{item.ValidUntil}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          

        </div>

      </div>
    </div>
  </div>
</div>