<lib-ucSubsection [id]="'CustAttrSectionId'" [title]="Label + ' Attribute'" [panel]="'CustAttrSection'">
</lib-ucSubsection>
<div class="form-body" id="CustAttrSection">
  <div class="form-group row" formGroupName="{{identifier}}">

    <div class="col-md-6" *ngFor="let item of parentForm.controls[identifier]['controls']; let idx = index">
      <div class="row">
        <label class="col-md-4" [ngClass]="{'adins-required-label': item.controls.IsMandatory.value}" translate>
          {{item.controls.AttrName.value}} </label>
        <div class="col-md-8" [ngSwitch]="item.controls.AttrInputType.value">
          <input type="text" *ngSwitchCase="AttrInputTypeText" class="form-control adInsInput"
            formControlName="AttrValue"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && item.controls.AttrValue.invalid}">
          
          <input type="" *ngSwitchCase="AttrInputTypeNum" currencyMask class="form-control adInsInput"
            formControlName="AttrValue"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && item.controls.AttrValue.invalid}">
          
          <input type="" *ngSwitchCase="AttrInputTypeNumPerc" currencyMask class="form-control adInsInput"
            formControlName="AttrValue"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && item.controls.AttrValue.invalid}"
            [options]="{  suffix: '%',thousands: ',', decimal: '.', align: 'right', allowNegative: true, allowZero:true, precision: 6, nullable: false}">
            
          <textarea *ngSwitchCase="AttrInputTypeTextArea" class="form-control adInsInput width-75-per" formControlName="AttrValue"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && parenitemtForm.controls.AttrValue.invalid }"></textarea>
          
          <input type="date" *ngSwitchCase="AttrInputTypeDate" class="form-control adInsInput"
            formControlName="AttrValue"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && item.controls.AttrValue.invalid}">
          
          <lib-uclookupgeneric [lookupInput]="dictRefMasterLookup[item.controls.AttrCode.value]" [parentForm]="parentForm"
            [enjiForm]="enjiForm" [identifier]="'lookup'+ item.controls.AttrCode.value" (lookup)="getLookUp($event, idx)">
          </lib-uclookupgeneric>

          <lib-uc-show-errors [control]="item.controls.AttrValue" [submit]="enjiForm.submitted">
          </lib-uc-show-errors>
        </div>
      </div>
    </div>

  </div>
</div>