<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="px-3">
        <div class="addEdit">
          <form class="form form-horizontal" [formGroup]="ProvinceForm" (ngSubmit)="ProvinceForm.valid && SaveForm()"
                #enjiForm="ngForm">
            <div class="form-body">
              <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Province {{this.pageType}}</h4>
              <div class="form-group row adins-required">
                <label class="col-md-3  adInsLabel" translate>Province Code </label>
                <div class="col-md-9">
                  <input type="text" class="form-control adInsInput" formControlName="ProvDistrictCode"
                         [ngClass]="{ 'is-invalid': enjiForm.submitted && ProvinceForm.controls.ProvDistrictCode.invalid }">
                  <show-errors [control]="ProvinceForm.controls.ProvDistrictCode" [submit]="enjiForm.submitted"></show-errors>
                </div>
              </div>
              <div class="form-group row adins-required">
                <label class="col-md-3  adInsLabel adins-required" translate>Province Name </label>
                <div class="col-md-9">
                  <input type="text" class="form-control adInsInput" formControlName="ProvDistrictName"
                         [ngClass]="{ 'is-invalid': enjiForm.submitted && ProvinceForm.controls.ProvDistrictName.invalid }">
                  <show-errors [control]="ProvinceForm.controls.ProvDistrictName" [submit]="enjiForm.submitted"></show-errors>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3  adInsLabel" translate>Active </label>
                <div class="col-md-9">
                  <input class="border-primary" type="checkbox" data-md-icheck
                         formControlName="IsActive" />
                </div>
              </div>
            </div>
            <div class="form-actions right">
              <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="['/CommonSetting/RefProvince/Paging']"
                translate>
                <i class="ft-x"></i> Cancel
              </button>
              <button type="submit" class="btn btn-raised btn-primary" translate>
                <i class="fa fa-check-square-o"></i> Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
