<span [ngStyle]="{'color': color}">
  <i class="font-medium-3 mr-2 fa fa-circle"></i>
</span>

<input type="text" [(ngModel)]="color">
<!-- UC View Generic -->
<!-- <app-uc-view [viewGenericObj]="viewGenericObj"></app-uc-view> -->

<!-- UC Add To Temp -->
<!-- <div class="card">
  <div class="card-header">
    <h4 class="card-title" translate> Vendor Scheme Member </h4>
  </div>
  <div class="card-body">
    <app-uc-temp *ngIf="tempPagingObj.isReady" [tempPagingObj]="tempPagingObj" (callback)="getListTemp($event)">
    </app-uc-temp>

    <div class="card-header">
      <div class="text-right">
        <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="['/Vendor/VendorScheme/Member']"
          [queryParams]="{VendorSchmId:VendorSchmId,MrVendorCategoryCode:MrVendorCategoryCode}" translate>
          <i class="far fa-window-close"></i> Cancel
        </button>
        <button type="submit" (click)="SaveVendorSchemeMember()" class="btn btn-raised btn-primary" translate>
          <i class="far fa-check-square"></i> Submit
        </button>
      </div>
    </div>
  </div>
</div> -->