<div class="col-md-12">
  <div class="card">
    <div class="card-header header-title">
      <div class="row">
        <div class="col-md-8">
          <h4 class="card-title" id="horz-layout-colored-controls" translate> {{pageType}} OFFICE </h4>
        </div>
        <div class="col-md-4" style="text-align-last: right">
          <button type="button" class="backButton" [routerLink]="['/office/paging']" translate>
            <i class="ft-arrow-left"></i> Back
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="px-3">
        <form class="form form-horizontal" name="OfficeReqForm" #OfficeReqForm="ngForm"
          (ngSubmit)="OfficeReqForm.form.valid && SaveForm(OfficeReqForm, ucAddress, ucContactInfo)">
          <div class="form-body">
            <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Office Information</h4>
            <div class="form-group row">
              <label class="col-md-3  adInsLabel" translate>Office Code </label>
              <div class="col-md-9">
                <input type="text" class="form-control adInsInput width-30-per" name="officeCode" required
                  [(ngModel)]="officeCode" #OfficeCode="ngModel"
                  [ngClass]="{ 'is-invalid': (OfficeReqForm.submitted || OfficeCode.touched || OfficeCode.dirty) && OfficeCode.invalid }">
                <div *ngIf="(OfficeReqForm.submitted || OfficeCode.touched || OfficeCode.dirty) && OfficeCode.invalid"
                  class="invalid-feedback">
                  <div *ngIf="OfficeCode.errors.required" class="adInsReqMsg" translate>This field is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3  adInsLabel" translate>Office Name </label>
              <div class="col-md-9">
                <input type="text" class="form-control adInsInput width-80-per" name="officeName" required
                  [(ngModel)]="officeName" #OfficeName="ngModel"
                  [ngClass]="{ 'is-invalid': (OfficeReqForm.submitted || OfficeName.touched || OfficeName.dirty) && OfficeName.invalid }">
                <div *ngIf="(OfficeReqForm.submitted || OfficeName.touched || OfficeName.dirty) && OfficeName.invalid"
                  class="invalid-feedback">
                  <div *ngIf="OfficeName.errors.required" class="adInsReqMsg" translate>This field is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3  adInsLabel" translate>Office Short Name </label>
              <div class="col-md-9">
                <input type="text" class="form-control adInsInput width-80-per" name="officeShortName" required
                  [(ngModel)]="officeShortName" #OfficeShortName="ngModel"
                  [ngClass]="{ 'is-invalid': (OfficeReqForm.submitted || OfficeShortName.touched || OfficeShortName.dirty) && OfficeShortName.invalid }">
                <div
                  *ngIf="(OfficeReqForm.submitted || OfficeShortName.touched || OfficeShortName.dirty) && OfficeShortName.invalid"
                  class="invalid-feedback">
                  <div *ngIf="OfficeShortName.errors.required" class="adInsReqMsg" translate>This field is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3  adInsLabel" translate>Office Class </label>
              <div class="col-md-9">
                <select class="form-control adInsInput" name="mrOfficeClass" [(ngModel)]="mrOfficeClass"
                  #MrOfficeClass="ngModel">
                  <option *ngFor="let oc of allOfficeClass" value="{{oc.masterCode}}">{{oc.descr}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3  adInsLabel" translate>Organization Level </label>
              <div class="col-md-9">
                <select class="form-control adInsInput" name="refOrgId" [(ngModel)]="refOrgId" #RefOrgId="ngModel"
                  (change)="onChangeRefOrg($event.target.value)">
                  <option *ngFor="let ro of allRefOrg" value="{{ro.refOrgId}}">{{ro.orgName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3  adInsLabel" translate>Model Name </label>
              <div class="col-md-9">
                <select class="form-control adInsInput" name="orgMdlId" [(ngModel)]="orgMdlId" #OrgMdlId="ngModel">
                  <option *ngFor="let om of allOrgMdl" value="{{om.orgMdlId}}">{{om.orgMdlName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3  adInsLabel" translate>Office Parent </label>
              <div class="col-md-9">
                <select class="form-control adInsInput" name="parentId" required [(ngModel)]="parentId"
                  #ParentId="ngModel" (change)="onChangeOfficeParent($event.target.value)"
                  [ngClass]="{ 'is-invalid': (OfficeReqForm.submitted || ParentId.touched || ParentId.dirty) && ParentId.value == undefined  }">
                  <option *ngFor="let op of allOfficeParent" value="{{op.refOfficeId}}">{{op.officeName}}
                  </option>
                </select>
                <div
                  *ngIf="(OfficeReqForm.submitted || ParentId.touched || ParentId.dirty) && ParentId.value == undefined "
                  class="invalid-feedback">
                  <div *ngIf="ParentId.errors.required" class="adInsReqMsg" translate>This field is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3  adInsLabel" translate>Area </label>
              <div class="col-md-9">
                <select class="form-control adInsInput" name="refOfficeAreaId" required [(ngModel)]="refOfficeAreaId"
                  #RefOfficeAreaId="ngModel"
                  [ngClass]="{ 'is-invalid': (OfficeReqForm.submitted || RefOfficeAreaId.touched || RefOfficeAreaId.dirty) && RefOfficeAreaId.value == undefined  }">
                  <option *ngFor="let rfa of allRefOfficeArea" value="{{rfa.refOfficeAreaId}}">{{rfa.areaName}}
                  </option>
                </select>
                <div
                  *ngIf="(OfficeReqForm.submitted || RefOfficeAreaId.touched || RefOfficeAreaId.dirty) && RefOfficeAreaId.value == undefined "
                  class="invalid-feedback">
                  <div *ngIf="RefOfficeAreaId.errors.required" class="adInsReqMsg" translate>This field is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3  adInsLabel" translate>Holiday Scheme </label>
              <div class="col-md-9">
                <select class="form-control adInsInput" name="holidaySchmHId" [(ngModel)]="holidaySchmHId" required
                  #HolidaySchmHId="ngModel">
                  <option *ngFor="let hs of allHolidaySchm" value="{{hs.holidaySchmHId}}">{{hs.holidaySchmName}}
                  </option>
                </select>
                <div
                  *ngIf="(OfficeReqForm.submitted || HolidaySchmHId.touched || HolidaySchmHId.dirty) && HolidaySchmHId.value == undefined "
                  class="invalid-feedback">
                  <div *ngIf="HolidaySchmHId.errors.required" class="adInsReqMsg" translate>This field is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3  adInsLabel" translate>Working Hour Scheme </label>
              <div class="col-md-9">
                <select class="form-control adInsInput" name="workingHourSchmHId" [(ngModel)]="workingHourSchmHId"
                  required #WorkingHourSchmHId="ngModel">
                  <option *ngFor="let whs of allWorkingHourSchm" value="{{whs.workingHourSchmHId}}">
                    {{whs.workingHourSchmName}}
                  </option>
                </select>
                <div
                  *ngIf="(OfficeReqForm.submitted || WorkingHourSchmHId.touched || WorkingHourSchmHId.dirty) && WorkingHourSchmHId.value == undefined "
                  class="invalid-feedback">
                  <div *ngIf="WorkingHourSchmHId.errors.required" class="adInsReqMsg" translate>This field is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row" *ngIf="isHO == false">
              <label class="col-md-3  adInsLabel" translate>Konvensional / Syariah </label>
              <div class="col-md-9">
                <div class="custom-control custom-radio display-inline-block">
                  <input type="radio" id="Konvensional" value="KON" checked name="mrKonvenSyariah"
                    [(ngModel)]="mrKonvenSyariah" class="custom-control-input"
                    [attr.disabled]="isDisabledState? true : null">
                  <label class="custom-control-label" for="Konvensional" translate>Konvensional</label>
                </div>
                <div class="custom-control custom-radio display-inline-block">
                  <input type="radio" id="Syariah" value="SYA" name="mrKonvenSyariah" [(ngModel)]="mrKonvenSyariah"
                    class="custom-control-input" [attr.disabled]="isDisabledState? true : null">
                  <label class="custom-control-label" for="Syariah" translate>Syariah</label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3  adInsLabel" translate>Allowed To Create Application </label>
              <div class="col-md-9">
                <input class="border-primary" type="checkbox" [ngModel]="isAllowAppCreated" data-md-icheck
                  (change)="toggleAllowAppCreated($event)" name="isAllowAppCreated">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3  adInsLabel" translate>Active Status </label>
              <div class="col-md-9">
                <input class="border-primary" type="checkbox" [ngModel]="isActive" data-md-icheck
                  (change)="toggleActive($event)" name="isActive">
              </div>
            </div>
            <app-ucAddress #ucAddress [parentForm]='OfficeReqForm'></app-ucAddress>
            <app-ucContactInfo #ucContactInfo [parentForm]='OfficeReqForm'></app-ucContactInfo>
          </div>
          <div class="form-actions right">
            <button *ngIf="pageType == 'edit'" type="button" class="btn btn-raised btn-warning mr-1"
              [routerLink]="['/office']" translate>
              <i class="fa fa-arrow-circle-left"></i> Back
            </button>
            <button type="submit" class="btn btn-raised btn-primary" translate>
              <i class="fa fa-check-square-o"></i> Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>