<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="px-3">
        <form class="form form-horizontal" name="GSForm" #GSForm="ngForm" novalidate
          (ngSubmit)="GSForm.form.valid && Save(GSForm)">
          <div class="form-body">
            <h4 class="form-section card-title" translate><i class="ft-file-text"></i> General Setting Information</h4>
            <div class="form-group row">
              <label class="col-md-3 label-control adInsLabel" for="gsCode">General Setting Code</label>
              <div class="col-md-9">
                <input type="text" class="form-control adInsInput" name="gsCode" required [(ngModel)]="gsCode" #GsCode="ngModel"
                  [ngClass]="{ 'is-invalid': GSForm.submitted && GsCode.invalid }"
                  [attr.disabled]="type === 'edit' ? true : null">
                <div *ngIf="GSForm.submitted && GsCode.invalid" class="invalid-feedback">
                  <div *ngIf="GSForm.errors.required" class="adInsReqMsg" translate>This field is required</div>
                </div>
              </div>
            </div>


            <div class="form-group row">
              <label class="col-md-3 label-control adInsLabel" for="gsName">General Setting Name</label>
              <div class="col-md-9">
                <input type="text" class="form-control adInsInput" name="gsName" required [(ngModel)]="gsName" #GsName="ngModel"
                  [ngClass]="{ 'is-invalid': GSForm.submitted && GsName.invalid }">
                <div *ngIf="GSForm.submitted && GsName.invalid" class="invalid-feedback">
                  <div *ngIf="GsName.errors.required" class="adInsReqMsg" translate>This field is required</div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 label-control adInsLabel" for="gsValue">General Setting Value</label>
              <div class="col-md-9">
                <input type="text" class="form-control adInsInput" name="gsValue" required [(ngModel)]="gsValue" #GsValue="ngModel"
                  [ngClass]="{ 'is-invalid': GSForm.submitted && GsValue.invalid }">
                <div *ngIf="GSForm.submitted && GsValue.invalid" class="invalid-feedback">
                  <div *ngIf="GsValue.errors.required" class="adInsReqMsg" translate>This field is required</div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 label-control adInsLabel" for="gsDescr">General Setting Description</label>
              <div class="col-md-9">
                <textarea id="gsDescr" rows="6" class="form-control adInsInput" name="gsDescr" required [(ngModel)]="gsDescr"
                  #GsDescr="ngModel" [ngClass]="{ 'is-invalid': GSForm.submitted && GsDescr.invalid }"></textarea>
                <div *ngIf="GSForm.submitted && GsDescr.invalid" class="invalid-feedback">
                  <div *ngIf="GsDescr.errors.required" class="adInsReqMsg" translate>This field is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-actions">

            <button *ngIf=" type === 'edit'" type="button" (click)="Back()" class="btn btn-raised btn-warning mr-1">
              <i class="fa fa-arrow-circle-left"></i> Back
            </button>
            <button type="submit" class="btn btn-raised btn-primary">
              <i class="fa fa-check-square-o"></i> Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>