<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header formHeader">
        <h4 class="card-title" id="horz-layout-colored-controls" translate> Buttons </h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <h4> Button Color </h4>
          <button type="button" class="btn btn-raised btn-success mr-1" translate>
            <i class="far fa-check-square"></i> Success
          </button>
          <button type="button" class="btn btn-raised btn-warning mr-1" translate>
            <i class="fa fa-arrow-left"></i> Warning
          </button>
          <button type="button" class="btn btn-raised btn-primary mr-1" translate>
            <i class="fa fa-anchor"></i> Primary
          </button>
          <button type="button" class="btn btn-raised btn-info mr-1" translate>
            <i class="fa fa-search"></i> Info
          </button>
          <button type="button" class="btn btn-raised btn-secondary mr-1" translate>
            <i class="fa fa-bug"></i> Secondary
          </button>
          <button type="button" class="btn btn-raised btn-danger mr-1" translate>
            <i class="ft-alert-circle"></i> Danger
          </button>
        </div>
        <div class="card-block">
          <h4> Right position in form </h4>
          <form>
            <div class="form-actions right">
              <button type="button" class="btn btn-raised btn-success mr-1" translate>
                <i class="far fa-check-square"></i> Success
              </button>
              <button type="button" class="btn btn-raised btn-warning mr-1" translate>
                <i class="fa fa-arrow-left"></i> Warning
              </button>
              <button type="button" class="btn btn-raised btn-primary mr-1" translate>
                <i class="fa fa-anchor"></i> Primary
              </button>
              <button type="button" class="btn btn-raised btn-info mr-1" translate>
                <i class="fa fa-search"></i> Info
              </button>
              <button type="button" class="btn btn-raised btn-secondary mr-1" translate>
                <i class="fa fa-bug"></i> Secondary
              </button>
              <button type="button" class="btn btn-raised btn-danger mr-1" translate>
                <i class="ft-alert-circle"></i> Danger
              </button>
            </div>
          </form>
        </div>
        <div class="card-block">
          <h4> Button Add in Paging </h4>
          <div class="ucSearch-Button-Right">
            <span class="mr-1">
              <button type="button" class="addButton" translate>
                <i class="ft-plus-circle"></i> Add
              </button>
              <button type="button" class="backButton" translate>
                <i class="ft-arrow-left"></i> Back
              </button>
            </span>
          </div>
        </div>
        <div class="card-block">
          <h4> Button with parameter, title : {{ test }} </h4>
          <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="['/test/template1']"
            [queryParams]="{title:'Template'}" translate>
            <i class="fa fa-arrow-left"></i> To template page with param
          </button>
        </div>
      </div>
      <div class="card-header formHeader">
        <h4 class="card-title" id="horz-layout-colored-controls" translate> Forms </h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <form class="form form-horizontal" name="FormTemplate" #FormTemplate="ngForm"
            (ngSubmit)="FormTemplate.form.valid && SaveForm(FormTemplate)">
            <div class="form-body">
              <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Input Type </h4>
              <div class="form-group row">
                <label class="col-md-3 adInsLabel" translate> Type Text </label>
                <div class="col-md-9">
                  <input type="text" class="form-control adInsInput" name="templateText" required
                    [(ngModel)]="templateText" #TemplateText="ngModel"
                    [ngClass]="{ 'is-invalid': (FormTemplate.submitted || TemplateText.touched || TemplateText.dirty) && TemplateText.invalid }">
                  <div
                    *ngIf="(FormTemplate.submitted || TemplateText.touched || TemplateText.dirty) && TemplateText.invalid"
                    class="invalid-feedback">
                    <div *ngIf="TemplateText.errors.required" class="adInsReqMsg" translate>This field is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 adInsLabel" for="address" translate> Type text Area </label>
                <div class="col-md-9">
                  <textarea id="address" rows="5" class="form-control adInsInput" name="templateTextArea" required
                    [(ngModel)]="templateTextArea" #TemplateTextArea="ngModel"
                    [ngClass]="{ 'is-invalid':(FormTemplate.submitted || TemplateTextArea.touched || TemplateTextArea.dirty) && TemplateTextArea.invalid }"></textarea>
                  <div
                    *ngIf="(FormTemplate.submitted || TemplateTextArea.touched || TemplateTextArea.dirty) && TemplateTextArea.invalid"
                    class="invalid-feedback">
                    <div *ngIf="TemplateTextArea.errors.required" class="adInsReqMsg" translate>This field is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 adInsLabel" translate> Type Date: </label>
                <div class="col-md-9">
                  <input type="date" class="form-control adInsInput" name="templateDate" required
                    [(ngModel)]="templateDate" #TemplateDate="ngModel"
                    [ngClass]="{ 'is-invalid': (FormTemplate.submitted || TemplateDate.touched || TemplateDate.dirty) && TemplateDate.invalid }">
                  <div
                    *ngIf="(FormTemplate.submitted || TemplateDate.touched || TemplateDate.dirty) && TemplateDate.invalid"
                    class="invalid-feedback">
                    <div *ngIf="TemplateDate.errors.required" class="adInsReqMsg" translate>This field is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 adInsLabel"> Type Select </label>
                <div class="col-md-9">
                  <select class="form-control adInsInput" name="templateSelect" [(ngModel)]="templateSelect"
                    #TemplateSelect>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                    <option value="2">Maybe</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 adInsLabel" translate> Type Number </label>
                <div class="col-md-9">
                  <input type="number" class="form-control adInsInput" name="templateNumber" required
                    [(ngModel)]="templateNumber" #TemplateNumber="ngModel"
                    [ngClass]="{ 'is-invalid': (FormTemplate.submitted || TemplateNumber.touched || TemplateNumber.dirty) && TemplateNumber.invalid }">
                  <div
                    *ngIf="(FormTemplate.submitted || TemplateNumber.touched || TemplateNumber.dirty) && TemplateNumber.invalid"
                    class="invalid-feedback">
                    <div *ngIf="TemplateNumber.errors.required" class="adInsReqMsg" translate>This field is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 adInsLabel" translate> Type Checkbox </label>
                <div class="col-md-9">
                  <input class="border-primary" type="checkbox" [ngModel]="isActive" data-md-icheck
                    (change)="toggleActive($event)" name="isActive">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 adInsLabel" translate> Type Radio Button </label>
                <div class="col-md-9">
                  <div class="custom-control custom-radio display-inline-block">
                    <input type="radio" id="male" value="M" checked name="templateRadio" [(ngModel)]="templateRadio"
                      class="custom-control-input">
                    <label class="custom-control-label" for="male" translate>Male</label>
                  </div>
                  <div class="custom-control custom-radio display-inline-block">
                    <input type="radio" id="female" value="F" name="templateRadio" [(ngModel)]="templateRadio"
                      class="custom-control-input">
                    <label class="custom-control-label" for="female" translate>Female</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-body">
              <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Input Variant </h4>
              <div class="form-group row">
                <label class="col-md-3 adInsLabel" translate> Type Text [Number Only] </label>
                <div class="col-md-9">
                  <input type="text" pattern="^[0-9]+$" class="form-control adInsInput" name="templateNumberOnly"
                    required [(ngModel)]="templateNumberOnly" #TemplateNumberOnly="ngModel"
                    [ngClass]="{ 'is-invalid': (FormTemplate.submitted || TemplateNumberOnly.touched || TemplateNumberOnly.dirty) && TemplateNumberOnly.invalid }">
                  <div
                    *ngIf="(FormTemplate.submitted || TemplateNumberOnly.touched || TemplateNumberOnly.dirty) && TemplateNumberOnly.invalid"
                    class="invalid-feedback">
                    <div *ngIf="TemplateNumberOnly.errors.required" class="adInsReqMsg" translate>This field is required
                    </div>
                    <div *ngIf="TemplateNumberOnly.errors?.pattern" translate>Number Only</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 adInsLabel" translate> Type Text [Max Length: 10] </label>
                <div class="col-md-9">
                  <input type="text" maxlength="10" class="form-control adInsInput" name="templateMaxLength" required
                    [(ngModel)]="templateMaxLength" #TemplateMaxLength="ngModel"
                    [ngClass]="{ 'is-invalid': (FormTemplate.submitted || TemplateMaxLength.touched || TemplateMaxLength.dirty) && TemplateMaxLength.invalid }">
                  <div
                    *ngIf="(FormTemplate.submitted || TemplateMaxLength.touched || TemplateMaxLength.dirty) && TemplateMaxLength.invalid"
                    class="invalid-feedback">
                    <div *ngIf="TemplateMaxLength.errors.required" class="adInsReqMsg" translate>This field is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 adInsLabel" translate>Type Text [Email] </label>
                <div class="col-md-9">
                  <input type="text" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    class="form-control adInsInput" name="templateEmail" required [(ngModel)]="templateEmail"
                    #TemplateEmail="ngModel"
                    [ngClass]="{ 'is-invalid':(FormTemplate.submitted || TemplateEmail.touched || TemplateEmail.dirty) && TemplateEmail.invalid }">
                  <div
                    *ngIf=" (FormTemplate.submitted || TemplateEmail.touched || TemplateEmail.dirty) && TemplateEmail.invalid"
                    class="invalid-feedback">
                    <div *ngIf="TemplateEmail.errors.required" class="adInsReqMsg" translate>This field is required
                    </div>
                    <div *ngIf="TemplateEmail.errors?.pattern" translate>Email Invalid</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-body">
              <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Standardization </h4>
              <div class="form-group row">
                <label class="col-md-3 adInsLabel" translate>Input label code width 30%</label>
                <div class="col-md-9">
                  <input type="text" class="form-control width-30-per adInsInput" name="templateCode" required
                    [(ngModel)]="templateCode" #TemplateCode="ngModel"
                    [ngClass]="{ 'is-invalid':(FormTemplate.submitted || TemplateCode.touched || TemplateCode.dirty) && TemplateCode.invalid }">
                  <div
                    *ngIf=" (FormTemplate.submitted || TemplateCode.touched || TemplateCode.dirty) && TemplateCode.invalid"
                    class="invalid-feedback">
                    <div *ngIf="TemplateCode.errors.required" class="adInsReqMsg" translate>This field is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 adInsLabel" translate>Input label width 80%</label>
                <div class="col-md-9">
                  <input type="text" class="form-control width-80-per adInsInput" name="templateLabel" required
                    [(ngModel)]="templateLabel" #TemplateLabel="ngModel"
                    [ngClass]="{ 'is-invalid':(FormTemplate.submitted || TemplateLabel.touched || TemplateLabel.dirty) && TemplateLabel.invalid }">
                  <div
                    *ngIf=" (FormTemplate.submitted || TemplateLabel.touched || TemplateLabel.dirty) && TemplateLabel.invalid"
                    class="invalid-feedback">
                    <div *ngIf="TemplateLabel.errors.required" class="adInsReqMsg" translate>This field is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-actions right">
              <button type="submit" class="btn btn-raised btn-primary" translate>
                <i class="far fa-check-square"></i> Save
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="card-header formHeader">
        <h4 class="card-title" id="horz-layout-colored-controls" translate> Toastr </h4>
      </div>
      <div class="card-body">
        <div class="card-block">
            <h4> Type </h4>
            <div class="row mt-1">
                <div class="col-md-4 col-sm-12 text-center">
                    <button type="button" class="btn btn-success btn-block btn-raised mb-5" id="type-success" (click)="typeSuccess()">Success</button>
                </div>
                <div class="col-md-4 col-sm-12 text-center">
                    <button type="button" class="btn btn-danger btn-block btn-raised mb-5" id="type-error" (click)="typeError()">Error</button>
                </div>
                <div class="col-md-4 col-sm-12 text-center">
                    <button type="button" class="btn btn-info btn-block btn-raised mb-5" id="type-info" (click)="typeInfo()">Info</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-1 text-center">
                    <button type="button" class="btn btn-warning btn-block btn-raised mb-5" id="type-warning" (click)="typeWarning()">Warning</button>
                </div>
                <div class="col-md-4 col-md-offset-1 text-center">
                    <button type="button" class="btn btn-secondary btn-block btn-raised mb-5" id="type-custom" (click)="typeCustom()">Custom</button>
                </div>
                <div class="col-md-4 col-md-offset-1 text-center">
                    <button type="button" class="btn btn-primary btn-block btn-raised" id="progress-bar" (click)="progressBar()">With Progress Bar</button>
                </div>
            </div>
        </div>
      </div>
      <div class="card-header formHeader">
        <h4 class="card-title" id="horz-layout-colored-controls" translate> Material Stepper & Tab </h4>
      </div>
      <div class="card-body">
        <div class="card-block">
            <h4> Material Stepper </h4>
            <mat-horizontal-stepper>
              <mat-step label="Address" state="address">
                Test
              </mat-step>
              
              <mat-step label="Contact Person" state="phone">
                  Test
              </mat-step>

              <mat-step label="Owner" state="owner">
                  Test
              </mat-step>
              
              <mat-step label="Bank" state="bank">
                  Test
              </mat-step>
             
            <!-- icon override -->
            <ng-template #stepper matStepperIcon="phone">
                <mat-icon>call_end</mat-icon>
              </ng-template>
              <ng-template matStepperIcon="address">
                  <mat-icon>home</mat-icon>
                </ng-template>
              <ng-template matStepperIcon="owner">
                <mat-icon>face</mat-icon>
              </ng-template>
              <ng-template matStepperIcon="bank">
                  <mat-icon>account_balance</mat-icon>
                </ng-template>
            </mat-horizontal-stepper>
        </div>
        <div class="card-block">
          <h4> Material Tab </h4>
          <mat-tab-group>
              <mat-tab label="Main Information">
                <br>
                Test       
              </mat-tab>
              <mat-tab label="Tax">
                  <br>
                  Test
              </mat-tab>
              <mat-tab label="Address">
                  <br>
                  Test      
                </mat-tab>
                <mat-tab label="Contact Person">
                    <br>
                    Test
                </mat-tab>
                <mat-tab label="Owner">
                    <br>
                    Test  
                  </mat-tab>
                  <mat-tab label="Bank Info">
                      <br>
                      Test
                  </mat-tab>
                  <mat-tab label="Group Info">
                      <br>
                      Test 
                    </mat-tab>
                    <mat-tab label="HO Info">
                        <br>
                        Test          
                    </mat-tab>
            </mat-tab-group>

        </div>
      </div>
    </div>