<div class="row text-left">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
         
        <div class="px-3" >


          <lib-ucSubsection [id]="'PefindoAlertQuest'" [title]="'Pefindo Alert Quest'" [panel]="'dPefindoAlertQuest'">
          </lib-ucSubsection>
          <div class="form-body" id="dPefindoAlertQuest">
            <div class="form-group row">
              <label class="col-md-3" translate>No. of CIQ Fraud Alerts</label>
              <label class="col-md-3" translate>0</label>  
              <label class="col-md-3" translate>Last Fraud Registeration Date</label>
              <label class="col-md-3" translate></label>               
            </div>
            <div class="form-group row">
              <label class="col-md-3" translate>No. of CIQ Fraud Alerts - Third Party</label>
              <label class="col-md-3" translate>0</label>  
              <label class="col-md-3" translate>Last Fraud Registeration Date - Third Party</label>
              <label class="col-md-3" translate></label>               
            </div>
          </div>

          <lib-ucSubsection [id]="'PefindoAlert'" [title]="'PEFINDO ALERT QUEST DETAILS'" [panel]="'dPefindoAlert'">
          </lib-ucSubsection>
          <div class="form-body" id="dPefindoAlert">
            <div class="form-group row">
              <label class="col-md-3" translate><b> 1ST PERSON FRAUD ALERTS </b></label>                            
            </div>
            <div class="form-group row">
              <label class="col-md-3" translate>No. of Inquiries From Different Subscribers During Last 48 Hours: </label>
              <label class="col-md-3" translate>0</label>  
            </div>
            <div class="form-group row">
              <label class="col-md-3" translate>No. of Inquiries From Different Subscribers During Last 14 Days: </label>
              <label class="col-md-3" translate>0</label>  
            </div>

            <br>
            <div class="form-group row">
              <label class="col-md-3" translate><b>Third Party </b></label>                            
            </div>
            <div class="form-group row">
              <label class="col-md-3" translate>Lost/Stolern Documents of 1st Person (not older than 6 months)</label>
              <label class="col-md-3" translate>0</label>                             
            </div>
            <div class="form-group row">
              <label class="col-md-3" translate>Canceled Contracts of 1sts Person (not older than 6 months):</label>
              <label class="col-md-3" translate>0</label>  
            </div>
            <div class="form-group row">
              <label class="col-md-3" translate>Closed Contracts with Stolen ID of 1st Person (not older than 6 months):</label>
              <label class="col-md-3" translate>0</label>       
            </div>            
          </div>        

        </div>

      </div>
    </div>
  </div>
</div>