<section id="horizontal-form-layouts">
  <div class="row text-left">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="px-3">
            <form class="form form-horizontal" name="UserRoleDetailForm" [formGroup]="RefUserRoleForm" #UserRoleDetailForm="ngForm"
              (ngSubmit)="Save(UserRoleDetailForm, lookupRole)">
              <div class="form-body">
                <h4 class="form-section card-title" translate><i class="ft-file-text"></i>Assign User to Role</h4>

                <div class="form-group row">
                  <label class="col-md-3  adInsLabel">Username</label>
                  <div class="col-md-9">
                    <label>{{userName}}</label></div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3  adInsLabel">Office Code</label>
                  <div class="col-md-9">
                    <label>{{officeCode}}</label></div>
                </div>

                <div class="form-group row">
                  <label class="col-md-3  adInsLabel">Office Name</label>
                  <div class="col-md-9">
                    <label>{{officeName}}</label></div>
                </div>

                <div class="form-group row">
                  <label class="col-md-3  adInsLabel">Business Unit</label>
                  <div class="col-md-9">
                    <label>{{bizUnitName}}</label></div>
                </div>

                <div class="form-group row">
                  <label class="col-md-3  adInsLabel">Job Title Name</label>
                  <div class="col-md-9">
                    <label>{{jobTitleName}}</label></div>
                </div>

                <div class="form-group row">
                  <label class="col-md-3  adInsLabel" for="RoleName">Role Name</label>
                  <div class="col-md-9">
                    <lib-uclookupgeneric [lookupInput]="inputLookupObj" [parentForm]='RefUserRoleForm' [enjiForm]='UserRoleDetailForm' [identifier]="'RoleName'"
                            (lookup)="getLookupResponse($event)"></lib-uclookupgeneric>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3  adInsLabel" for="isActive">Active</label>
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" value="1" id="isActive" name="isActive" [(ngModel)]="isActive"
                      [checked]="isActive">
                  </div>
                </div>

              </div>
              <div class="form-actions">
                <button type="button" (click)="Back()" class="btn btn-raised btn-warning mr-1">
                  <i class="far fa-window-close"></i> Cancel
                </button>

                <button type="submit" class="btn btn-raised btn-primary">
                  <i class="far fa-check-square"></i> Save
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
