<ngx-stepper #stepperDemo="stepper">
  <ngx-step [label]="'Select a campaign'" (click)="stepper.goto(0)">
    <ngx-step-body>
      <app-step7 [steppers]="stepperDemo"></app-step7>
    </ngx-step-body>
  </ngx-step>
  <ngx-step [label]="'Publish the ad'" (click)="stepper.goto(2)">
    <ngx-step-body>
      <app-step8 [steppers]="stepperDemo"></app-step8>
    </ngx-step-body>
  </ngx-step>
</ngx-stepper>

<br><br><br>

<aw-wizard #wizard navBarLayout="large-empty-symbols" [defaultStepIndex]="StepIndex">

  <aw-wizard-step [stepTitle]="'Step 1'" [navigationSymbol]="{ symbol: '1' }">
    <app-step1></app-step1>
  </aw-wizard-step>

  <aw-wizard-step [stepTitle]="'Step 2'" [navigationSymbol]="{ symbol: '2' }">
    <app-step2></app-step2>
  </aw-wizard-step>

  <aw-wizard-step [stepTitle]="'Step 3'" [navigationSymbol]="{ symbol: '3' }">
    <app-step3></app-step3>
  </aw-wizard-step>

  <aw-wizard-step [stepTitle]="'Step 4'" [navigationSymbol]="{ symbol: '4' }">
    <app-step4></app-step4>
  </aw-wizard-step>

  <aw-wizard-step [stepTitle]="'Step 5'" [navigationSymbol]="{ symbol: '5' }">
    <app-step5></app-step5>
  </aw-wizard-step>

</aw-wizard>

<br><br><br>
<div class="bs-stepper">
  <div class="bs-stepper-header" role="tablist">
    <!-- your steps here -->
    <div class="step" data-target="#logins-part">
      <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
        <span class="bs-stepper-circle">1</span>
        <span class="bs-stepper-label">Logins</span>
      </button>
    </div>
    <div class="line"></div>
    <div class="step" data-target="#information-part">
      <button type="button" class="step-trigger" role="tab" aria-controls="information-part"
        id="information-part-trigger">
        <span class="bs-stepper-circle">2</span>
        <span class="bs-stepper-label">Various information</span>
      </button>
    </div>
  </div>
  <div class="bs-stepper-content">
    <!-- your steps content here -->
    <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger"></div>
    <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger"></div>
  </div>
</div>