<lib-ucpaging [searchObj]="inputPagingObj"></lib-ucpaging>

<div class="col-md-12">
  <div class="card">
    <div class="card-header header-title">
      <div class="row">
        <div class="col-md-8">
          <h4 class="card-title" id="horz-layout-colored-controls" translate> TEST </h4>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="px-3">
        <form class="form form-horizontal" name="RefEmpForm" #RefEmpForm="ngForm" novalidate
          (ngSubmit)="RefEmpForm.form.valid && SaveForm(RefEmpForm)">
          <div class="form-body">
            <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Bank Information</h4>
            <div class="form-group row">
              <label class="col-md-3  adInsLabel" for="bankName" translate>Bank Name </label>
              <div class="col-md-9">
                <lib-uclookupgeneric [lookupInput]="inputLookupObj" [parentForm]='RefEmpForm'></lib-uclookupgeneric>
              </div>
            </div>
          </div>
          <div class="form-actions right">
            <button type="submit" class="btn btn-raised btn-primary">
              <i class="fa fa-check-square-o"></i> Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<lib-ucviewgeneric [viewInput]="viewObj"></lib-ucviewgeneric>