<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="px-3">
          <div class="row">
              <div class="col-md-8">
                  <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Industry Type </h4>
              </div>
            </div>
        <form class="form form-horizontal" [formGroup]="RefIndustryTypeForm" #enjiForm="ngForm" novalidate
          (ngSubmit)="enjiForm.form.valid && Save(enjiForm)">
          <div class="form-body">
            <div class="form-group row">
              <label class="col-md-3 adInsLabel  adins-required-label" for="IndustryTypeCode">Industry Type Code</label>
              <div class="col-md-9">
                <input type="text" class="form-control adInsInput code" formControlName="IndustryTypeCode" 
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && RefIndustryTypeForm.controls.IndustryTypeCode.invalid }"
                  [attr.disabled]="type == 'edit' ? true : null">
                <show-errors [control]="RefIndustryTypeForm.controls.IndustryTypeCode" [submit]="enjiForm.submitted"></show-errors>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 adInsLabel   adins-required-label" for="IndustryTypeName">Industry Type Name</label>
              <div class="col-md-9">
                <input type="text" class="form-control adInsInput" formControlName="IndustryTypeName" 
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && RefIndustryTypeForm.controls.IndustryTypeName.invalid }">
                <show-errors [control]="RefIndustryTypeForm.controls.IndustryTypeName" [submit]="enjiForm.submitted"></show-errors>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 adInsLabel  adins-required-label" for="RefEconomicSectorId" translate>Economic Sector Code </label>
              <div class="col-md-3">
                <lib-uclookupgeneric [lookupInput]="inputLookupObj" [parentForm]='RefIndustryTypeForm' [enjiForm]='enjiForm' [identifier]="'EconomicSectorCode'"
                  (lookup)="getLookupResponse($event)"></lib-uclookupgeneric>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 adInsLabel adins-required-label" for="isActive">Active Status</label>
              <div class="custom-control custom-checkbox m-0">
                <input type="checkbox" value="1" id="isActive" formControlName="IsActive">
              </div>
            </div>
          </div>
          <div class="form-actions right">
            <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="['/CommonSetting/IndustryType/Paging']"
                translate>
                <i class="ft-x"></i> Cancel
              </button>
            <button type="submit" class="btn btn-raised btn-primary">
              <i class="fa fa-check-square-o"></i> Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>