<section id="horizontal-form-layouts">
  <div class="row text-left">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-8">
              <h4 class="card-title" id="horz-layout-colored-controls" translate>{{pageType}} ASSET SCHEME MEMBER</h4>
            </div>
            <div class="col-md-4" style="text-align-last: right">
              <button type="button" class="backButton" [routerLink]="['/Asset/Scheme/MemberDetail']"
                [queryParams]="{AssetSchmHId: this.AssetSchmHId}" translate>
                <i class="ft-arrow-left"></i> Back
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<lib-ucviewgeneric [viewGenericObj]="viewGenericObj"></lib-ucviewgeneric>
<form class="form form-horizontal" name="AssetSchmForm" #AssetSchmForm="ngForm" novalidate
  (ngSubmit)="SaveAssetSchmMember()">
  <lib-ucaddtotemp *ngIf="tempPagingObj.isReady" [tempPagingObj]="tempPagingObj" (callback)="getListTemp($event)">
  </lib-ucaddtotemp>
  <div class="form-body">
    <div class="form-actions right">
      <button type="submit" (click)="formValidate(AssetSchmForm)" class="btn btn-raised btn-primary" translate>
        <i class="far fa-check-square"></i> Submit
      </button>
    </div>
  </div>
</form>