<div class="card">
  <div class="card-header">
    <h4 class="card-title" id="horz-layout-colored-controls" translate>{{pageType}} ASSET SCHEME MEMBER</h4>
  </div>
  <div class="card-body">
    <lib-ucviewgeneric [viewGenericObj]="viewGenericObj"></lib-ucviewgeneric>
    <lib-ucaddtotemp *ngIf="tempPagingObj.isReady" [tempPagingObj]="tempPagingObj" (callback)="getListTemp($event)">
    </lib-ucaddtotemp>
    <div class="card-header">
      <div class="text-right">
        <button class="btn btn-raised btn-raised btn-warning mr-1" type="button"
          [routerLink]="['/Asset/Scheme/MemberDetail']" [queryParams]="{AssetSchmHId: this.AssetSchmHId}" translate>
          <i class="far fa-window-close"></i> Cancel
        </button>
        <button type="button" (click)="SaveAssetSchmMember()" class="btn btn-raised btn-primary" translate>
          <i class="far fa-check-square"></i> Save
        </button>
      </div>
    </div>
  </div>
</div>