<p>
  dummy works!
</p>
<br><br><br><br><br><br>

<!-- 
<aw-wizard #wizard navBarLayout="large-empty-symbols">
  <aw-wizard-step [stepTitle]="'General Setting'" 
  [navigationSymbol]="{ symbol: '&#xf007;', fontFamily: 'FontAwesome' }">
<app-dummy1></app-dummy1>
  </aw-wizard-step>
  <aw-wizard-step [stepTitle]="'Product'" 
  [navigationSymbol]="{ symbol: '&#xf007;', fontFamily: 'FontAwesome' }">
  <app-dummy2></app-dummy2>
  </aw-wizard-step>
  <aw-wizard-step [stepTitle]="'Setting'" 
  [navigationSymbol]="{ symbol: '&#xf007;', fontFamily: 'FontAwesome' }">
  <app-dummy3></app-dummy3>
  </aw-wizard-step>
</aw-wizard> -->