<div class="customerData">
  <form class="form form-horizontal" [formGroup]="CustDataPersonalForm"
    (ngSubmit)="CustDataPersonalForm.valid && SaveForm()" #enjiForm="ngForm">
    <div class="form-body">
      <lib-ucSubsection [id]="'custAddrId'" [title]="'Customer Address'" [panel]="'customerAddr'">
      </lib-ucSubsection>
      <div id="customerAddr">
        <div class="form-group row adins-required">
          <label class="col-md-2  adInsLabel adins-required adins-required-label" translate>Address Type Name </label>
          <div class="col-md-4">
            <select class="form-control adInsInput" formControlName="MrCustAddrTypeCode" required (change)="checkCustAddrType()">
              <option *ngFor="let ram of listAddressType" [value]="ram.Key">
                {{ram.Value}}
              </option>
            </select>
            <lib-uc-show-errors [control]="CustDataPersonalForm.controls.MrCustAddrTypeCode" [submit]="enjiForm.submitted">
            </lib-uc-show-errors>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2  adInsLabel" translate>Copy Address From </label>
          <div class="col-md-3">
            <select class="form-control adInsInput" formControlName="CopyAddrFrom">
              <option *ngFor="let ram of listCustAddr" [value]="ram.CustAddrId">{{ram.MrCustAddrTypeCode}}
              </option>
            </select>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-raised btn-primary" (click)="copyAddress()">
              <i class="fa fa-files-o"></i> Copy
            </button>
          </div>
        </div>
        <div id="CustMainDataPersonal">
          <lib-ucaddress #UcAddrGrp [addressObj]="inputAddressObj" [enjiForm]="enjiForm" [identifier]="'custAddress'"></lib-ucaddress>
          <!-- <lib-ucaddress *ngIf="this.CustDataPersonalForm.controls['MrCustAddrTypeCode'].value =='RESIDENCE' || this.CustDataPersonalForm.controls['MrCustAddrTypeCode'].value =='LEGAL'" #UcAddrGrp [showSubsection]="false" [title]="'Customer Address'"
          [UCAddrForm]="CustDataPersonalForm" [enjiForm]="enjiForm" [identifier]="'custAddress'"
          [default]="addressObj" [inputField]="inputFieldAddressObj" [showOwnership]="true"  [showStayLength]="true"></lib-ucaddress>
          <lib-ucaddress *ngIf="this.CustDataPersonalForm.controls['MrCustAddrTypeCode'].value !='RESIDENCE' && this.CustDataPersonalForm.controls['MrCustAddrTypeCode'].value !='LEGAL'" #UcAddrGrp [showSubsection]="false" [title]="'Customer Address'"
            [UCAddrForm]="CustDataPersonalForm" [enjiForm]="enjiForm" [identifier]="'custAddress'"
            [default]="addressObj" [inputField]="inputFieldAddressObj" [showOwnership]="true"></lib-ucaddress> -->
        </div>
        <div class="form-group row">
          <label class="col-md-2 adInsLabel adins-required" translate>Notes </label>
          <div class="col-md-4">
            <textarea type="text" class="form-control adInsInput" formControlName="Notes"
              [ngClass]="{ 'is-invalid': enjiForm.submitted && CustDataPersonalForm.controls.Notes.invalid }"></textarea>
            <lib-uc-show-errors [control]="CustDataPersonalForm.controls.Notes" [submit]="enjiForm.submitted"></lib-uc-show-errors>
          </div>
        </div>
      </div>
    </div>
    <div class="form-actions right">
      <button type="button" class="btn btn-raised btn-warning mr-1" (click)="back()" translate>
        <i class="far fa-window-close"></i> Cancel
      </button>
      <button type="submit" class="btn btn-raised btn-primary" translate>
        <i class="far fa-check-square"></i> Save
      </button>
    </div>
  </form>
</div>