<div class="col-sm-12">
  <h1 class="text-uppercase">PROSPECT REQUEST - {{type}}</h1>
</div>
<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="px-3">
        <form class="form form-horizontal" name="ProspectReqForm" #ProspectReqForm="ngForm" novalidate
          (ngSubmit)="ProspectReqForm.form.valid && SavePros(ProspectReqForm)">
          <div class="form-body">
            <h4 class="form-section"><i class="ft-user"></i> Customer Info </h4>
            <div class="form-group row">
              <label class="col-md-3 label-control" for="CustName">Type: </label>
              <div class="col-md-9">
                <div class="custom-control custom-radio display-inline-block">
                  <input type="radio" (change)="selectType($event.target.value, ProspectReqForm)" id="Personal"
                    value="P" checked name="ProsModel" class="custom-control-input">
                  <label class="custom-control-label" for="Personal">Personal</label>
                </div>
                <div class="custom-control custom-radio display-inline-block">
                  <input type="radio" (change)="selectType($event.target.value, ProspectReqForm)" id="Company" value="C"
                    name="ProsModel" class="custom-control-input">
                  <label class="custom-control-label" for="Company">Company</label>
                </div>
              </div>
            </div>
            <app-lookup name="lookup" #lookupProduct></app-lookup>
            <div class="prospectPersonal" *ngIf="prospectModel === 'P'">
              <div class="form-group row">
                <label class="col-md-3 label-control" for="CustName">Customer Name: </label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="CustName" required [(ngModel)]="CustName"
                    #custName="ngModel" [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && custName.invalid }">
                  <div *ngIf="ProspectReqForm.submitted && custName.invalid" class="invalid-feedback">
                    <div *ngIf="custName.errors.required">Customer Name is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="MrGender">Gender: </label>
                <div class="col-md-9">
                  <div class="custom-control custom-radio display-inline-block">
                    <input type="radio" id="Male" value="M" checked name="MrGender" [(ngModel)]="MrGender" class="custom-control-input">
                    <label class="custom-control-label" for="Male">Male</label>
                  </div>
                  <div class="custom-control custom-radio display-inline-block">
                    <input type="radio" id="Female" value="F" name="MrGender" [(ngModel)]="MrGender" class="custom-control-input">
                    <label class="custom-control-label" for="Female">Female</label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="KtpNo">KTP No: </label>
                <div class="col-md-9">
                  <input type="text" id="KtpNo" class="form-control" name="IdNo" required [(ngModel)]="IdNo"
                    #ktpNo="ngModel" [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && ktpNo.invalid }">
                  <div *ngIf="ProspectReqForm.submitted && ktpNo.invalid" class="invalid-feedback">
                    <div *ngIf="ktpNo.errors.required">KTP No is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="IdExpiredDt">Id Expired Date: </label>
                <div class="col-md-9">
                  <input type="date" id="IdExpiredDt" class="form-control" name="IdExpiredDt" required
                    [(ngModel)]="IdExpiredDt" #idExpiredDt="ngModel"
                    [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && idExpiredDt.invalid }">
                  <div *ngIf="ProspectReqForm.submitted && idExpiredDt.invalid" class="invalid-feedback">
                    <div *ngIf="idExpiredDt.errors.required">Id Expired Date is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="Npwp">NPWP : </label>
                <div class="col-md-9">
                  <input type="text" id="Npwp" class="form-control" name="Npwp" required [(ngModel)]="Npwp"
                    #npwp="ngModel" [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && npwp.invalid }">
                  <div *ngIf="ProspectReqForm.submitted && npwp.invalid" class="invalid-feedback">
                    <div *ngIf="npwp.errors.required">NPWP No is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="BirthPlace">Birth Place / Date: </label>
                <div class="col-md-9">
                  <div class="form-group row">
                    <div class="col-md-6" style="border-right: 1px solid grey">
                      <input type="text" id="BirthPlace" class="form-control" name="BirthPlace" required
                        [(ngModel)]="BirthPlace" #birthPlace="ngModel"
                        [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && birthPlace.invalid }">
                      <div *ngIf="ProspectReqForm.submitted && birthPlace.invalid" class="invalid-feedback">
                        <div *ngIf="birthPlace.errors.required">Birth Place is required</div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <input type="date" id="BirthDt" class="form-control" name="BirthDt" required [(ngModel)]="BirthDt"
                        #birthDt="ngModel" [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && birthDt.invalid }">
                      <div *ngIf="ProspectReqForm.submitted && birthDt.invalid" class="invalid-feedback">
                        <div *ngIf="birthDt.errors.required">Birth Date is required</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="MotherMaidenName">Mother Maiden Name: </label>
                <div class="col-md-9">
                  <input type="text" id="MotherMaidenName" class="form-control" name="MotherMaidenName" required
                    [(ngModel)]="MotherMaidenName" #motherMaidenName="ngModel"
                    [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && motherMaidenName.invalid }">
                  <div *ngIf="ProspectReqForm.submitted && motherMaidenName.invalid" class="invalid-feedback">
                    <div *ngIf="motherMaidenName.errors.required">Mother Maiden Name is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="Product">Product: </label>
                <div class="col-md-9">
                  <select class="form-control" name="LobCode" #product [(ngModel)]="LobCode">
                    <option value="NDFMCY">Refinancing Motorcycle</option>
                    <option value="NDFCAR">Refinancing Car</option>
                    <option value="DFCAR">Used Car</option>
                    <option value="PBF">Property</option>
                    <option value="HETO">Heavy Equipment</option>
                    <option value="SYA">Syariah</option>
                    <option value="EDU">Education</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="PhoneNo">Phone No: </label>
                <div class="col-md-9">
                  <input type="text" pattern="^[0-9]+$" id="PhoneNo" class="form-control" name="Phn1" required
                    [(ngModel)]="PhoneNo" #phoneNo="ngModel"
                    [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && phoneNo.invalid }">
                  <div *ngIf="ProspectReqForm.submitted && phoneNo.invalid" class="invalid-feedback">
                    <div *ngIf="phoneNo.errors.required">Phone No is required</div>
                    <div *ngIf="phoneNo.errors?.pattern">Number Only</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="MblPhoneNo">Mobile Phone No: </label>
                <div class="col-md-9">
                  <input type="text" pattern="^[0-9]+$" id="MblPhoneNo" class="form-control" name="MobilePhnNo1"
                    required [(ngModel)]="MblPhoneNo" #mblPhoneNo="ngModel"
                    [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && mblPhoneNo.invalid }">
                  <div *ngIf="ProspectReqForm.submitted && mblPhoneNo.invalid" class="invalid-feedback">
                    <div *ngIf="mblPhoneNo.errors.required">Mobile Phone No is required</div>
                    <div *ngIf="mblPhoneNo.errors?.pattern">Number Only</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="EMail1">Email: </label>
                <div class="col-md-9">
                  <input type="text" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" id="EMail1"
                    class="form-control" name="EMail1" required [(ngModel)]="EMail1" #email1="ngModel"
                    [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && email1.invalid }">
                  <div *ngIf="ProspectReqForm.submitted && email1.invalid" class="invalid-feedback">
                    <div *ngIf="email1.errors.required">Email is required</div>
                    <div *ngIf="email1.errors?.pattern">Email Invalid</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="MrMartialStat">Marital Status: </label>
                <div class="col-md-9">
                  <select class="form-control" name="MrMartialStat" #mrMartialStat [(ngModel)]="MrMartialStat">
                    <option value="MAR">Menikah</option>
                    <option value="SIN">Single</option>
                    <option value="WID">Duda / janda</option>
                    <option value="DIV">Widow</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="Address">Address: </label>
                <div class="col-md-9">
                  <textarea id="Address" rows="5" class="form-control" name="Addr" required [(ngModel)]="Addr"
                    #addr="ngModel" [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && addr.invalid }"></textarea>
                  <div *ngIf="ProspectReqForm.submitted && addr.invalid" class="invalid-feedback">
                    <div *ngIf="addr.errors.required">Address is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="Rt">Rt / Rw: </label>
                <div class="col-md-9">
                  <div class="form-group row">
                    <div class="col-md-2" style="border-right: 1px solid grey">
                      <input type="text" pattern="^[0-9]+$" id="Rt" class="form-control" name="Rt" required
                        [(ngModel)]="Rt" #rt="ngModel"
                        [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && rt.invalid }">
                      <div *ngIf="ProspectReqForm.submitted && rt.invalid" class="invalid-feedback">
                        <div *ngIf="rt.errors.required">RT is required</div>
                        <div *ngIf="rt.errors?.pattern">Number Only</div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <input type="text" pattern="^[0-9]+$" id="Rw" class="form-control" name="Rw" required
                        [(ngModel)]="Rw" #rw="ngModel"
                        [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && rw.invalid }">
                      <div *ngIf="ProspectReqForm.submitted && rw.invalid" class="invalid-feedback">
                        <div *ngIf="rw.errors.required">RW is required</div>
                        <div *ngIf="rw.errors?.pattern">Number Only</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="Zipcode">Zipcode: </label>
                <div class="col-md-3">
                  <input type="text" pattern="^[0-9]+$" id="Zipcode" class="form-control" name="Zipcode" required
                    [(ngModel)]="Zipcode" #zipcode="ngModel"
                    [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && zipcode.invalid }">
                  <div *ngIf="ProspectReqForm.submitted && zipcode.invalid" class="invalid-feedback">
                    <div *ngIf="zipcode.errors.required">Zipcode is required</div>
                    <div *ngIf="zipcode.errors?.pattern">Number Only</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="Kelurahan">Kelurahan: </label>
                <div class="col-md-9">
                  <input type="text" id="Kelurahan" class="form-control" name="Kelurahan" required
                    [(ngModel)]="Kelurahan" #kelurahan="ngModel"
                    [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && kelurahan.invalid }">
                  <div *ngIf="ProspectReqForm.submitted && kelurahan.invalid" class="invalid-feedback">
                    <div *ngIf="kelurahan.errors.required">Kelurahan is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="Kecamatan">Kecamatan: </label>
                <div class="col-md-9">
                  <input type="text" id="Kecamatan" class="form-control" name="Kecamatan" required
                    [(ngModel)]="Kecamatan" #kecamatan="ngModel"
                    [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && kecamatan.invalid }">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="Province">Province: </label>
                <div class="col-md-9">
                  <select class="form-control" id="Province" name="Province" (change)="onChange($event.target.value)" #province="ngModel"
                    [(ngModel)]="Province" [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && province.invalid }">
                    <option *ngFor="let p of allProv?.Data" value="{{p.Id}}">{{p.Description}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="City">City: </label>
                <div class="col-md-9">
                  <select class="form-control" id="City" name="City" #city="ngModel" [(ngModel)]="City"
                    [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && city.invalid }">
                    <option *ngFor="let c of allCity?.Data" value="{{c.Description}}">{{c.Description}}</option>
                    <!-- <option ng-repeat="c in allCity" value=""></option> -->
                  </select>
                  <div *ngIf="ProspectReqForm.submitted && city.invalid" class="invalid-feedback">
                    <div *ngIf="city.errors.required">City is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="Tenor">Tenor: </label>
                <div class="col-md-9">
                  <input type="text" pattern="^[0-9]+$" id="Tenor" class="form-control" name="Tenor" required
                    [(ngModel)]="Tenor" #tenor="ngModel"
                    [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && tenor.invalid }">
                  <div *ngIf="ProspectReqForm.submitted && tenor.invalid" class="invalid-feedback">
                    <div *ngIf="tenor.errors.required">Tenor is required</div>
                    <div *ngIf="tenor.errors?.pattern">Number Only</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="DownPaymentAmt">DP Amount: </label>
                <div class="col-md-9">
                  <input type="number" id="DownPaymentAmt" class="form-control" name="DownPaymentAmt" required
                    [(ngModel)]="DownPaymentAmt" #downPaymentAmt="ngModel"
                    [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && downPaymentAmt.invalid }">
                  <div *ngIf="ProspectReqForm.submitted && downPaymentAmt.invalid" class="invalid-feedback">
                    <div *ngIf="downPaymentAmt.errors.required">DP Amount is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="NtfAmt">NTF Amount: </label>
                <div class="col-md-9">
                  <input type="number" id="NtfAmt" class="form-control" name="NtfAmt" required
                    [(ngModel)]="NtfAmt" #ntfAmt="ngModel"
                    [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && ntfAmt.invalid }">
                  <div *ngIf="ProspectReqForm.submitted && ntfAmt.invalid" class="invalid-feedback">
                    <div *ngIf="ntfAmt.errors.required">NTF Amount is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="prospectCompany" *ngIf="prospectModel === 'C'">
              <div class="form-group row">
                <label class="col-md-3 label-control" for="CustName">Customer Name: </label>
                <div class="col-md-9">
                  <input type="text" id="CustName" class="form-control" name="CustName" required [(ngModel)]="CustName"
                    #custName="ngModel" [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && custName.invalid }">
                  <div *ngIf="ProspectReqForm.submitted && custName.invalid" class="invalid-feedback">
                    <div *ngIf="custName.errors.required">Customer Name is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="Npwp">NPWP : </label>
                <div class="col-md-9">
                  <input type="text" id="Npwp" class="form-control" name="Npwp" required [(ngModel)]="Npwp"
                    #npwp="ngModel" [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && npwp.invalid }">
                  <div *ngIf="ProspectReqForm.submitted && npwp.invalid" class="invalid-feedback">
                    <div *ngIf="npwp.errors.required">NPWP No is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="PhoneNo">Phone No: </label>
                <div class="col-md-9">
                  <input type="text" pattern="^[0-9]+$" id="PhoneNo" class="form-control" name="Phn1" required
                    [(ngModel)]="PhoneNo" #phoneNo="ngModel"
                    [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && phoneNo.invalid }">
                  <div *ngIf="ProspectReqForm.submitted && phoneNo.invalid" class="invalid-feedback">
                    <div *ngIf="phoneNo.errors.required">Phone No is required</div>
                    <div *ngIf="phoneNo.errors?.pattern">Number Only</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="Product">Product: </label>
                <div class="col-md-9">
                  <select class="form-control" name="LobCode" #product [(ngModel)]="LobCode">
                    <option value="NDFMCY">Refinancing Motorcycle</option>
                    <option value="NDFCAR">Refinancing Car</option>
                    <option value="DFCAR">Used Car</option>
                    <option value="PBF">Property</option>
                    <option value="HETO">Heavy Equipment</option>
                    <option value="SYA">Syariah</option>
                    <option value="EDU">Education</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="Address">Address: </label>
                <div class="col-md-9">
                  <textarea id="Address" rows="5" class="form-control" name="Addr" required [(ngModel)]="Addr"
                    #addr="ngModel" [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && addr.invalid }"></textarea>
                  <div *ngIf="ProspectReqForm.submitted && addr.invalid" class="invalid-feedback">
                    <div *ngIf="addr.errors.required">Address is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="Rt">Rt / Rw: </label>
                <div class="col-md-9">
                  <div class="form-group row">
                    <div class="col-md-2" style="border-right: 1px solid grey">
                      <input type="text" pattern="^[0-9]+$" id="Rt" class="form-control" name="Rt" required
                        [(ngModel)]="Rt" #rt="ngModel"
                        [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && rt.invalid }">
                      <div *ngIf="ProspectReqForm.submitted && rt.invalid" class="invalid-feedback">
                        <div *ngIf="rt.errors.required">RT is required</div>
                        <div *ngIf="rt.errors?.pattern">Number Only</div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <input type="text" pattern="^[0-9]+$" id="Rw" class="form-control" name="Rw" required
                        [(ngModel)]="Rw" #rw="ngModel"
                        [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && rw.invalid }">
                      <div *ngIf="ProspectReqForm.submitted && rw.invalid" class="invalid-feedback">
                        <div *ngIf="rw.errors.required">RW is required</div>
                        <div *ngIf="rw.errors?.pattern">Number Only</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="Zipcode">Zipcode: </label>
                <div class="col-md-3">
                  <input type="text" pattern="^[0-9]+$" id="Zipcode" class="form-control" name="Zipcode" required
                    [(ngModel)]="Zipcode" #zipcode="ngModel"
                    [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && zipcode.invalid }">
                  <div *ngIf="ProspectReqForm.submitted && zipcode.invalid" class="invalid-feedback">
                    <div *ngIf="zipcode.errors.required">Zipcode is required</div>
                    <div *ngIf="zipcode.errors?.pattern">Number Only</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="Kelurahan">Kelurahan: </label>
                <div class="col-md-9">
                  <input type="text" id="Kelurahan" class="form-control" name="Kelurahan" required
                    [(ngModel)]="Kelurahan" #kelurahan="ngModel"
                    [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && kelurahan.invalid }">
                  <div *ngIf="ProspectReqForm.submitted && kelurahan.invalid" class="invalid-feedback">
                    <div *ngIf="kelurahan.errors.required">Kelurahan is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="Kecamatan">Kecamatan: </label>
                <div class="col-md-9">
                  <input type="text" id="Kecamatan" class="form-control" name="Kecamatan" required
                    [(ngModel)]="Kecamatan" #kecamatan="ngModel"
                    [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && kecamatan.invalid }">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="Province">Province: </label>
                <div class="col-md-9">
                  <select class="form-control" id="Province" name="Province" (change)="onChange($event.target.value)" #province="ngModel"
                    [(ngModel)]="Province" [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && province.invalid }">
                    <option *ngFor="let p of allProv?.Data" value="{{p.Id}}">{{p.Description}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="City">City: </label>
                <div class="col-md-9">
                  <select class="form-control" id="City" name="City" #city="ngModel" [(ngModel)]="City"
                    [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && city.invalid }">
                    <option *ngFor="let c of allCity?.Data" value="{{c.Description}}">{{c.Description}}</option>
                    <!-- <option ng-repeat="c in allCity" value=""></option> -->
                  </select>
                  <div *ngIf="ProspectReqForm.submitted && city.invalid" class="invalid-feedback">
                    <div *ngIf="city.errors.required">City is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="Tenor">Tenor: </label>
                <div class="col-md-9">
                  <input type="text" pattern="^[0-9]+$" id="Tenor" class="form-control" name="Tenor" required
                    [(ngModel)]="Tenor" #tenor="ngModel"
                    [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && tenor.invalid }">
                  <div *ngIf="ProspectReqForm.submitted && tenor.invalid" class="invalid-feedback">
                    <div *ngIf="tenor.errors.required">Tenor is required</div>
                    <div *ngIf="tenor.errors?.pattern">Number Only</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="DownPaymentAmt">DP Amount: </label>
                <div class="col-md-9">
                  <input type="number" id="DownPaymentAmt" class="form-control" name="DownPaymentAmt" required
                    [(ngModel)]="DownPaymentAmt" #downPaymentAmt="ngModel"
                    [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && downPaymentAmt.invalid }">
                  <div *ngIf="ProspectReqForm.submitted && downPaymentAmt.invalid" class="invalid-feedback">
                    <div *ngIf="downPaymentAmt.errors.required">DP Amount is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="NtfAmt">NTF Amount: </label>
                <div class="col-md-9">
                  <input type="number" id="NtfAmt" class="form-control" name="NtfAmt" required
                    [(ngModel)]="NtfAmt" #ntfAmt="ngModel"
                    [ngClass]="{ 'is-invalid': ProspectReqForm.submitted && ntfAmt.invalid }">
                  <div *ngIf="ProspectReqForm.submitted && ntfAmt.invalid" class="invalid-feedback">
                    <div *ngIf="ntfAmt.errors.required">NTF Amount is required</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <button type="button" (click)="Back()" class="btn btn-raised btn-warning mr-1">
              <i class="fa fa-arrow-circle-left"></i> Back
            </button>
            <button type="submit" class="btn btn-raised btn-primary">
              <i class="fa fa-check-square-o"></i> Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>