<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="px-3">
        <div class="addEdit">


          <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Main Info
          </h4>

          <lib-ucSubsection [id]="'MainInfo'" [title]="'Main Info'" [panel]="'MainInfoId'">
          </lib-ucSubsection>
      

<form class="form form-horizontal" [formGroup]="CustomerCompanyForm" (ngSubmit)="CustomerCompanyForm.valid "
#enjiForm="ngForm" id="MainInfoId">
            <div class="form-body">
              <div class="form-group row adins-required">
                <label class="col-md-2 adInsLabel" translate>Customer Model </label>
                <div class="col-md-4">
                  <input type="text" class="form-control adInsInput" formControlName="CustModel"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerCompanyForm.controls.CustModel.invalid}">
                  <show-errors [control]="CustomerCompanyForm.controls.CustModel" [submit]="enjiForm.submitted">
                  </show-errors>
                </div>

                <label class="col-md-2  adInsLabel" translate>Customer Name </label>

                <div class="col-md-4">
                  <input type="text" class="form-control adInsInput" formControlName="CustName"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerCompanyForm.controls.CustName.invalid}">
                  <show-errors [control]="CustomerCompanyForm.controls.Gender" [submit]="enjiForm.submitted">
                  </show-errors>
                </div>
 
              </div>
			  
			  
			  
			       

              <div class="form-group row adins-required">
                <label class="col-md-2 adInsLabel" translate>Company Type</label>
                <div class="col-md-4">
                  <select class="form-control adInsInput" style="width: auto" formControlName="MrCompanyTypeCode"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerCompanyForm.controls.MrCompanyTypeCode.invalid }">
                    <option *ngFor="let it of tempCompanyTypeCode" value="{{it.Key}}">
                      {{it.Value}}</option>
                  </select>

                  <show-errors [control]="CustomerCompanyForm.controls.MrCompanyTypeCode" [submit]="enjiForm.submitted">
                  </show-errors>
                  </div>
                  <label class="col-md-2 adInsLabel" translate>ID TYPE </label>
                  <div class="col-md-4">
                    <select class="form-control adInsInput" style="width: auto" formControlName="MrIdTypeCode"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerCompanyForm.controls.MrIdTypeCode.invalid }">
                    <option *ngFor="let it of tempIdType" value="{{it.Key}}">
                      {{it.Value}}</option>
                  </select>
                     
                    <show-errors [control]="CustomerCompanyForm.controls.MrIdTypeCode" [submit]="enjiForm.submitted">
                    </show-errors>
                  </div>
                
              </div>
			  
			  
			  
                <div class="form-group row adins-required">
                
                  <label class="col-md-2 adInsLabel" translate>NPWP </label>
                  <div class="col-md-4">
                    <input type="text" class="form-control adInsInput" formControlName="IdNo"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerCompanyForm.controls.IdNo.invalid}">
                    <show-errors [control]="CustomerCompanyForm.controls.IdNo" [submit]="enjiForm.submitted">
                    </show-errors>
                  </div>

                  <label class="col-md-2 adInsLabel" translate>NPWP</label>
                  <div class="col-md-4">
                    <input type="text" class="form-control adInsInput" formControlName="TaxIdNo"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerCompanyForm.controls.TaxIdNo.invalid}">
                    <show-errors [control]="CustomerCompanyForm.controls.TaxIdNo" [submit]="enjiForm.submitted">
                    </show-errors>
                  </div>
                </div>
			  
			  
			  



            </div>



              <div class="form-actions right">
                <button type="button" class="btn btn-raised btn-warning mr-1" translate>
                  <i class="ft-x"></i> Cancel
                </button>
                <button type="submit" class="btn btn-raised btn-primary" translate>
                  <i class="fa fa-check-square-o"></i> Next
                </button>
              </div>
          </form>


        </div>
      </div>
    </div>
  </div>
</div>