<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="card-header header-title">
        <div class="row">
          <div class="col-md-8">
            <h4 class="form-section card-title" translate>Customer Company</h4>
          </div>
        </div>
      </div>
      <div class="px-3">
        <form class="form form-horizontal" [formGroup]="CustomerCompanyForm"
          (ngSubmit)="CustomerCompanyForm.valid && SaveValue() " #enjiForm="ngForm" id="MainInfoId">
          <lib-ucSubsection [id]="'MainInfo'" [title]="'Main Info'" [panel]="'MainInfoId'">
          </lib-ucSubsection>
          <div class="form-body" id="MainInfoId">
            <div class="form-group row">
              <label class="col-md-2 adInsLabel" translate>Is Supplier</label>
              <div class="col-md-4">
                <input class="border-primary" type="checkbox" data-md-icheck formControlName="IsSupplier"
                  (click)="checkIsSupplier()" />
              </div>
            </div>
            <div class="form-group row" *ngIf="IsSupplier == true">
              <label class="col-md-2 adinsLabel" for="LinkSupplier" translate>Link Supplier </label>
              <div class="col-md-4">
                <lib-uclookupgeneric *ngIf="inputLookupObj?.isReady" [lookupInput]="inputLookupObj"
                  [parentForm]='CustomerCompanyForm' [enjiForm]='enjiForm' [identifier]="'lookupSupp'"
                  #LookupSupplier (lookup)="SetSupplier($event)">
                </lib-uclookupgeneric>
              </div>
            </div>
            <div class="form-group row adins-required">
              <label class="col-md-2  adInsLabel" translate>Customer Name </label>
              <div class="col-md-4">
                <input type="text" class="form-control adInsInput" formControlName="CustName"
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerCompanyForm.controls.CustName.invalid}">
                <lib-uc-show-errors [control]="CustomerCompanyForm.controls.Gender" [submit]="enjiForm.submitted">
                </lib-uc-show-errors>
              </div>
              <label class="col-md-2 adInsLabel" translate>Customer Model </label>
              <div class="col-md-4">
                <select class="form-control adInsInput" style="width: auto" formControlName="CustModel"
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerCompanyForm.controls.CustModel.invalid }">
                  <option *ngFor="let it of tempCustModel  " [value]="it.Key">
                    {{it.Value}}</option>
                </select>
                <lib-uc-show-errors [control]="CustomerCompanyForm.controls.CustModel" [submit]="enjiForm.submitted">
                </lib-uc-show-errors>
              </div>
            </div>
            <div class="form-group row ">
              <label class="col-md-2 adins-required-label" translate>Company Type</label>
              <div class="col-md-4">
                <select class="form-control adInsInput" style="width: auto" formControlName="MrCompanyTypeCode"
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerCompanyForm.controls.MrCompanyTypeCode.invalid }">
                  <option *ngFor="let it of tempCompanyTypeCode " [value]="it.Key">
                    {{it.Value}}</option>
                </select>
                <lib-uc-show-errors [control]="CustomerCompanyForm.controls.MrCompanyTypeCode"
                  [submit]="enjiForm.submitted">
                </lib-uc-show-errors>
              </div>
              <label class="col-md-2 adInsLabel" translate>Tax Id No</label>
              <div class="col-md-4">
                <input type="text" class="form-control adInsInput" formControlName="TaxIdNo"
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerCompanyForm.controls.TaxIdNo.invalid}">
                <lib-uc-show-errors [control]="CustomerCompanyForm.controls.TaxIdNo" [submit]="enjiForm.submitted">
                </lib-uc-show-errors>
              </div>
            </div>
            <div class="form-group row ">
              <label class="col-md-2 adInsLabel" translate>Affiliation with Multifinance</label>
              <div class="col-md-4">
                <input class="border-primary" type="checkbox" data-md-icheck formControlName="IsAffiliateWithMf" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 adInsLabel" translate>VIP</label>
              <div class="col-md-4">
                <input class="border-primary" type="checkbox" data-md-icheck formControlName="IsVip"
                  (click)="checkState()" />
              </div>
              <label class="col-md-2 adInsLabel" [ngClass]="{'adins-required-label' : VipNotesRequired==true}"
                translate>VIP Notes</label>
              <div class="col-md-4">
                <textarea class="form-control adInsInput width-75-per" formControlName="VipNotes"
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerCompanyForm.controls.VipNotes.invalid }"></textarea>

                <lib-uc-show-errors [control]="CustomerCompanyForm.controls.VipNotes" [submit]="enjiForm.submitted">
                </lib-uc-show-errors>
              </div>
            </div>
          </div>
          <lib-ucSubsection [id]="'LegalAddr'" [title]="'Legal Address'" [panel]="'LegalAddrSection'">
          </lib-ucSubsection>
          <div class="form-body" id="LegalAddrSection">
            <lib-ucaddress [addressObj]="inputAddressObj" [UCAddrForm]="CustomerCompanyForm" [enjiForm]="enjiForm" [identifier]="'UcAddress'">
            </lib-ucaddress> 
          </div>

          <lib-ucSubsection [id]="'FraudCheckInfo'" [title]="'Fraud Checking Customer'" [panel]="'dFraudCheckInfo'">
          </lib-ucSubsection>
          <div id="dFraudCheckInfo" class="row">
            <div class="col-md-12">
                <label class="col-md-3" translate>Pefindo</label>
                        
                <span class="col-md-6">
                  <label translate>Last Check is 63 days ago /                        
                  </label>                                               
                  <button type="button" (click)="openPopUp(popUpPefindo)" class="btn btn-raised btn-primary" translate>
                    Hit Pefindo
                  </button>   
                  /
                  <a (click)="openPopUp(popUpViewPefindo)">View</a> 
                </span>    
            </div>
            <div class="col-md-12">
                <label class="col-md-3" translate>SLIK</label>                            
                <label class="col-md-6" translate>Not hit yet /  
                  <button type="button" (click)="openPopUp(popUpSlik)" class="btn btn-raised btn-primary"
                  translate>
                  Hit SLIK
                </button>                     
                </label>    
            </div>
          </div>

          <!-- POP UP PEFINDO -->
          <ng-template #popUpPefindo let-c="close" let-d="dismiss">
            <div class="modal-header">
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <app-customer-company-data></app-customer-company-data>
          </ng-template>

          <ng-template #popUpViewPefindo let-c="close" let-d="dismiss">
            <div class="modal-header">
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <app-customer-company-data></app-customer-company-data>
          </ng-template>

          <!-- POP UP SLIK -->
          <ng-template #popUpSlik let-c="close" let-d="dismiss">
            <div class="modal-header">
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <app-pop-up-view-slik></app-pop-up-view-slik>
          </ng-template>

          <div class="form-actions right">
            <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="['../../Paging']" skipLocationChange translate>
              <i class="far fa-window-close"></i> Cancel
            </button>
            <button type="submit" class="btn btn-raised btn-primary" translate>
              <i class="far fa-check-square"></i> Save and Continue
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>