<div class="col-md-12">
  <div class="ucSearch-Button-Right pt-3">
    <button type="button" class="addButton" [routerLink]="[AddLink]" skipLocationChange>
      <i class="ft-plus-circle"></i>&nbsp;<span translate>Add</span>
    </button>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="card-header header-title">
        <div class="row">
          <div class="col-md-5">
            <h4 class="form-section card-title px-2 pb-2" translate>Notification Broadcast Message</h4>
          </div>
        </div>
      </div>
      <div class="px-3">
        <div class="form-group row">
          <label class="col-md-2 px-3 adInsLabel" translate> Select Notification Type</label>
          <div class="col-md-9 px-5">
            <select class="form-control adInsInput" style="width: auto" (change)="OnChangeType($event.target.value)">
              <option value="">Select One</option>
              <option *ngFor="let it of ListNotifTypeKvp" value="{{it.Key}}">
                {{it.Value}}</option>
            </select>
          </div>
        </div>
      </div>
      <br>
      <lib-ucaddtotemp *ngIf="ShowTempPaging" [tempPagingObj]="TempPagingObj" (callback)="getListTemp($event)" (getSelected)="ResendNotif($event)"></lib-ucaddtotemp>
      <div class="form-actions text-right">
        <button type="button" class="btn btn-raised btn-primary mt-2" (click)="ResendFromList()" *ngIf="ShowButton">
          <i class="far fa-check-square"></i>&nbsp;<span translate>Resend From List</span>
        </button>
      </div>
    </div>
  </div>
</div>