<div class="ucSearch-Button-Right">
    <button type="button" class="addButton" [routerLink]="[AddLink]" skipLocationChange>
        <i class="ft-plus-circle"></i>&nbsp;<span translate>Add</span>
    </button>
</div>
<lib-ucaddtotemp *ngIf="TempPagingObj.isReady" [tempPagingObj]="TempPagingObj" (callback)="getListTemp($event)" (getSelected)="ResendNotif($event)"></lib-ucaddtotemp>
<div class="form-actions right">
    <button type="button" class="btn btn-raised btn-primary mt-2" (click)="ResendFromList()" *ngIf="ShowButton">
        <i class="far fa-check-square"></i>&nbsp;<span translate>Resend From List</span>
    </button>
</div>