<div class="customerData">
  <form class="form form-horizontal" [formGroup]="JobDataEmpForm" (ngSubmit)="JobDataEmpForm.valid && SaveForm()"
      #enjiForm="ngForm">
    <div class="form-body">
      <div id="jobData">
          <div class="form-group row adins-required">
              <label class="col-md-3 adInsLabel adins-required-label" translate>Profession Name</label>
              <div class="col-md-4">
                <lib-uclookupgeneric [lookupInput]="professionLookUpObj" [parentForm]="JobDataEmpForm"
                  [enjiForm]="enjiForm" [identifier]="'MrJobProfessionCode'" (lookup)=getLookUpProfession($event)>
                </lib-uclookupgeneric>
              </div>
          </div>
          <div class="form-group row adins-required">
              <label class="col-md-3 adInsLabel adins-required-label" translate>Job Position </label>
              <div class="col-md-4">
                <select class="form-control adInsInput" formControlName="JobPosition">
                  <option *ngFor="let ram of listJobPosition" [value]="ram.Key">
                    {{ram.Value}}
                  </option>
                </select>
                <show-errors [control]="JobDataEmpForm.controls.JobPosition" [submit]="enjiForm.submitted"></show-errors>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-md-3 adInsLabel adins-required" translate>Job Title Name </label>
              <div class="col-md-4">
                <input type="text" class="form-control adInsInput" formControlName="JobTitleName"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataEmpForm.controls.JobTitleName.invalid }">
                <show-errors [control]="JobDataEmpForm.controls.JobTitleName" [submit]="enjiForm.submitted"></show-errors>
              </div>
          </div>
          <div class="form-group row adins-required">
              <label class="col-md-3 adInsLabel adins-required-label" translate>Job Status </label>
              <div class="col-md-4">
                <select class="form-control adInsInput" formControlName="JobStatus">
                  <option *ngFor="let ram of listJobStatus" [value]="ram.Key">
                    {{ram.Value}}
                  </option>
                </select>
                <show-errors [control]="JobDataEmpForm.controls.JobStatus" [submit]="enjiForm.submitted"></show-errors>
              </div>
          </div>
          <div class="form-group row adins-required">
              <label class="col-md-3 adInsLabel adins-required-label" translate>Nama Perusahaan/Usaha </label>
              <div class="col-md-4">
                <input type="text" class="form-control adInsInput" formControlName="IndustryName" required
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataEmpForm.controls.IndustryName.invalid }">
                <show-errors [control]="JobDataEmpForm.controls.IndustryName" [submit]="enjiForm.submitted"></show-errors>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-md-3 adInsLabel" translate>Internal Employee </label>
              <div class="col-md-9">
                <input class="border-primary" type="checkbox" data-md-icheck
                        formControlName="InternalEmployee" />
              </div>
          </div>
          <div class="form-group row adins-required">
              <label class="col-md-3 adInsLabel adins-required-label" translate>Industry Type Name </label>
              <div class="col-md-4">
                <lib-uclookupgeneric [lookupInput]="industryLookUpObj" [parentForm]="JobDataEmpForm"
                [enjiForm]="enjiForm" [identifier]="'IndustryTypeCode'" (lookup)=getLookUpIndustry($event)>
                </lib-uclookupgeneric>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-md-3 adInsLabel adins-required" translate>Company Scale </label>
              <div class="col-md-4">
                <select class="form-control adInsInput" formControlName="CompanyScale">
                  <option *ngFor="let ram of listCompanyScale" [value]="ram.Key">
                    {{ram.Value}}
                  </option>
                </select>
                <show-errors [control]="JobDataEmpForm.controls.CompanyScale" [submit]="enjiForm.submitted"></show-errors>
              </div>
          </div>
          <div class="form-group row adins-required">
              <label class="col-md-3 adInsLabel adins-required-label" translate>Employment Establishment Date </label>
              <div class="col-md-4">
                <input type="date" id="empEstablishmentDt" class="form-control adInsInput" formControlName="EmpEstablishmentDate" required
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataEmpForm.controls.EmpEstablishmentDate.invalid }">
                <show-errors [control]="JobDataEmpForm.controls.EmpEstablishmentDate" [submit]="enjiForm.submitted"></show-errors>
              </div>
          </div>
          <lib-ucSubsection [id]="'jobAddrId'" [title]="'Address'" [panel]="'jobAddr'">
          </lib-ucSubsection>
          <div id="jobAddr">
              <div id="CustMainDataPersonal"> 
                  <lib-ucaddress #UcAddrGrp [showSubsection]="false" [title]="'Job Address'" [UCAddrForm]="JobDataEmpForm" [enjiForm]="enjiForm" [identifier]="'jobAddress'" [default]="addressObj" [inputField]="inputJobAddressObj" [showOwnership]="true"></lib-ucaddress>
              </div>
              <div class="form-group row">
                  <label class="col-md-2 adInsLabel adins-required" translate>Notes </label>
                  <div class="col-md-4">
                  <textarea type="text" class="form-control adInsInput" formControlName="NotesJob"
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataEmpForm.controls.NotesJob.invalid }"></textarea>
                  <show-errors [control]="JobDataEmpForm.controls.NotesJob" [submit]="enjiForm.submitted"></show-errors>
                  </div>
              </div>
          </div>
          <lib-ucSubsection [id]="'jobAddrAttrId'" [title]="'Job Address Attribute'" [panel]="'jobAddrAttribute'">
          </lib-ucSubsection>
          <div id="jobAddrAttribute">
              <div class="form-group row">
                  <label class="col-md-3 adInsLabel adins-required" translate>Building Location Class </label>
                  <div class="col-md-4">
                  <input type="text" class="form-control adInsInput" formControlName="LocationClass"
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataEmpForm.controls.LocationClass.invalid }">
                  <show-errors [control]="JobDataEmpForm.controls.LocationClass" [submit]="enjiForm.submitted"></show-errors>
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-md-3 adInsLabel adins-required" translate>Building Price Estimates </label>
                  <div class="col-md-4">
                  <input type="number" class="form-control adInsInput" formControlName="PriceEstimates"
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataEmpForm.controls.PriceEstimates.invalid }">
                  <show-errors [control]="JobDataEmpForm.controls.PriceEstimates" [submit]="enjiForm.submitted"></show-errors>
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-md-3 adInsLabel adins-required" translate>Building Stay Length </label>
                  <div class="col-md-4">
                  <input type="text" class="form-control adInsInput" formControlName="StayLength"
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataEmpForm.controls.StayLength.invalid }">
                  <show-errors [control]="JobDataEmpForm.controls.StayLength" [submit]="enjiForm.submitted"></show-errors>
                  </div>
              </div>
          </div>
          <lib-ucSubsection [id]="'otherBusinessId'" [title]="'Other Business'" [panel]="'otherBusiness'">
          </lib-ucSubsection>
          <div id="otherBusiness">
              <div class="form-group row">
                  <label class="col-md-3 adInsLabel adins-required" translate>Other Business Name </label>
                  <div class="col-md-4">
                  <input type="text" class="form-control adInsInput" formControlName="OtherBusinessName"
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataEmpForm.controls.OtherBusinessName.invalid }">
                  <show-errors [control]="JobDataEmpForm.controls.OtherBusinessName" [submit]="enjiForm.submitted"></show-errors>
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-md-3 adInsLabel adins-required" translate>Other Business Type </label>
                  <div class="col-md-4">
                  <input type="text" class="form-control adInsInput" formControlName="OtherBusinessType"
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataEmpForm.controls.OtherBusinessType.invalid }">
                  <show-errors [control]="JobDataEmpForm.controls.OtherBusinessType" [submit]="enjiForm.submitted"></show-errors>
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-md-3 adInsLabel adins-required" translate>Other Business Industry Type </label>
                  <div class="col-md-4">
                  <input type="text" class="form-control adInsInput" formControlName="OtherBusinessIndustry"
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataEmpForm.controls.OtherBusinessIndustry.invalid }">
                  <show-errors [control]="JobDataEmpForm.controls.OtherBusinessIndustry" [submit]="enjiForm.submitted"></show-errors>
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-md-3 adInsLabel adins-required" translate>Other Job Position </label>
                  <div class="col-md-4">
                  <input type="text" class="form-control adInsInput" formControlName="OtherJobPosition"
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataEmpForm.controls.OtherJobPosition.invalid }">
                  <show-errors [control]="JobDataEmpForm.controls.OtherJobPosition" [submit]="enjiForm.submitted"></show-errors>
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-md-3 adInsLabel adins-required" translate>Establishment Date </label>
                  <div class="col-md-4">
                    <input type="date" id="establishmentDt" class="form-control adInsInput" formControlName="EstablishmentDate"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataEmpForm.controls.EstablishmentDate.invalid }">
                    <show-errors [control]="JobDataEmpForm.controls.EstablishmentDate" [submit]="enjiForm.submitted"></show-errors>
                  </div>
              </div>
          </div>
          <lib-ucSubsection [id]="'otherAddrId'" [title]="'Other Business Address'" [panel]="'otherBusinessAddr'">
          </lib-ucSubsection>
          <div id="otherBusinessAddr">
              <div id="CustMainDataPersonal"> 
                  <lib-ucaddress #UcAddrGrp [showSubsection]="false" [isRequired]="false" [title]="'Other Business Address'" [UCAddrForm]="JobDataEmpForm" [enjiForm]="enjiForm" [identifier]="'otherBusinessAddress'" [default]="otherAddrObj" [inputField]="inputOtherAddressObj" [showOwnership]="true"></lib-ucaddress>
              </div>
              <div class="form-group row">
                  <label class="col-md-2 adInsLabel adins-required" translate>Notes </label>
                  <div class="col-md-4">
                  <textarea type="text" class="form-control adInsInput" formControlName="NotesOther"
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataEmpForm.controls.NotesOther.invalid }"></textarea>
                  <show-errors [control]="JobDataEmpForm.controls.NotesOther" [submit]="enjiForm.submitted"></show-errors>
                  </div>
              </div>
          </div>
          <lib-ucSubsection [id]="'otherAddrAttrId'" [title]="'Other Business Address Attribute'" [panel]="'otherAddrAttribute'">
          </lib-ucSubsection>
          <div id="otherAddrAttribute">
              <div class="form-group row">
                  <label class="col-md-3 adInsLabel adins-required" translate>Building Location Class </label>
                  <div class="col-md-4">
                  <input type="text" class="form-control adInsInput" formControlName="OtherLocationClass"
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataEmpForm.controls.OtherLocationClass.invalid }">
                  <show-errors [control]="JobDataEmpForm.controls.OtherLocationClass" [submit]="enjiForm.submitted"></show-errors>
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-md-3 adInsLabel adins-required" translate>Building Price Estimates </label>
                  <div class="col-md-4">
                  <input type="number" class="form-control adInsInput" formControlName="OtherPriceEstimates"
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataEmpForm.controls.OtherPriceEstimates.invalid }">
                  <show-errors [control]="JobDataEmpForm.controls.OtherPriceEstimates" [submit]="enjiForm.submitted"></show-errors>
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-md-3 adInsLabel adins-required" translate>Building Stay Length </label>
                  <div class="col-md-4">
                  <input type="text" class="form-control adInsInput" formControlName="OtherStayLength"
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataEmpForm.controls.OtherStayLength.invalid }">
                  <show-errors [control]="JobDataEmpForm.controls.OtherStayLength" [submit]="enjiForm.submitted"></show-errors>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="form-actions right" style="text-align: right;" >
      <button type="submit" class="btn btn-raised btn-primary" translate>
        <i class="fa fa-check-square-o"></i> Save and Continue
      </button>
    </div>
  </form>
</div>
