<div class="ucSearch-Button-Right">
  <span class="mr-1">
    <button type="button" class="backButton" [routerLink]="[CancelLink]" skipLocationChange translate>
      <i class="far fa-arrow-left"></i> Back
    </button>
    <button type="button" class="addButton" [routerLink]="[AddLink]" skipLocationChange
      [queryParams]="{RefRoleId: this.RefRoleId}">
      <i class="ft-plus-circle"></i> Add
    </button>
  </span>
</div>
<lib-ucviewgeneric [viewGenericObj]="viewGenericObj"> </lib-ucviewgeneric>
<lib-ucpaging id="memberUcPaging" [searchObj]="inputPagingObj"></lib-ucpaging>