<form class="form form-horizontal" [formGroup]="OtherInformationForm" #enjiForm="ngForm" (ngSubmit)="SaveForm(true)">

  <app-self-custom-cust-attr-form [Label]="'List'" [CustId]="CustId" [AttrGroup]="attrGroup" [parentForm]="OtherInformationForm" [identifier]="identifierCustAttr" [enjiForm]="enjiForm" [IsVertical]="true" #CustAttrForm></app-self-custom-cust-attr-form>

  <div class="form-group row">
    <div class="col-md-12" style="text-align: right">
      <button type="submit" class="btn btn-raised btn-primary mr-1" (click)="SaveAndSync()">
        <i class="far fa-check-square"></i>&nbsp;<span translate>Save and Sync</span>
    </button>
      <button class="btn btn-raised btn-primary" type="submit">
        <i class="far fa-check-square"></i>&nbsp;<span translate>Save</span>
      </button>
    </div>
  </div>
</form>