<lib-ucSubsection [id]="'MainInfo'" [title]="'Financial Data'" [panel]="'FinId'">
</lib-ucSubsection>
<form class="form form-horizontal" id="FinId">
  <div class="form-body" >
    <div class="form-group row ">
      <label class="col-md-2 adInsLabel" translate>Monthly Income Ammount</label>
      <div class="col-md-4">
        <label>{{this.tempCustObj?.MonthlyIncomeAmt | currency : "Rp. "}}</label>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2  adInsLabel" translate>Monthly Expense Ammount</label>
      <div class="col-md-4">
        <label>{{this.tempCustObj?.MonthlyExpenseAmt | currency : "Rp. "}} </label>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 adInsLabel" translate>Source Of Other Income</label>
      <div class="col-md-4">
        <label>{{this.tempCustObj?.SourceOfOtherIncome}}</label>
      </div>
    </div>
    <div class="form-group row ">
      <label class="col-md-2 adInsLabel" translate>Monthly Installment Ammount</label>
      <div class="col-md-4">
        <label>{{this.tempCustObj?.MonthlyInstallmentAmt | currency : "Rp. "}} </label>
      </div>
    </div>
    <div class="form-group row">
      <label *ngIf="this.tempCustObj?.MaritalStat == 'MAR'" class="col-md-2 adInsLabel" translate>Spouse Monthly Income
        Ammount</label>
      <div *ngIf="this.tempCustObj?.MaritalStat == 'MAR'" class="col-md-4">
        <label>{{this.tempCustObj?.SpouseMonthlyIncomeAmt | currency : "Rp. "}} </label>
      </div>
    </div>
    <div *ngIf="this.tempCustObj?.MaritalStat == 'MAR'" class="form-group row ">
      <label class="col-md-2 adInsLabel" translate>Join Income</label>
      <div class="col-md-4">
        <label *ngIf="this.tempCustObj?.IsJoinInc == true">Yes</label>
        <label *ngIf="this.tempCustObj?.IsJoinInc == false">No</label>
      </div>
    </div>
  </div>
</form>