<app-product-ho-view [inputProdHId]="ProdHId"></app-product-ho-view>
<div class="card">
  <div class="card-body">
    <div class="px-3">
      <form class="form form-horizontal" [formGroup]="FormObj" (ngSubmit)="FormObj.valid && SaveForm()"
        #enjiForm="ngForm">
        <lib-ucSubsection [id]="'productHOReviewId'" [title]="'REQUEST FOR APPROVAL'" [panel]="'productHOReview'">
        </lib-ucSubsection>
        <div id="productHOReview">
          <div class="form-group row">
            <div class="form-group col-md-2">
              <label class="adins-required-label">Approver</label>
            </div>
            <div class="col-md-4">
              <lib-ucapproveby [apvBaseUrl]="apvBaseUrl" [parentForm]="FormObj" [identifier]="'ApprovedById'"
                [schemeCode]="'APV_HO_ACT_SCHM'" [enjiForm]="enjiForm" [isRequired]="'true'"
                (onChange)="onChangeApprover($event)">
              </lib-ucapproveby>
             </div>
            <div class="form-group col-md-2">
              <label class="adins-required-label">Notes</label>
            </div>
            <div class="col-md-4">
              <textarea type="textarea" row="5" class="form-control" formControlName="Notes"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && FormObj.controls.Notes.invalid}"></textarea>
              <lib-uc-show-errors [control]="FormObj.controls.Notes" [submit]="enjiForm.submitted"></lib-uc-show-errors>
            </div>
          </div>
        </div>
        <div class="form-actions right">
          <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="['../HOReviewPaging']" translate>
            <i class="ft-x"></i> Cancel
          </button>
          <button type="submit" class="btn btn-raised btn-primary" translate>
            <i class="far fa-check-square"></i> Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>