<div class="row text-left">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="card-header header-title">
            <div class="row">
              <div class="col-md-8">
                <h4 class="card-title" id="horz-layout-colored-controls" translate>NOTIF_BROADCAST_FORM</h4>
                <br>
              </div>
            </div>
          </div>
          <div class="px-3">
            <form class="form form-horizontal" [formGroup]="NotifBroadcastForm" #enjiForm="ngForm"
              (ngSubmit)="NotifBroadcastForm.valid && SaveForm()">
              <lib-ucSubsection [id]="'NotifBroadcastId'" [title]="title" [panel]="'NotifBroadcast'"></lib-ucSubsection>
              <div class="form-body" id="NotifBroadcast">
                <div class="form-group">
                  <div class="form-group row">
                    <label class="col-md-3 adInsLabel" translate>NOTIF_TEMPLATE</label>
                    <div class="col-md-9 input-group">
                      <lib-uclookupgeneric class="col-md-6 px-0" [lookupInput]="InputLookupTemplateMessageObj" [parentForm]="NotifBroadcastForm" [enjiForm]="enjiForm"
                        [identifier]="IdentifierLookupTemplateMessage" (lookup)="getLookUp($event)" *ngIf="InputLookupTemplateMessageObj.isReady">
                      </lib-uclookupgeneric>
                      <div class="col-md-3">
                        <button [hidden]="IsTemplateLatestVersion" *ngIf="IsUsedTemplate" type="button" class="btn btn-raised btn-primary mr-2" (click)="RefreshTemplate()">
                          Refresh
                        </button>
                        <button *ngIf="IsUsedTemplate" type="button" class="btn btn-raised btn-warning" (click)="ResetTemplate()">
                          Clear
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row adins-required">
                    <label class="col-md-3 adInsLabel" translate>NOTIF_TYPE</label>
                    <div class="col-md-9">
                      <select class="form-control adInsInput" style="min-width: 50%; max-width: auto;" formControlName="MrNotificationTypeCode"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && NotifBroadcastForm.controls.MrNotificationTypeCode.invalid }" (change)="OnChangeType()">
                        <option value="">Select One</option>
                        <option *ngFor="let it of DictListRefMaster[MrNotificationTypeCode]" value="{{it.Key}}">
                          {{it.Value}}</option>
                      </select>
                      <lib-uc-show-errors [control]="NotifBroadcastForm.controls.MrNotificationTypeCode" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>
                  <div class="form-group row adins-required">
                    <label class="col-md-3 adInsLabel" translate>NOTIF_LVL</label>
                    <div class="col-md-9">
                      <select class="form-control adInsInput" style="min-width: 50%; max-width: auto;" formControlName="MrNotificationLevelCode"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && NotifBroadcastForm.controls.MrNotificationLevelCode.invalid }">
                        <option value="">Select One</option>
                        <option *ngFor="let it of DictListRefMaster[MrNotificationLevelCode]" value="{{it.Key}}">
                          {{it.Value}}</option>
                      </select>
                      <lib-uc-show-errors [control]="NotifBroadcastForm.controls.MrNotificationLevelCode" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 adInsLabel" translate>NOTIF_SOURCE</label>
                    <div class="col-md-9">
                      <select class="form-control adInsInput" style="min-width: 50%; max-width: auto;" formControlName="MrNotificationSourceCode"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && NotifBroadcastForm.controls.MrNotificationSourceCode.invalid }">
                        <option value="">Select One</option>
                        <option *ngFor="let it of DictListRefMaster[MrNotificationSourceCode]" value="{{it.Key}}">
                          {{it.Value}}</option>
                      </select>
                      <lib-uc-show-errors [control]="NotifBroadcastForm.controls.MrNotificationSourceCode" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 adInsLabel" translate>Ref No</label>
                  <div class="col-md-9">
                    <input type="text" [IsUpperCase]="false" class="form-control adInsInput width-50-per" formControlName="RefNo">
                    <lib-uc-show-errors [control]="NotifBroadcastForm.controls.RefNo" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <app-broadcast-message-email *ngIf="GetMrNotificationTypeCodeValue == TypeEmail" [parentForm]="NotifBroadcastForm" [IsUsedTemplate]="IsUsedTemplate" [enjiForm]="enjiForm" [SendToNotificationEngineSaveObj]="SendToNotificationEngineSaveObj" (SendEmailSuccess)="CancelButton()" [IsResend]="IsResend" #EmailForm></app-broadcast-message-email>
                <app-broadcast-message-notification *ngIf="GetMrNotificationTypeCodeValue == TypePush && IsReady" [parentForm]="NotifBroadcastForm" [IsUsedTemplate]="IsUsedTemplate" [enjiForm]="enjiForm" (GetPushNotificationObj)="GetPushFromChild($event)" [IsResend]="IsResend" [SendToUname]="PushSendTo"></app-broadcast-message-notification >
                <app-broadcast-message-sms-wa *ngIf="GetMrNotificationTypeCodeValue == TypeWA || GetMrNotificationTypeCodeValue == TypeSms && IsReady" [parentForm]="NotifBroadcastForm" [IsUsedTemplate]="IsUsedTemplate" [enjiForm]="enjiForm" [IsResend]="IsResend" [SelectedPhoneNum]="SelectedPhoneNum" [IsWa]="IsWa"></app-broadcast-message-sms-wa>
                <app-body-message-tosend [hidden]="!(ParamListCount > 0)"[parentForm]="NotifBroadcastForm" [enjiForm]="enjiForm" [Title]="'Preview Message'" [ParamListCount]="ParamListCount" [IsBroadcast]="IsBroadcast" [ParamArrays]="ParamArr" [IsResend]="IsResend" [NotifType]="GetMrNotificationTypeCodeValue" #TempMessage></app-body-message-tosend>
              </div>
              <div class="form-actions right">
                <button type="button" class="btn btn-raised btn-warning mr-1"
                  (click)="CancelButton()">
                  <i class="far fa-window-close"></i>&nbsp;<span translate>Cancel</span>
                </button>
                <!-- <button type="button" class="btn btn-raised btn-primary" (click)="getFormValidationErrors()">
                  <i class="far fa-check-square"></i>&nbsp;<span translate>Test</span>
                </button> -->
                <button type="submit" class="btn btn-raised btn-primary">
                  <mat-icon fontSet="material-icons-round" style="font-size: small; height: 10px; width: 12px;">send</mat-icon>
                  &nbsp;<span translate>Send</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>