<div class="form-body">
  <div class="ucSearch-Button-Right">
    <button type="button" class="addButton" [routerLink]="[AddLinkPersonal]" skipLocationChange
      translate>
      <i class="ft-plus-circle"></i> Add Personal
    </button>
    <button type="button" class="addButton" [routerLink]="[Test1]" skipLocationChange
      translate>
      <i class="ft-plus-circle"></i> Test1
    </button>
    <button type="button" class="addButton" [routerLink]="[Test2]" skipLocationChange
      translate>
      <i class="ft-plus-circle"></i> Test2
    </button>
    <button type="button" class="addButton" [routerLink]="[Test3]" skipLocationChange
      translate>
      <i class="ft-plus-circle"></i> Test3
    </button>
    <button type="button" class="addButton" [routerLink]="[Test1]"
      translate>
      <i class="ft-plus-circle"></i> Test1
    </button>
    <button type="button" class="addButton" [routerLink]="[Test2]"
      translate>
      <i class="ft-plus-circle"></i> Test2
    </button>
    <button type="button" class="addButton" [routerLink]="[Test3]"
      translate>
      <i class="ft-plus-circle"></i> Test3
    </button>
    <button type="button" class="addButton" [routerLink]="[AddLinkCoy]" skipLocationChange translate>
      <i class="ft-plus-circle"></i> Add Company
    </button>
  </div>
</div>  
<lib-ucpaging [searchObj]="inputPagingObj"></lib-ucpaging>