<div class="row text-left">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="px-3">
          <form class="form form-horizontal" name="MenuReqForm" #MenuReqForm="ngForm"
            (ngSubmit)="MenuReqForm.form.valid && Save(MenuReqForm, lookupParent)">
            <div class="form-body">
              <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Menu Information</h4>
              <div class="form-group row">
                <label class="col-md-3 label-control adInsLabel" for="projectinput5" translate>Parent Form </label>
                <div class="col-md-9">
                  <lib-lookupparentform #lookupParent (select)="onSelect($event)" [idSelect]="parentId"
                    [nameSelect]="parentTitle" [urlQryPaging]="urlQryPaging" [urlEnviPaging]="urlEnviPaging">
                  </lib-lookupparentform>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control adInsLabel" for="projectinput5" translate>Form Code </label>
                <div class="col-md-9">
                  <input type="text" id="projectinput5" class="form-control adInsInput" name="formCode" [ngModel]="formCode"
                    #FormCode="ngModel" required
                    [ngClass]="{ 'is-invalid': MenuReqForm.submitted && FormCode.invalid }"
                    [attr.disabled]="mode === 'edit' ? true : null">
                  <div *ngIf="MenuReqForm.submitted && FormCode.invalid" class="invalid-feedback">
                    <div *ngIf="FormCode.errors.required" class="adInsReqMsg" translate>This field is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control adInsLabel" for="projectinput6" translate>Title </label>
                <div class="col-md-9">
                  <textarea id="projectinput5" class="form-control adInsInput" name="title" [ngModel]="title"
                    #Title="ngModel" required
                    [ngClass]="{ 'is-invalid': MenuReqForm.submitted && Title.invalid }"></textarea>
                    <div *ngIf="MenuReqForm.submitted && Title.invalid" class="invalid-feedback">
                      <div *ngIf="Title.errors.required" class="adInsReqMsg" translate>This field is required</div>
                    </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control adInsLabel" for="userinput5" translate>Is External </label>
                <div class="col-md-9">
                  <input class="border-primary" type="checkbox" [ngModel]="isExternalLink" data-md-icheck
                    (change)="onChange($event, 'ext')" id="projectinput5" name="isExternalLink">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control adInsLabel" for="userinput5" translate>Has Sub </label>
                <div class="col-md-9">
                  <input class="border-primary" type="checkbox" [ngModel]="hasSub" data-md-icheck
                    (change)="onChange($event, 'Sub')" id="projectinput5" name="hasSub">
                </div>
              </div>
              <div class="form-group row" *ngIf="!hasSub">
                <label class="col-md-3 label-control adInsLabel" for="projectinput6" translate>Form Path </label>
                <div class="col-md-9">
                  <textarea id="projectinput5" class="form-control adInsInput" name="path" [ngModel]="path"
                    #Path="ngModel" required [ngClass]="{ 'is-invalid': MenuReqForm.submitted && Path.invalid }"></textarea>
                    <div *ngIf="MenuReqForm.submitted && Path.invalid" class="invalid-feedback">
                      <div *ngIf="Path.errors.required" class="adInsReqMsg" translate>This field is required</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control adInsLabel" for="projectinput6" translate>Icon </label>
                <div class="col-md-9">
                  <textarea id="projectinput5" class="form-control adInsInput" name="icon" [ngModel]="icon"
                    #Icon="ngModel"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control adInsLabel" for="projectinput6" translate>Badge Class </label>
                <div class="col-md-9">
                  <textarea id="projectinput5" class="form-control adInsInput" name="badgeClass" [ngModel]="badgeClass"
                    #BadgeClass="ngModel"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control adInsLabel" for="userinput5" translate>Is Hidden </label>
                <div class="col-md-9">
                  <input class="border-primary" type="checkbox" [ngModel]="isHidden" data-md-icheck
                    (change)="onChange($event,'hidden')" id="projectinput5" name="isHidden">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control adInsLabel" for="projectinput6" translate>Order No </label>
                <div class="col-md-9">
                  <textarea id="projectinput5" class="form-control adInsInput" name="orderNo" [ngModel]="orderNo"
                    #OrderNo="ngModel" required required
                    [ngClass]="{ 'is-invalid': MenuReqForm.submitted && OrderNo.invalid }"></textarea>
                  <div *ngIf="MenuReqForm.submitted && OrderNo.invalid" class="invalid-feedback">
                    <div class="adInsReqMsg" *ngIf="OrderNo.errors.required">This Field is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="projectinput7" translate>Module </label>
                <div class="col-md-9">
                  <select id="projectinput7" [(ngModel)]="module" class="form-control"
                    name="Module">
                    <option *ngFor="let item of moduleList" value="{{item.key}}">
                      {{item.value}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-actions right">
              <button *ngIf="mode === 'edit'" type="button" class="btn btn-raised btn-warning mr-1"
                [routerLink]="['/menuSetting']" translate>
                <i class="fa fa-arrow-circle-left"></i> Back
              </button>
              <button type="submit" class="btn btn-raised btn-primary" translate>
                <i class="fa fa-check-square-o"></i> Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>