<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <div class="px-3">
                    <div class="row">
                            <div class="col-md-12" style="text-align-last: right">
                                <button type="button" class="backButton" [routerLink]="['/company/bod']" translate>
                                <i class="far fa-window-close"></i> Cancel
                                </button>
                            </div>
                            </div>
                <form class="form form-horizontal" name="RefCoyBodForm" #RefCoyBodForm="ngForm" (ngSubmit)="RefCoyBodForm.form.valid && Save(RefCoyBodForm, ucAddress, ucContactInfo)" novalidate>
                    <div class="form-body">
                        <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Board Of Director Information</h4>
                        <div class="form-group row">
                            <label class="col-md-3  adInsLabel">Name </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control adInsInput" name="name" required [(ngModel)]="name"
                                    #Name="ngModel" [ngClass]="{ 'is-invalid': (Name.touched || Name.dirty || RefCoyBodForm.submitted) && Name.invalid }">
                                    <div *ngIf="RefCoyBodForm.submitted && Name.invalid" class="invalid-feedback">
                                      <div *ngIf="Name.errors.required" class="adInsReqMsg" translate>This field is required</div>
                                    </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3  adInsLabel">Job Title </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control adInsInput" name="jobTitle" required [(ngModel)]="jobTitle"
                                    #JobTitle="ngModel" [ngClass]="{ 'is-invalid': (JobTitle.touched || JobTitle.dirty || RefCoyBodForm.submitted) && JobTitle.invalid }">
                                    <div *ngIf="RefCoyBodForm.submitted && JobTitle.invalid" class="invalid-feedback">
                                      <div *ngIf="JobTitle.errors.required" class="adInsReqMsg" translate>This field is required</div>
                                    </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3  adInsLabel">Tax Id No</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control adInsInput" name="taxIdNo" required [(ngModel)]="taxIdNo"
                                    #TaxIdNo="ngModel" [ngClass]="{ 'is-invalid': (TaxIdNo.touched || TaxIdNo.dirty || RefCoyBodForm.submitted) && TaxIdNo.invalid }">
                                    <div *ngIf="RefCoyBodForm.submitted && TaxIdNo.invalid" class="invalid-feedback">
                                      <div *ngIf="TaxIdNo.errors.required" class="adInsReqMsg" translate>This field is required</div>
                                    </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3  adInsLabel">Id Type </label>
                            <div class="col-md-9">
                                <select class="form-control adInsInput" name="mrIdType" style="width: auto" [(ngModel)]="idType">
                                    <option *ngFor="let it of itemIdType" value="{{it.masterCode}}">
                                        {{it.descr}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3  adInsLabel">Id No </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control adInsInput" name="idNo" required [(ngModel)]="idNo"
                                    #IdNo="ngModel" [ngClass]="{ 'is-invalid': (IdNo.touched || IdNo.dirty || RefCoyBodForm.submitted) && IdNo.invalid }">
                                    <div *ngIf="RefCoyBodForm.submitted && IdNo.invalid" class="invalid-feedback">
                                      <div *ngIf="IdNo.errors.required" class="adInsReqMsg" translate>This field is required</div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <app-ucAddress #ucAddress [parentForm]='RefCoyBodForm'></app-ucAddress>
                    <app-uc-info #ucContactInfo [parentForm]='RefCoyBodForm' [useName]=false [useTitle]=false></app-uc-info>
                    <div class="form-actions right">
                        
                        <button type="submit" class="btn btn-raised btn-primary">
                            <i class="far fa-check-square"></i> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
