<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <div class="px-3">
                <form class="form form-horizontal" name="RefCoyBodForm" #RefCoyBodForm="ngForm" (ngSubmit)="RefCoyBodForm.form.valid && Save(RefCoyBodForm, ucAddress, ucContactInfo)" novalidate>
                    <div class="form-body">
                        <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Board Of Director Information</h4>
                        <div class="form-group row">
                            <label class="col-md-3 label-control">Name </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="name" required [(ngModel)]="name"
                                    #Name="ngModel" [ngClass]="{ 'is-invalid': (Name.touched || Name.dirty || RefCoyBodForm.submitted) && Name.invalid }">
                                    <div *ngIf="RefCoyBodForm.submitted && Name.invalid" class="invalid-feedback">
                                      <div *ngIf="Name.errors.required">Employee Name is required</div>
                                    </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 label-control">Job Title </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="jobTitle" required [(ngModel)]="jobTitle"
                                    #JobTitle="ngModel" [ngClass]="{ 'is-invalid': (JobTitle.touched || JobTitle.dirty || RefCoyBodForm.submitted) && JobTitle.invalid }">
                                    <div *ngIf="RefCoyBodForm.submitted && JobTitle.invalid" class="invalid-feedback">
                                      <div *ngIf="JobTitle.errors.required">Job Title is required</div>
                                    </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 label-control">NPWP </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="npwp" required [(ngModel)]="npwp"
                                    #Npwp="ngModel" [ngClass]="{ 'is-invalid': (Npwp.touched || Npwp.dirty || RefCoyBodForm.submitted) && Npwp.invalid }">
                                    <div *ngIf="RefCoyBodForm.submitted && Npwp.invalid" class="invalid-feedback">
                                      <div *ngIf="Npwp.errors.required">Npwp is required</div>
                                    </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 label-control">Id Type </label>
                            <div class="col-md-9">
                                <select class="form-control" name="mrIdType" style="width: auto" [(ngModel)]="idType">
                                    <option *ngFor="let it of itemIdType" value="{{it.masterCode}}">
                                        {{it.descr}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 label-control">Id No </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="idNo" required [(ngModel)]="idNo"
                                    #IdNo="ngModel" [ngClass]="{ 'is-invalid': (IdNo.touched || IdNo.dirty || RefCoyBodForm.submitted) && IdNo.invalid }">
                                    <div *ngIf="RefCoyBodForm.submitted && IdNo.invalid" class="invalid-feedback">
                                      <div *ngIf="IdNo.errors.required">Id No is required</div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <app-ucAddress #ucAddress [parentForm]='RefCoyBodForm'></app-ucAddress>
                    <app-ucContactInfo #ucContactInfo [parentForm]='RefCoyBodForm' [useName]=false [useTitle]=false></app-ucContactInfo>
                    <div class="form-actions right">
                        <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="['/company/bod']">
                            <i class="fa fa-arrow-circle-left"></i> Back
                        </button>
                        <button type="submit" class="btn btn-raised btn-primary">
                            <i class="fa fa-check-square-o"></i> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
