<section id="horizontal-form-layouts">
    <div class="row text-left">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="px-3">
              <form class="form form-horizontal" name="RoleFrmForm" #RoleFrmForm="ngForm"
                (ngSubmit)="Save()">
                <div class="form-body">
                  <h4 class="form-section"><i class="ft-user"></i>Assign Form to Role</h4>

                  <div class="form-group row">
                    <label class="col-md-3 label-control">Role Code</label>
                    <div class="col-md-9">
                      <label>{{refRoleObj.roleCode}}</label></div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 label-control">Role Name</label>
                    <div class="col-md-9">
                      <label>{{refRoleObj.roleName}}</label></div>
                  </div>

                  <app-search id="ucSearch" style="width:100%;" [_url]='urlJson' [apiQryPaging]='urlQryPaging'
                    (result)="getResult($event)"></app-search>

                  <table class="table table-responsive-md text-center table-hover">
                    <thead>
                      <tr class="table-header">
                        <th>Action</th>
                        <th class="text-left pointer"><span translate class="thead-header" (click)="searchSort($event)"
                          name='formCode'>Form Code
                        </span></th>
                        <th class="text-left pointer"><span translate class="thead-header" (click)="searchSort($event)"
                          name='title'>Title
                        </span></th>
                      <th class="text-left pointer"><span translate class="thead-header" (click)="searchSort($event)"
                          name='path'>Path</span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of resultData?.returnObject.data;  let i = index">
                        <td>
                          <div *ngIf="listSelectedId.indexOf(item.refFormId) >- 1">
                            <input type="checkbox" id="checkSame" name="itemSame"
                              (change)="Checked(item.refFormId,  $event.target.checked)" [checked]=true>
                          </div>
                          <div *ngIf="listSelectedId.indexOf(item.refFormId) < 0">
                            <input type="checkbox" id="checkDiff" name="itemDiff"
                              (change)="Checked(item.refFormId,  $event.target.checked)" [checked]=false>
                          </div>
                        </td>
                        <td>{{item.formCode}}</td>
                        <td class="text-left">{{item.title}}</td>
                        <td class="text-left">{{item.path}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <app-ucgrid-footer (select)="onSelect($event)"></app-ucgrid-footer>
                </div>
                <div class="form-actions">
                  <button type="button" (click)="Back()" class="btn btn-raised btn-warning mr-1">
                    <i class="ft-x"></i> Back
                  </button>

                  <button type="submit" class="btn btn-raised btn-primary">
                    <i class="fa fa-check-square-o"></i> Save
                  </button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
