<div class="card-body">
  <div class="px-3">

    <!-- Scheme -->
    <lib-ucSubsection [id]="'SchemeUnitId'" [title]="'Scheme'" [panel]="'SchemeUnit'" [hidden] = "SchmData == 0" class="form-section card-title" translate><i class="ft-file-text"></i></lib-ucSubsection>
    <div class="form-body" id="SchemeUnit" >
      <form class="form form-horizontal" [formGroup]="RefSchemeForm" #enjiForm="ngForm">
        <!-- Main Info -->
        <div class="form-body">
          <!-- <h4 class="form-section card-title" translate><i class="ft-file-text"></i> </h4> -->
  
          <div formArrayName="items">
            <div *ngFor="let item of RefSchemeForm.controls.items.controls; let i = index;">
              <div [formGroupName]="i">

                <div class="form-group row" *ngIf="item.controls.RefProdCompntGrpCode.value == 'SCHM'">
                  <label class="col-md-3 text-left" translate> {{item.controls.ProdCompntName.value}} </label>
                  
                  <div class="col-md-6" style="border-right: 1px solid grey"
                    [ngSwitch]="item.controls.ProdCompntType.value">
                    <div *ngSwitchCase="'DDL'">
                      <div>
                        <select class="form-control adInsInput" style="width: auto" formControlName="CompntValue" (change)="clickTest($event, i)">
                          <option *ngFor="let it of item.controls.DropDownList.controls" value="{{it.value.Key}}">
                            {{it.value.Value}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div *ngSwitchCase="'AMT'">
                      <!-- <P>AMOUNT</P> -->
                      <input type="text" class="form-control adInsInput width-30-per text-right" formControlName="CompntValue">
                      <show-errors [control]="item.controls.CompntValue">
                      </show-errors>
                    </div>
                    <div *ngSwitchCase="'DATE'">
                      <P>DATE</P>
                    </div>
                  </div>
    
                  <div class="col-md-3" style="border-right: 1px solid grey">
                    <select class="form-control adInsInput" style="width: auto" formControlName="MrProdBehaviour" (change)="clickTestBehaviour($event, i)">
                      <option *ngFor="let it of item.controls.DropDownListBehaviour.controls" value="{{it.value.Key}}">
                        {{it.value.Value}}
                      </option>
                    </select>
                  </div>
  
                </div>

              </div>
            </div>
          </div>
  
        </div>
  
      </form>
    </div>

    <!-- Los -->
    <lib-ucSubsection [id]="'LosUnitId'" [title]="'Los'" [panel]="'LosUnit'" [hidden] = "LosData == 0" class="form-section card-title" translate><i class="ft-file-text"></i></lib-ucSubsection>
    <div class="form-body" id="LosUnit">
      <form class="form form-horizontal" [formGroup]="RefSchemeForm" #enjiForm="ngForm">
        <!-- Main Info -->
        <div class="form-body">
          <!-- <h4 class="form-section card-title" translate><i class="ft-file-text"></i> </h4> -->
  
          <div formArrayName="items">
            <div *ngFor="let item of RefSchemeForm.controls.items.controls; let i = index;">
              <div [formGroupName]="i">

                <div class="form-group row" *ngIf="item.controls.RefProdCompntGrpCode.value == 'LOS'">
                  <label class="col-md-3 text-left" translate> {{item.controls.ProdCompntName.value}} </label>
                  
                  <div class="col-md-6" style="border-right: 1px solid grey"
                    [ngSwitch]="item.controls.ProdCompntType.value">
                    <div *ngSwitchCase="'DDL'">
                      <div>
                        <select class="form-control adInsInput" style="width: auto" formControlName="CompntValue" (change)="clickTest($event, i)">
                          <option *ngFor="let it of item.controls.DropDownList.controls" value="{{it.value.Key}}">
                            {{it.value.Value}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div *ngSwitchCase="'AMT'">
                      <!-- <P>AMOUNT</P> -->
                      <input type="text" class="form-control adInsInput width-25-per" formControlName="CompntValue">
                    </div>
                    <div *ngSwitchCase="'DATE'">
                      <P>DATE</P>
                    </div>
                  </div>
                  
                  <div class="col-md-3" style="border-right: 1px solid grey">
                    <select class="form-control adInsInput" style="width: auto" formControlName="MrProdBehaviour" (change)="clickTestBehaviour($event, i)">
                      <option *ngFor="let it of item.controls.DropDownListBehaviour.controls" value="{{it.value.Key}}">
                        {{it.value.Value}}
                      </option>
                    </select>
                  </div>
                  
                </div>

              </div>
            </div>
          </div>
  
        </div>
  
      </form>
    </div>

    <!-- Rule -->
    <lib-ucSubsection [id]="'RuleUnitId'" [title]="'Rule'" [panel]="'RuleUnit'" [hidden] = "RuleData == 0" class="form-section card-title" translate><i class="ft-file-text"></i></lib-ucSubsection>
    <div class="form-body" id="RuleUnit">
      <form class="form form-horizontal" [formGroup]="RefSchemeForm" #enjiForm="ngForm">
        <!-- Main Info -->
        <div class="form-body">
          <!-- <h4 class="form-section card-title" translate><i class="ft-file-text"></i> </h4> -->
  
          <div formArrayName="items">
            <div *ngFor="let item of RefSchemeForm.controls.items.controls; let i = index;">
              <div [formGroupName]="i">

                <div class="form-group row" *ngIf="item.controls.RefProdCompntGrpCode.value == 'RULE'">
                  <label class="col-md-3 text-left" translate> {{item.controls.ProdCompntName.value}} </label>
                  
                  <div class="col-md-6" style="border-right: 1px solid grey"
                    [ngSwitch]="item.controls.ProdCompntType.value">
                    <div *ngSwitchCase="'DDL'">
                      <div>
                        <select class="form-control adInsInput" style="width: auto" formControlName="CompntValue" (change)="clickTest($event, i)">
                          <option *ngFor="let it of item.controls.DropDownList.controls" value="{{it.value.Key}}">
                            {{it.value.Value}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div *ngSwitchCase="'AMT'">
                      <!-- <P>AMOUNT</P> -->
                      <input type="text" class="form-control adInsInput width-30-per text-right" formControlName="CompntValue">
                      <show-errors [control]="item.controls.CompntValue">
                      </show-errors>
                    </div>
                    <div *ngSwitchCase="'DATE'">
                      <P>DATE</P>
                    </div>
                  </div>

                  <div class="col-md-3" style="border-right: 1px solid grey">
                    <select class="form-control adInsInput" style="width: auto" formControlName="MrProdBehaviour" (change)="clickTestBehaviour($event, i)">
                      <option *ngFor="let it of item.controls.DropDownListBehaviour.controls" value="{{it.value.Key}}">
                        {{it.value.Value}}
                      </option>
                    </select>
                  </div>
    
                </div>

              </div>
            </div>
          </div>
  
        </div>
  
      </form>
    </div>

    <!-- Other -->
    <lib-ucSubsection [id]="'OtherUnitId'" [title]="'Other'" [panel]="'OtherUnit'" [hidden] = "OthrData == 0" class="form-section card-title" translate><i class="ft-file-text"></i></lib-ucSubsection>
    <div class="form-body" id="OtherUnit">
      <form class="form form-horizontal" [formGroup]="RefSchemeForm" #enjiForm="ngForm">
        <!-- Main Info -->
        <div class="form-body">
          <!-- <h4 class="form-section card-title" translate><i class="ft-file-text"></i> </h4> -->
  
          <div formArrayName="items">
            <div *ngFor="let item of RefSchemeForm.controls.items.controls; let i = index;">
              <div [formGroupName]="i">

                <div class="form-group row" *ngIf="item.controls.RefProdCompntGrpCode.value == 'OTHR'">
                  <label class="col-md-3 text-left adins-required" translate> {{item.controls.ProdCompntName.value}} </label>
                  
                  <div class="col-md-6" style="border-right: 1px solid grey"
                    [ngSwitch]="item.controls.ProdCompntType.value">
                    <div *ngSwitchCase="'DDL'">
                      <div>
                        <select class="form-control adInsInput" style="width: auto" formControlName="CompntValue" (change)="clickTest($event, i)">
                          <option *ngFor="let it of item.controls.DropDownList.controls" value="{{it.value.Key}}">
                            {{it.value.Value}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div *ngSwitchCase="'AMT'">
                      <!-- <P>AMOUNT</P> -->
                      <input type="text" class="form-control adInsInput width-30-per text-right" formControlName="CompntValue">
                      <show-errors [control]="item.controls.CompntValue">
                      </show-errors>
                    </div>
                    <div *ngSwitchCase="'DATE'">
                      <P>DATE</P>
                    </div>
                  </div>
    
                  <div class="col-md-3" style="border-right: 1px solid grey">
                    <select class="form-control adInsInput" style="width: auto" formControlName="MrProdBehaviour" (change)="clickTestBehaviour($event, i)">
                      <option *ngFor="let it of item.controls.DropDownListBehaviour.controls" value="{{it.value.Key}}">
                        {{it.value.Value}}
                      </option>
                    </select>
                  </div>
  
                </div>

              </div>
            </div>
          </div>
  
        </div>
  
      </form>
    </div>

    <!-- Button -->
    <div class="form-actions right">
      <button type="button" (click)="SaveForm()" class="btn btn-raised btn-primary">
        <i class="fa fa-check-square-o"></i> Save
      </button>
      <button type="button" (click)="Next()" class="btn btn-raised btn-primary">
        <i class="fa fa-check-square-o"></i> Next
      </button>
    </div>

  </div>
</div>