<div class="col-sm-12">
  <h1 class="text-uppercase">Role Maintenance - {{type}}</h1>
</div>
<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="px-3">
        <form class="form form-horizontal" name="RoleAddEditForm" #RoleAddEditForm="ngForm" novalidate
          (ngSubmit)="RoleAddEditForm.form.valid && Save(RoleAddEditForm)">
          <div class="form-body">
            <h4 class="form-section"><i class="ft-user"></i> Role Maintenance - {{type}} </h4>
            <br>
            <div class="form-group row">
              <label class="col-md-3 label-control" for="roleCodeModel">Role Code</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="roleCodeModel" required [(ngModel)]="roleCodeModel"
                  #roleCode="ngModel" [ngClass]="{ 'is-invalid': RoleAddEditForm.submitted && roleCode.invalid }"
                  [attr.disabled]="type === 'edit' ? true : null">
                <div *ngIf="RoleAddEditForm.submitted && roleCode.invalid" class="invalid-feedback">
                  <div *ngIf="roleCode.errors.required">Role Code is required</div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 label-control" for="roleNameModel">Role Name</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="roleNameModel" required [(ngModel)]="roleNameModel"
                  #roleName="ngModel" [ngClass]="{ 'is-invalid': RoleAddEditForm.submitted && roleName.invalid }">
                <div *ngIf="RoleAddEditForm.submitted && roleName.invalid" class="invalid-feedback">
                  <div *ngIf="roleName.errors.required">Role Name is required</div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 label-control" for="isActive">Active Status</label>
              <div class="custom-control custom-checkbox m-0">
                <input type="checkbox" value="1" id="isActive" name="isActive" [(ngModel)]="isActive"
                  [checked]="isActive">
              </div>
            </div>

          </div>
          <div class="form-actions">

              <button *ngIf=" type === 'edit'" type="button" (click)="Back()" class="btn btn-raised btn-warning mr-1">
                <i class="ft-x"></i> Back
              </button>
            <button type="submit" class="btn btn-raised btn-primary">
              <i class="fa fa-check-square-o"></i> Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
