<div class="row text-left">
  <div class="col-md-12">
    <div class="card">

      <div class="card-header header-title">
        <div class="row">
          <div class="col-md-8">
            <h4 class="card-title" translate> Main Information </h4>
          </div>
          <div class="col-md-4" style="text-align-last: right">
            <button type="button" class="backButton" [routerLink]="['/product/HOpaging']" translate>
              <i class="ft-arrow-left"></i> Back
            </button>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="px-3">

          <form class="form form-horizontal" [formGroup]="RefProductHOForm" (ngSubmit)="RefProductHOForm.valid && SaveForm()"
            #enjiForm="ngForm">
            <!-- Main Info -->
            <div class="form-body">
              <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Main Info </h4>

              <div class="form-group row adins-required">
                <label class="col-md-3 adInsLabel">Product Code </label>
                <div class="col-md-9">
                  <input type="text" class="form-control adInsInput width-25-per" formControlName="ProdCode"
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && RefProductHOForm.controls.ProdCode.invalid }">
                </div>
                <show-errors [control]="RefProductHOForm.controls.ProdCode" [submit]="enjiForm.submitted"></show-errors>
              </div>

              <div class="form-group row adins-required">
                <label class="col-md-3 adInsLabel">Product Name </label>
                <div class="col-md-9">
                  <input type="text" class="form-control adInsInput width-25-per" formControlName="ProdName"
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && RefProductHOForm.controls.ProdName.invalid }">
                  <show-errors [control]="RefProductHOForm.controls.ProdName" [submit]="enjiForm.submitted"></show-errors>
                </div>
              </div>

              <div class="form-group row adins-required">
                <label class="col-md-3 adInsLabel">Product Description </label>
                <div class="col-md-9">
                  <input type="text" class="form-control adInsInput width-25-per" formControlName="ProdDescr"
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && RefProductHOForm.controls.ProdDescr.invalid }">
                  <show-errors [control]="RefProductHOForm.controls.ProdDescr" [submit]="enjiForm.submitted"></show-errors>
                </div>
              </div>

              <div class="form-group row adins-required">
                <label class="col-md-3 adInsLabel"> Start Active Date </label>
                <div class="col-md-9">
                  <input type="date" class="form-control adInsInput width-25-per" formControlName="StartDt"
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && RefProductHOForm.controls.StartDt.invalid }">
                  <show-errors [control]="RefProductHOForm.controls.StartDt" [submit]="enjiForm.submitted"></show-errors>
                </div>
              </div>

              <div class="form-group row adins-required">
                <label class="col-md-3 adInsLabel"> End Date </label>
                <div class="col-md-9">
                  <input type="date" class="form-control adInsInput width-25-per" formControlName="EndDt"
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && RefProductHOForm.controls.EndDt.invalid }">
                  <show-errors [control]="RefProductHOForm.controls.EndDt" [submit]="enjiForm.submitted"></show-errors>
                </div>
              </div>

            </div>

            <div class="form-actions right">
              <button type="submit" (click)="ClickSave('save')" class="btn btn-raised btn-primary">
                <i class="fa fa-check-square-o"></i> Save
              </button>
              <button type="submit" (click)="ClickSave('next')" class="btn btn-raised btn-primary">
                <i class="fa fa-check-square-o"></i> Next
              </button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>