<lib-UCSearch #ucTempSearch id="ucSearch" style="width:100%;" [searchInput]='inputSearchObj'
  (result)="getResult($event)">
</lib-UCSearch>
<div class="table-responsive" [hidden]="resultData?.Data == null">
  <table class="table text-center table-hover">
    <thead>
      <tr class="table-header">
        <th><input type="checkbox" [checked]="checkboxAll" (change)="SelectAll($event.target.checked)" id="checkAll"
            name="CheckAll"></th>
        <th *ngFor="let head of configuration?.headerList"
          [ngClass]="[head.position == 'left' ? 'text-left' : '', head.position == 'right' ? 'text-right' : '' , head.width == undefined || head.width == '' ? '' : head.width]">
          <span *ngIf="head.type == 'sort'" translate class="thead-header" (click)="searchSort($event)"
            attr.name="{{head.name}}">{{head.label}}</span>
          <span *ngIf="head.type == 'label'" translate>{{head.label}}</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of resultData?.Data; let i = index" [ngClass]="{'text-break': !IsOverflow}">
        <td>
          <div *ngIf="listSelectedId.indexOf(item[configuration.keyProperty]) >- 1">
            <input type="checkbox" id="checkSame" name="itemSame"
              (change)="Checked(item[configuration.keyProperty],  $event.target.checked)" [checked]="true">
          </div>
          <div *ngIf="listSelectedId.indexOf(item[configuration.keyProperty]) < 0">
            <input type="checkbox" id="checkDiff" name="itemDiff"
              (change)="Checked(item[configuration.keyProperty],  $event.target.checked)" [checked]=false>
          </div>
        </td>
        <td *ngFor="let body of configuration?.bodyList" [ngClass]="{ 'text-left': body.position == 'left',
                         'text-right': body.position == 'right' }">
          <span *ngIf="body.type == 'text'">{{ item[body.property] }}</span>
          <span *ngIf="body.type == 'decimal'">{{ item[body.property] | number:'.2':'en-US' }}</span>
          <span *ngIf="body.type == 'date'">{{ item[body.property] | date: 'dd-MMM-yyyy' }}</span>
          <span *ngIf="body.type == 'boolean'">
            <span *ngIf="item[body.property] == true">Yes</span>
            <span *ngIf="item[body.property] == false">No</span>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <lib-ucgridfooter #ucTempFooter (select)="onSelect($event)"></lib-ucgridfooter>

  <div class="card-header">
    <div class="text-right">
      <button type="button" (click)="addToTemp()" class="btn btn-raised btn-warning">
        <i class="fa ft-plus"></i> Add To Temp
      </button>
    </div>
  </div>

  <table class="table text-center table-hover">
    <thead>
      <tr class="table-header">
        <th *ngFor="let head of configuration?.headerListTemp"
          [ngClass]="[head.position == 'left' ? 'text-left' : '', head.position == 'right' ? 'text-right' : '' , head.width == undefined || head.width == '' ? '' : head.width]">
          <span translate>{{head.label}}</span>
        </th>
        <th translate>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tempData; let i = index" [ngClass]="{'text-break': !IsOverflow}">
        <td *ngFor="let body of configuration?.bodyListTemp" [ngClass]="{ 'text-left': body.position == 'left',
                         'text-right': body.position == 'right' }">
          <span *ngIf="body.type == 'text'">{{ item[body.property] }}</span>
          <span *ngIf="body.type == 'decimal'">{{ item[body.property] | number:'.2':'en-US' }}</span>
          <span *ngIf="body.type == 'date'">{{ item[body.property] | date: 'dd-MMM-yyyy' }}</span>
          <span *ngIf="body.type == 'boolean'">
            <span *ngIf="item[body.property] == true">Yes</span>
            <span *ngIf="item[body.property] == false">No</span>
          </span>
          <div *ngIf="body.type == 'checkbox'">
            <input type="checkbox" [(ngModel)]="item[body.property]" (change)="TempCheckbox(item[configuration.keyProperty],  $event.target.checked)">
          </div>
        </td>
        <td>
          <div>
            <a class="danger p-0" (click)="deleteFromTemp(item[configuration.keyProperty])">
              <i class="ft-trash-2 font-medium-3 mr-2"></i>
            </a></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>