<section id="horizontal-form-layouts">
    <div class="row text-left">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="px-3">
                <form class="form form-horizontal" name="OrgJobTitleForm" #OrgJobTitleForm="ngForm" novalidate
                (ngSubmit)="OrgJobTitleForm.form.valid && Save(OrgJobTitleForm, lookupRefJobTitle, lookupOrgJobTitle)" >
                <div class="form-body">
                  <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Organization Job Title Information</h4>
                  <br />

                  <div class="form-group row">
                      <label class="col-md-3  adInsLabel">Business Unit Name</label>
                      <div class="col-md-9">
                        <label>{{bizUnitName}}</label></div>
                    </div>

                  <div class="form-group row">
                      <label class="col-md-3  adInsLabel" for="lookupRefJobTitle">Job Title</label>
                      <div class="col-md-9">
                          <lib-lookuprefjobtitle #lookupRefJobTitle [lookupInput]="inputLookupObj"> </lib-lookuprefjobtitle>
                      </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3  adInsLabel" for="lookupBizUnit">Parent</label>
                        <div class="col-md-9">
                            <lib-lookuporgjobtitle #lookupOrgJobTitle [lookupInput]="inputLookupObj2"> </lib-lookuporgjobtitle>
                        </div>
                      </div>

                    <div class="form-group row">
                      <label class="col-md-3  adInsLabel" for="isActive">Active Status</label>
                      <div class="custom-control custom-checkbox m-0">
                        <input type="checkbox" value="1" id="isActive" name="isActive" [(ngModel)]="isActive"
                          [checked]="isActive">
                      </div>
                    </div>
                    <div class="form-actions">

                        <button type="button" (click)="Back()" class="btn btn-raised btn-warning mr-1">
                          <i class="fa fa-arrow-circle-left"></i> Back
                        </button>
                        <button type="submit" class="btn btn-raised btn-primary">
                          <i class="fa fa-check-square-o"></i> Save
                        </button>
                      </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
