<div formGroupName="{{identifier}}">
  <div class="input-group">
      <input type="text" class="form-control" formControlName="value" 
      [(ngModel)]="inputValue" [readonly]="lookupInput.isReadonly" [required]="lookupInput.isRequired">
      <div class="input-group-append">
          <span class="input-group-btn">
              <button class="btn btn-raised btn-primary" type="button" (click)="open(content)">
                  <i class="ft-search"></i>
              </button>
          </span>
      </div>
      <div>
      </div>
  </div>
  <show-errors [control]="parentForm.controls[identifier]['controls'].value" [submit]="enjiForm.submitted">
  </show-errors>
  <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
          <h4 class="modal-title">{{title}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <lib-ucpaging [searchObj]="inputObj" (select)="getSelect($event)"></lib-ucpaging>
      </div>
  </ng-template>
</div>