<h4 class="form-section card-title" translate><i class="ft-file-text"></i> Product Deactivate</h4>
<lib-ucviewgeneric [viewInput]="viewObj"> </lib-ucviewgeneric>
<div class="card">
  <div class="card-body">
    <br />
    <table class="table table-responsive-md text-center table-hover">
      <thead>
        <tr class="table-header">
          <th class="text-left">Product Offering Code</th>
          <th class="text-left">Product Offering name</th>
          <th class="text-left">Current Version</th>
          <th class="text-left">End Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of ProdOfferVer">
          <td class="text-left">{{item.ProdOfferingCode}}</td>
          <td class="text-left">{{item.ProdOfferingName}}</td>
          <td class="text-left">{{item.ProdOfferingVersion}}</td>
          <td class="text-left">{{item.EndDt | date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  <div class="card">
    <div class="card-body">
      <div class="px-3">
        <br />
        <div class="addEdit">
          <form class="form form-horizontal" [formGroup]="ProdHDeactForm" (ngSubmit)="ProdHDeactForm.valid && SaveForm()"
                #enjiForm="ngForm">
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-3  adInsLabel" translate>Reason </label>
                <div class="col-md-9">
                  <select class="form-control adInsInput" formControlName="Reason">
                    <option *ngFor="let ram of allRefReasonMethod" [ngValue]="ram.Key">
                      {{ram.Value}}
                    </option>
                  </select>
                  <lib-uc-show-errors [control]="ProdHDeactForm.controls.Reason" [submit]="enjiForm.submitted"></lib-uc-show-errors>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3  adInsLabel" translate>Effective Date </label>
                <div class="col-md-9">
                  <input type="date" class="form-control adInsInput" formControlName="EffectiveDate"
                         [ngClass]="{ 'is-invalid': enjiForm.submitted && ProdHDeactForm.controls.EffectiveDate.invalid }">
                  <lib-uc-show-errors [control]="ProdHDeactForm.controls.EffectiveDate" [submit]="enjiForm.submitted"></lib-uc-show-errors>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3  adInsLabel" translate>Notes </label>
                <div class="col-md-9">
                  <textarea type="text" class="form-control adInsInput" formControlName="Notes"
                            [ngClass]="{ 'is-invalid': enjiForm.submitted && ProdHDeactForm.controls.Notes.invalid }"></textarea>
                  <lib-uc-show-errors [control]="ProdHDeactForm.controls.Notes" [submit]="enjiForm.submitted"></lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-actions right">
              <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="['/Product/HODeactivate']"
                      translate>
                <i class="fa fa-arrow-left"></i> Back
              </button>
              <button type="submit" class="btn btn-raised btn-primary" translate>
                <i class="far fa-check-square"></i> Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


