<div class="card">
  <div class="card-header header-title">
    <div class="row">
      <div class="col-md-8">
        <h4 class="form-section card-title" translate>Asset Document</h4>
      </div>
    </div>
  </div>
</div>
<div class="ucSearch-Button-Right">
  <span class="mr-1">
    <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="['../../Configuration/Paging']" translate>
      <i class="far fa-window-close"></i> Cancel
    </button>
    <button type="button" class="btn btn-raised btn-primary" [routerLink]="['../Detail']"
      [queryParams]="{mode:'add',AssetTypeId:AssetTypeId}" translate>
      <i class="ft-plus-circle"></i> Add
    </button>
  </span>
</div>
<lib-ucviewgeneric [viewGenericObj]="viewGenericObj"></lib-ucviewgeneric>
<lib-ucpaging [searchObj]="inputPagingObj"></lib-ucpaging>