<app-customer-company-management-shareholder-check *ngIf="mode == 'check'"  (outputValue)="terimaValue($event)"> </app-customer-company-management-shareholder-check>
<app-customer-company-management-shareholder-company *ngIf="mode == 'addCompany'"  [custCompanyId] ="this.custCompanyId"  [CustCompanyMgmntShrholderId] = "this.CustCompanyMgmntShrholderId" (outputValue)="terimaValue($event)"> </app-customer-company-management-shareholder-company>
<app-customer-company-management-shareholder-personal *ngIf="mode == 'addPersonal'" [custCompanyId] ="this.custCompanyId"  [CustCompanyMgmntShrholderId] = "this.CustCompanyMgmntShrholderId "(outputTab)="terimaValue($event)"> </app-customer-company-management-shareholder-personal>
<!-- (outputValue)="terimaValue($event)" -->
<!-- <app-customer-contact-add  *ngIf="isAdd == true" [inputValue] ="this.inputValue" [custPersonalContactPersonId] = this.custPersonalContactPersonId (outputValues)="terimaValue($event)" > </app-customer-contact-add> -->

 
<div *ngIf="mode == 'check'" class="form-actions right" style="text-align: right;">
    <button type="button" class="btn btn-raised btn-warning mr-1" (click)="back()" translate>
      <i class="ft-x"></i> Back
    </button>
    <button type="submit" class="btn btn-raised btn-primary" (click)="next()" translate>
      <i class="fa fa-check-square-o"></i> Save and Continue
    </button>
  </div>

 
 
 