<label>
  Name:
  <input type="text" [formControl]="name">
</label>

<p>
  <button (click)="updateName()">Update Name</button>
</p>

<p>
  Value: {{ name.value }}
</p>

<form [formGroup]="profileForm2" (ngSubmit)="BankAddReqForm.form.valid && onSubmit()" #BankAddReqForm="ngForm">
  <label>
    First Name:
    <input type="text" class="form-control adInsInput" formControlName="firstName">
    <show-errors [control]="profileForm2.controls.firstName" [submit]="BankAddReqForm.submitted"></show-errors>
  </label>

  <label>
    Last Name:
    <input type="text" class="form-control adInsInput" required pattern="^[0-9]+$" formControlName="lastName">
    <show-errors [control]="profileForm2.controls.lastName" [submit]="BankAddReqForm.submitted"></show-errors>
  </label>
  <button type="submit">Submit</button>
</form>