<div class="row text-left">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="px-3">
                    <form class="form form-horizontal" name="BusinessUnitAddReqForm" #BusinessUnitAddReqForm="ngForm"
                    (ngSubmit)="Save(BusinessUnitAddReqForm)">
                        <div class="form-body">
                            <h4 class="form-section card-title" translate><i class="ft-file-text" ></i> Business Unit Information</h4>
                            <div class="form-group row">
                                <label class="col-md-3 label-control adInsLabel" translate>Business Unit Code </label>
                                <div class="col-md-9">
                                    <input type="text" id="projectinput5" class="form-control adInsInput" name="bizUnitCode"
                                    [ngModel]="result?.bizUnitCode" #bizUnitCode="ngModel">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 label-control adInsLabel" translate>Business Unit Name </label>
                                <div class="col-md-9">
                                    <input type="text" id="projectinput5" class="form-control adInsInput" name="bizUnitName"
                                    [ngModel]="result?.bizUnitName" #bizUnitName="ngModel">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 label-control adInsLabel" translate>Description </label>
                                <div class="col-md-9">
                                    <textarea id="projectinput5" class="form-control adInsInput" name="descr"
                                    [ngModel]="result?.descr" #descr="ngModel"></textarea>
                              </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 label-control adInsLabel" translate>Active Status </label>
                                <div class="col-md-9">
                                    <input class="border-primary" [checked]="isActive" type="checkbox" id="projectinput5">
                                </div>
                            </div>
                        </div>
                        <div class="form-actions right">
                            <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="['/organization/businessunit']" translate>
                              <i class="fa fa-arrow-circle-left"></i> Back
                            </button>
                            <button type="submit" class="btn btn-raised btn-primary" translate>
                                <i class="fa fa-check-square-o"></i> Save
                            </button>
                        </div>
                      </form>
                  </div>
              </div>
        </div>
    </div>
</div>