<div class="row text-left">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="card-header header-title">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="card-title" id="horz-layout-colored-controls" translate> {{pageType}} BUSINESS UNIT
                                ORGANIZATION </h4>
                        </div>
                        <div class="col-md-4" style="text-align-last: right">
                            <button type="button" class="backButton" [routerLink]="['/organization/businessunit']"
                                translate>
                                <i class="ft-arrow-left"></i> Back
                            </button>
                        </div>
                    </div>
                </div>
                <div class="px-3">
                    <form class="form form-horizontal" name="BusinessUnitAddReqForm" #BusinessUnitAddReqForm="ngForm"
                        (ngSubmit)="BusinessUnitAddReqForm.form.valid && Save(BusinessUnitAddReqForm)">
                        <div class="form-body">
                            <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Business Unit
                                Information</h4>
                            <div class="form-group row">
                                <label class="col-md-3  adInsLabel" translate>Business Unit Code </label>
                                <div class="col-md-9">
                                    <input type="text" id="projectinput5" class="form-control adInsInput"
                                        name="bizUnitCode" [ngModel]="result?.bizUnitCode" #bizUnitCode="ngModel"
                                        required
                                        [ngClass]="{ 'is-invalid': (BusinessUnitAddReqForm.submitted || bizUnitCode.touched || bizUnitCode.dirty) && bizUnitCode.invalid }">
                                    <div *ngIf="(BusinessUnitAddReqForm.submitted || bizUnitCode.touched || bizUnitCode.dirty) && bizUnitCode.invalid"
                                        class="invalid-feedback">
                                        <div *ngIf="bizUnitCode.errors.required" class="adInsReqMsg" translate>This
                                            field is
                                            required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3  adInsLabel" translate>Business Unit Name </label>
                                <div class="col-md-9">
                                    <input type="text" id="projectinput5" class="form-control adInsInput"
                                        name="bizUnitName" [ngModel]="result?.bizUnitName" #bizUnitName="ngModel"
                                        required
                                        [ngClass]="{ 'is-invalid': (BusinessUnitAddReqForm.submitted || bizUnitName.touched || bizUnitName.dirty) && bizUnitName.invalid }">
                                    <div *ngIf="(BusinessUnitAddReqForm.submitted || bizUnitName.touched || bizUnitName.dirty) && bizUnitName.invalid"
                                        class="invalid-feedback">
                                        <div *ngIf="bizUnitName.errors.required" class="adInsReqMsg" translate>This
                                            field is
                                            required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3  adInsLabel" translate>Description </label>
                                <div class="col-md-9">
                                    <textarea id="projectinput5" class="form-control adInsInput" name="descr"
                                        [ngModel]="result?.descr" #descr="ngModel"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3  adInsLabel" translate>Active Status </label>
                                <div class="col-md-9">
                                    <input class="border-primary" type="checkbox" [ngModel]="isActive" data-md-icheck
                                        (change)="toggleActive($event)" name="isActive" type="checkbox"
                                        id="projectinput5">
                                </div>
                            </div>
                        </div>
                        <div class="form-actions right">
                            <button type="button" class="btn btn-raised btn-warning mr-1"
                                [routerLink]="['/organization/businessunit']" translate>
                                <i class="fa fa-arrow-circle-left"></i> Back
                            </button>
                            <button type="submit" class="btn btn-raised btn-primary" translate>
                                <i class="fa fa-check-square-o"></i> Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>