<div class="col-md-14">
  <div class="card">
    <div class="card-body">
      <div class="px-3">
        <div class="addEdit">
          <form class="form form-horizontal" [formGroup]="ManagementShareholderForm"
            (ngSubmit)="ManagementShareholderForm.valid && SaveValue()" #enjiForm="ngForm">
            <div class="form-body">
              <lib-ucSubsection [id]="'ManagementShareholder'" [title]="'Management / Shareholder Data'"
                [panel]="'ManagementShareholderId'">
              </lib-ucSubsection>
              <div id="ManagementShareholderId">
                <div class="form-group row  ">
                  <label class="col-md-2 adInsLabel" translate>Select Existing Cust Company</label>
                  <div class="col-md-10">
                    <lib-uclookupgeneric [lookupInput]="inputLookupCustCompanyObj"
                      [parentForm]='ManagementShareholderForm' [enjiForm]='enjiForm' [identifier]="'CustCompanyLookup'"
                      (lookup)=" getLookUpCustomer($event)"></lib-uclookupgeneric>
                  </div>
                </div>
                <div class="form-group row  ">
                  <label class="col-md-2 adins-required-label" translate>Full Name</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control adInsInput" formControlName="MgmntShrholderName"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && ManagementShareholderForm.controls.MgmntShrholderName.invalid}">
                    <lib-uc-show-errors [control]="ManagementShareholderForm.controls.MgmntShrholderName"
                      [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row adins">
                  <label class="col-md-2 adInsLabel" translate>Customer Model</label>
                  <div class="col-md-10">
                    <select class="form-control adInsInput" (change)="onOptionsSelected($event)" style="width: auto"
                      formControlName="MrCustModelCode"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && ManagementShareholderForm.controls.MrCustModelCode.invalid }">
                      <option *ngFor="let it of tempMrCustModelCode " [value]="it.Key">
                        {{it.Value}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 adins-required-label" translate>Company Type</label>
                  <div class="col-md-10">
                    <select class="form-control adInsInput" (change)="onOptionsSelected($event)" style="width: auto"
                      formControlName="MrCompanyTypeCode"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && ManagementShareholderForm.controls.MrCompanyTypeCode.invalid }">
                      <option *ngFor="let it of tempMrCompanyTypeCode " [value]="it.Key">
                        {{it.Value}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row  ">
                  <label class="col-md-2 adInsLabel" translate>Tax Id No</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control adInsInput" formControlName="TaxIdNo"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && ManagementShareholderForm.controls.TaxIdNo.invalid}">
                    <lib-uc-show-errors [control]="ManagementShareholderForm.controls.TaxIdNo" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row  ">
                  <label class="col-md-2 adInsLabel" translate>Share (%)</label>
                  <div class="col-md-3">
                    <input type="" currencyMask min="1" max="100" step="0.01" class="form-control adInsInput"
                      formControlName="SharePrcnt"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && ManagementShareholderForm.controls.SharePrcnt.invalid}"
                      [options]="{ thousands: ',', decimal: '.', align: 'right', allowNegative: false, allowZero:true, precision: 6, nullable: false }">
                    <lib-uc-show-errors [control]="ManagementShareholderForm.controls.SharePrcnt"
                      [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>  
                  </div>
                  <div><h4 class="d-flex justify-content-center align-items-center">%</h4></div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 adInsLabel" translate>Default Signer</label>
                  <div class="col-md-10">
                    <input class="border-primary" type="checkbox" data-md-icheck formControlName="IsSigner" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 adInsLabel" translate>Active Signer</label>
                  <div class="col-md-10">
                    <input class="border-primary" type="checkbox" data-md-icheck formControlName="IsActive" />
                  </div>
                </div>
              </div>
            </div>
            <div class="form-actions right">
              <button type="button" class="btn btn-raised btn-warning mr-1" (click)="back()" translate>
                 <i class="ft-x"></i> Cancel 
              </button>
              <button type="submit" class="btn btn-raised btn-primary" translate>
                <i class="far fa-check-square"></i> Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>