<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			autoReload="true"
			internalLogLevel="info"
			internalLogFile="">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.MailKit"/>
  </extensions>

  <!-- the targets to write to -->
  <targets async="true">
    <!-- write logs to file -->
    <target xsi:type="File" name="LogInfo" fileName="${basedir}/log/LogInfo-${shortdate}.log"
					layout="Machine Name: ${machinename} |Application Name: ${iis-site-name} |Log Date: ${longdate} |Level: ${uppercase:${level}} |Username: ${gdc:username} |IPAddress : ${gdc:ipaddress} |OfficeCode: ${gdc:officecode} |Logger: ${logger} ${newline}Action: ${gdc:param} " />
    <target xsi:type="File" name="LogError" fileName="${basedir}/log/LogError-${shortdate}.log"
					layout="Machine Name: ${machinename} |Application Name: ${iis-site-name} |Log Date: ${longdate} |Level: ${uppercase:${level}} |Username: ${gdc:username} |IPAddress : ${gdc:ipaddress} |OfficeCode: ${gdc:officecode} |Logger: ${logger} ${newline}Action: ${gdc:param}${newline} Message: ${message} ${exception:format=tostring}${newline}Exception: ${exception}${newline}Stack Trace: ${gdc:stacktrace}" />
    <!-- write logs to database -->
    <target xsi:type="Database" name="SysActLogHLOGDB" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" connectionString="${gdc:item=LoggingConnectionDB}">
      <commandText>
        insert into logging.sys_act_log_h (log_id,action,application,date,level,machine_name,http_status_code,confins_status_code,uri,app_server_ip_address,client_ip_address,token) values(@log_id,@action,@application,@date,@level,@machinename,@HttpStatusCode,@ConfinsStatusCode,@uri,@app_server_ip_address,@client_ip_address,@token)
      </commandText>
      <parameter name="@log_id" layout="${mdc:log_id}"/>
      <parameter name="@action" layout="${mdc:action}"/>
      <parameter name="@application" layout="${iis-site-name}"/>
      <parameter name="@date" layout="${date}" dbType="DateTime"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@machinename" layout="${machinename}"/>
      <parameter name="@user_name" layout="${mdc:token}"/>
      <parameter name="@HttpStatusCode" layout="${mdc:HttpStatusCode}"/>
      <parameter name="@ConfinsStatusCode" layout="${mdc:ConfinsStatusCode}"/>
      <parameter name="@uri" layout="${mdc:cs_uri}"/>
      <parameter name="@app_server_ip_address" layout="${mdc:log_app_server_ip_address}"/>
      <parameter name="@client_ip_address" layout="${aspnet-request-ip}"/>
      <parameter name="@token" layout="${mdc:token}"/>
    </target>
    <!-- write logs to database -->
    <target xsi:type="Database" name="SysActLogDLOGDB" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" connectionString="${gdc:item=LoggingConnectionDB}">
      <commandText>
        insert into logging.sys_act_log_d (log_id,action,payload,ex_message,ex_inner_message,stacktrace,user_access) values(@log_id,@action,@payload,@message,@inner_exception,@stacktrace,@useraccess)
      </commandText>
      <parameter name="@action" layout="${mdc:action}"/>
      <parameter name="@log_id" layout="${mdc:log_id}"/>
      <parameter name="@payload" layout="${mdc:cs_payload}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@exception" layout="${exception:format=string}"/>
      <parameter name="@inner_exception" layout="${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}"/>
      <parameter name="@stacktrace" layout="${mdc:stacktrace}"/>
      <parameter name="@UserAccess" layout="${mdc:user_access}"/>
    </target>
    <!-- the targets to write to JSON-->
    <target xsi:type="File" name="console_log" fileName="${basedir}/log/Log-${shortdate}.json">
      <layout xsi:type="JsonLayout">
        <attribute name="ts" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="logger" layout="${logger}" />
        <attribute name="msg" layout="${message}" />
        <attribute name="machinename" layout="${machinename}" />
        <attribute name="user_name" layout="${windows-identity:domain=true}" />
        <attribute name="log_exception" layout="${exception}" />
        <attribute name="stacktrace" layout="${stacktrace}" />
        **<attribute name="all-events" layout="${all-event-properties}"/>
        <attribute name="tid" layout="${aspnet-request:header=tid}"/>**
        <attribute name="cn" layout="${callsite:filename=true}"/>
      </layout>
    </target>
    <!-- the targets to Send To Mail-->
    <target name="mail"
			xsi:type="Mail"
			smtpServer="smtp.ad-ins.com"
			subject="${machinename} - My subject string (${shortdate:format=ddMMyyyy})"
			from="hartono.rachmat@ad-ins"
			to="ardi.gunawan@ad-ins.com"
			layout="${longdate} |${uppercase:${level}} |${logger} |url: ${aspnet-request-url} |action: ${aspnet-mvc-action} ${newline} ${message} ${exception:format=tostring}" />

    <!--the targets to Send To RabbitMQ-->
    <target name="LogRMQ"
      xsi:type="RabbitMQ"
      username="LogUser"
      password="AdIns2020"
      hostname="r3linux"
      port="5672"
      exchange="AdIns.Logging"
      exchangeType="fanout"
      vhost="QueueHost"
      useJSON ="true"
      />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--Skip non-critical Microsoft logs -->
    <logger name="Microsoft.*" maxLevel="Warn" final="true" />
    <logger name="IdentityServer4.*" maxLevel="Warn" final="true" />
    <logger name="IdentityModel.*" maxLevel="Warn" final="true" />
    <logger name="*" minlevel="Info" writeTo="database"/>
    <logger name="*" minlevel="info" maxlevel="info" writeTo="LogInfo" />
    <logger name="*" minlevel="error" maxlevel="error" writeTo="LogError" />
    <logger name="*" minlevel="Info" writeTo="LogRMQ" />
  </rules>
</nlog>