<div class="row text-left">
    <app-search id="ucSearch" style="width:100%;" [_url]='urlJson'></app-search>
    <div class="col-md-12">
        <form>
            <div class="form-actions right">
                <button type="button" class="btn btn-raised btn-warning mr-1">
                    <i class="ft-x"></i> Cancel
                </button>
                <button type="button" (click)="search()" class="btn btn-raised btn-primary">
                    <i class="fa fa-search"></i> Search
                </button>
            </div>
        </form>
    </div>
    <table class="table table-responsive-md text-center table-hover">
        <thead>
            <tr>
                <th>Product Type</th>
                <th>Product Name</th>
                <th>Min Price</th>
                <th>Max Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of resultData?.listItem">
                <td>{{item.ProductType}}</td>
                <td>{{item.ProductName}}</td>
                <td>{{item.MinValue}}</td>
                <td>{{item.MaxValue}}</td>
            </tr>
        </tbody>
    </table>
    <i class="fa fa-plus-circle" [routerLink]="['/supplier/add']" style="position: absolute; right: 30px; bottom: 0; cursor: pointer; font-size: 36px"></i>
</div>
Current Page : {{pageNow}}
<div class="d-flex justify-content-center">
    <ngb-pagination (pageChange)="pageChange($event)" [collectionSize]="totalData" [(page)]="pageNow" [maxSize]="5" [rotate]="true" [ellipses]="false"
        [boundaryLinks]="false"></ngb-pagination>
</div>