<lib-UCSearch id="ucSearch" style="width:100%;" [searchInput]='inputObj' (result)="getResult($event)"></lib-UCSearch>

<div [hidden]="resultData?.data == null">
  <table class="table table-responsive-md text-center table-hover">
    <thead>
      <tr class="table-header">
        <th class="text-left"><span class="thead-header" (click)="searchSort($event)" name='gsCode'>General Setting Code</span></th>
        <th class="text-left"><span class="thead-header" (click)="searchSort($event)" name='gsName'>General Setting Name</span></th>
        <th class="text-left"><span class="thead-header" (click)="searchSort($event)" name='gsDescr'>General Setting Description</span></th>
        <th class="text-left"><span class="thead-header" (click)="searchSort($event)" name='gsValue'>General Setting Value</span></th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of resultData?.data">
        <td class="text-left">{{item.gsCode}}</td>
        <td class="text-left">{{item.gsName}}</td>
        <td class="text-left">{{item.gsDescr}}</td>
        <td class="text-left">{{item.gsValue}}</td>
        <td>
          <div *ngIf="item.isUpdateable === '1'">
            <a class="success p-0" data-original-title="" title=""
              [routerLink]="['/commonSetting/generalSetting/detail']"
              [queryParams]="{generalSettingId:item.generalSettingId,mode:'edit'}">
              <i class="ft-edit-2 font-medium-3 mr-2"></i>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <lib-ucgridfooter (select)="onSelect($event)"></lib-ucgridfooter>
</div>
<i class="fa fa-plus-circle" [routerLink]="['/commonSetting/generalSetting/detail']"
  style="position: absolute; right: 30px; bottom: 0; cursor: pointer; font-size: 36px"></i>