<div class="input-group">
    <input type="text" (input)="onChange($event.target.value)" class="form-control search-form-control"
      attr.data-json='{{jsonSelect}}' attr.data-inputId='{{idSelect}}' name="MsNewCatalogId" attr.data-datatype="Text"
      value="{{nameSelect}}" disabled>
    <div class="input-group-append">
      <span class="input-group-btn">
        <button class="btn btn-raised btn-primary lookup-form-control btn-lookup" type="button" (click)="open(content)"><i
            class="ft-search"></i></button>
      </span>
    </div>
  </div>
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-search #lookupSearch id="ucSearch" style="width:100%;" [_url]='urlJson'></app-search>
      <div class="form-actions right" style="float:right;text-align: right;margin-right: 10px;">
        <button type="button" class="btn btn-raised btn-warning mr-1">
          <i class="ft-x"></i> Cancel
        </button>
        <button type="button" (click)="search(ucgridFooter, lookupSearch)" class="btn btn-raised btn-primary">
          <i class="fa fa-search"></i> Search
        </button>
      </div>
      <table class="table table-responsive-md text-center table-hover">
        <thead>
          <tr>
            <th (click)="searchSort(lookupSearch,'name')"><span class="thead-header">District Name</span></th>
            <th (click)="searchSort(lookupSearch,'districtSandiBi')"><span class="thead-header">District Sandi BI</span></th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of resultData?.data">
            <td>{{item.name}}</td>
            <td>{{item.districtSandiBi}}</td>
            <td>
              <a class="success p-0" data-original-title="" title=""
                (click)="choose(item.refProvDistrictId,item.name,item,lookupSearch)">
                <i class="ft-edit-2 font-medium-3 mr-2"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="gridFooter row col-md-12">

        <div class="col-md-5 col-xs-12" style="float:left;font-weight: bold;">Total Data : {{totalData}}</div>
        <div class="justify-content-center col-md-3 col-xs-12">
          <ngb-pagination (pageChange)="searchPagination(lookupSearch,$event)" [pageSize]="pageSize" [collectionSize]="totalData"
            [(page)]="pageNow" [maxSize]="5" [rotate]="true" [ellipses]="true" [boundaryLinks]="true"></ngb-pagination>

        </div>
        <div class="col-md-4 col-xs-12" style="float:right;">
          <select class="custom-select" style="width: auto;float:right;" name="pageSize" [(ngModel)]="pageSize"
            (change)="onChange(lookupSearch)">
            <option [ngValue]="10">10</option>
            <option [ngValue]="20">20</option>
            <option [ngValue]="50">50</option>
          </select>
        </div>
      </div>
    </div>
  </ng-template>
