<lib-ucSubsection [id]="'NotifBroadcastSmsWaId'" [title]="IsWa ? 'Broadcast WhatsApp' : 'Broadcast SMS'" [panel]="'NotifBroadcastSmsWa'"></lib-ucSubsection>
<div class="form-body" id="NotifBroadcastSmsWa">
    <div class="form-group row">
      <label class="col-md-3 adInsLabel" translate>TELP_NO</label>
      <div class="col-md-9 input-group">
        <!-- <input type="tel" class="form-control adInsInput width-50-per" multiple> -->
        <!-- <tag-input formControlName="SendTo" [editable]="true" (onTagEdited)="onTagEdited($event)" [onAdding]="transform" [separatorKeyCodes]="[32, 188]" [onRemoving]="onRemoving">
        </tag-input> -->
        
          <ngx-intl-tel-input
          [preferredCountries]="[CountryISO.Indonesia]"
          [enableAutoCountrySelect]="false"
          [enablePlaceholder]="true"
          [searchCountryFlag]="true"
          [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
          [selectFirstCountry]="false"
          [selectedCountryISO]="CountryISO.Indonesia"
          [maxLength]="15"
          [phoneValidation]="true"
          name="phone"
          formControlName="PhoneNum"
          ></ngx-intl-tel-input>
          <!-- <lib-uc-show-errors [control]="parentForm.controls.SendTo" [submit]="enjiForm.submitted">
          </lib-uc-show-errors> -->
          <div class="input-group-append">
            <button type="button" [hidden]="MaxSpecificUser == SendToLength" (click)="AddSentTo()" class="btn btn-primary btn-raised"
                style="vertical-align: middle;">
                <i class="ft-plus-circle font-medium-2"></i>
            </button>
          </div>
      </div>
    </div>
    <div class="form-group row adins-required">
      <label class="col-md-3 adInsLabel" translate>SEND_TO</label>
      <div class="col-md-9">
        <!-- <tag-input formControlName="SendTo" [disable]="true" [editable]="true" (onTagEdited)="onTagEdited($event)" [onAdding]="transform" [separatorKeyCodes]="[32, 188]" [onRemoving]="onRemoving">
        </tag-input> -->
        <tag-input formControlName="SendTo" [disable]="false" [editable]="false" [maxItems]="0" [required]="true" [separatorKeyCodes]="[32, 188]" [onRemoving]="onRemoving">
        </tag-input>
        <lib-uc-show-errors [control]="parentForm.controls.SendTo" [submit]="enjiForm.submitted">
        </lib-uc-show-errors>
      </div>
    </div>
    <div class="form-group row adins-required">
      <label class="col-md-3 adInsLabel" translate>BODY</label>
      <div class="col-md-9">
        <textarea class="form-control adInsInput width-50-per" [ngClass]="{ 'is-invalid': enjiForm.submitted && parentForm.controls.Body.invalid }" [readonly]="IsUsedTemplate" formControlName="Body" cols="50" rows="5"></textarea>
        <lib-uc-show-errors [control]="parentForm.controls.Body" [submit]="enjiForm.submitted">
        </lib-uc-show-errors>
      </div>
    </div>
</div>