<app-search id="ucSearch" style="width:100%;" [_url]='urlJson'></app-search>
<div class="col-md-12">
    <form>
        <div class="form-actions right">
            <button type="button" class="btn btn-raised btn-warning mr-1">
                <i class="ft-x"></i> Cancel
            </button>
            <button type="button" (click)="search()" class="btn btn-raised btn-primary">
                <i class="fa fa-search"></i> Search
            </button>
        </div>
    </form>
</div>

<table class="table table-responsive-md text-center table-hover">
    <thead>
        <tr class="table-header">
            <th>Office Name</th>
            <th>Office Code</th>
            <th>Contact Person</th>
            <th>Address</th>
            <th>City</th>
            <th>Model Name</th>
            <th>Active Status</th>
            <th>Virtual Office</th>
            <th>Employee List</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of resultData?.returnObject">
            <td>{{item.officeName}}</td>
            <td>{{item.officeCode}}</td>
            <td>{{item.cntctPersonName}}</td>
            <td>{{item.officeAddr}}</td>
            <td>{{item.city}}</td>
            <td>{{item.orgMdlId}}</td>
            <td>{{item.isActive}}</td>
            <td>{{item.isVirtualOffice}}</td>
            <td>
                <a class="success p-0" data-original-title="" title="">
                    <i class="ft-edit-2 font-medium-3 mr-2"></i>
                </a>
            </td>
            <td>
                <a class="success p-0" data-original-title="" title="" [routerLink]="['/office/add']">
                    <i class="ft-edit-2 font-medium-3 mr-2"></i>
                </a>
                <a class="danger p-0" data-original-title="" title="">
                    <i class="ft-x font-medium-3 mr-2"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>
Current Page : {{pageNow}}
<div class="d-flex justify-content-center">
    <ngb-pagination (pageChange)="pageChange($event)" [pageSize]="pageSize" [collectionSize]="totalData" [(page)]="pageNow" [maxSize]="5" [rotate]="true" [ellipses]="true"
        [boundaryLinks]="true"></ngb-pagination>
</div>


