<div class="ucSearch-Button-Right">
  <span class="mr-1">
    <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="['/SystemSetting/RefForm/Paging']"
      translate>
      <i class="far fa-window-close"></i> Cancel
    </button>
    <button type="button" class="btn btn-raised btn-primary mr-1"
      [routerLink]="['/SystemSetting/RefForm/RoleMapping/Add']" [queryParams]="{RefFormId: this.RefFormId}">
      <i class="ft-plus-circle"></i> Add
    </button>
  </span>
</div>
<lib-ucviewgeneric [viewGenericObj]="viewGenericObj"> </lib-ucviewgeneric>
<lib-ucpaging id="memberUcPaging" [searchObj]="inputPagingObj"></lib-ucpaging>