<h4 class="form-section">Role Maintenance</h4>
<br />
<app-search id="ucSearch" style="width:100%;" [_url]='urlJson' [apiQryPaging]='urlQryPaging' [enviromentUrl]='urlEnviPaging'
  (result)="getResult($event)"></app-search>


<table class="table table-responsive-md text-center table-hover">
  <thead>
    <tr class="table-header">
      <th class="text-left pointer"><span class="thead-header" (click)="searchSort($event)" name='refMasterTypeCode'>Master
          Type Code</span></th>
      <th class="text-left pointer"><span class="thead-header" (click)="searchSort($event)"
          name='descr'>Description</span></th>
      <th class="text-left pointer"><span class="thead-header" (click)="searchSort($event)" name='isSandiBi'>Sandi
          BI</span></th>
      <th class="text-left pointer"><span class="thead-header" (click)="searchSort($event)"
          name='isActive'>Active</span></th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of resultData?.returnObject.data">
      <td>{{item.refMasterTypeCode}}</td>
      <td align="left">{{item.descr}}</td>
      <td>
        <div *ngIf="item.isSandiBi === '1'">
          Yes
        </div>
        <div *ngIf="item.isSandiBi === '0'">
          No
        </div>
      </td>
      <td>
        <div *ngIf="item.isActive === '1'">
          Yes
        </div>
        <div *ngIf="item.isActive === '0'">
          No
        </div>
      </td>
      <td>
        <a class="success p-0" data-original-title="" title="" [routerLink]="['/systemSetting/role/detail']"
          [queryParams]="{refRoleId:item.refRoleId,mode:'edit'}">
          <i class="ft-edit-2 font-medium-3 mr-2"></i>
        </a>
        <a class="danger p-0" data-original-title="" title="" (click)="del(item.refRoleId)">
          <i class="ft-trash-2 font-medium-3 mr-2"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
<app-ucgrid-footer (select)="onSelect($event)"></app-ucgrid-footer>
<i class="fa fa-plus-circle" [routerLink]="['/systemSetting/role/detail']"
  style="position: absolute; right: 30px; bottom: 0; cursor: pointer; font-size: 36px"></i>
