<!-- <form class="form form-horizontal" name="AssetSchmForm" #AssetSchmForm="ngForm" novalidate
  (ngSubmit)="SaveAssetSchmMember(AssetSchmForm)">

<table class="table table-responsive-md text-center table-hover">
    <thead>
      <tr class="table-header">
        <th class="text-left"><span class="thead-header" (click)="searchSort($event)" name='fullAssetCode'
            translate>Address Type Name</span>
        </th>
        <th class="text-left"><span class="thead-header" (click)="searchSort($event)" name='fullAssetName'
            translate>Address</span>
        </th>
        <th class="text-left"><span class="thead-header" (click)="searchSort($event)" name='assetCategoryName'
            translate>Building Ownership</span>
        </th>
        <th class="text-left"><span class="thead-header" (click)="searchSort($event)" name='assetCategoryName'
            translate>Phone (Fix Line) 1</span>
        </th>
        <th class="text-left"><span class="thead-header" (click)="searchSort($event)" name='assetCategoryName'
            translate>Phone (Fix Line) 2</span>
        </th>
        <th class="text-left"><span class="thead-header" (click)="searchSort($event)" name='assetCategoryName'
            translate>Notes</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of responseResultCustAddr">
        <td class="text-left">{{item.FullAssetCode}}</td>
        <td class="text-left">{{item.FullAssetName}}</td>
        <td class="text-left">{{item.AssetCategoryName}}</td>
      </tr>
    </tbody>
  </table>

</form> -->

<p>s</p>