<div class="ucSearch-Button-Right">
  <span class="mr-1">
    <button type="button" class="addButton" [routerLink]="['../Detail']"
      [queryParams]="{mode:'add',AssetTypeId:AssetTypeId}" translate>
      <i class="ft-plus-circle"></i> Add
    </button>
    <button type="button" class="backButton" [routerLink]="['../../Configuration/Paging']" translate>
      <i class="fa fa-arrow-left"></i> Back
    </button>
  </span>
</div>
<form class="form form-horizontal">
  <div class="form-body">
    <h4 class="form-section card-title" translate>Asset Category</h4>
  </div>
</form>

<lib-ucviewgeneric [viewInput]="viewObj"></lib-ucviewgeneric>
<lib-ucpaging [searchObj]="inputPagingObj"></lib-ucpaging>