<div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="px-3">
              <div class="row">
                <div class="col-md-12" style="text-align-last: right">
                  <button type="button" class="backButton"  [queryParams]="{param:'edit',holidaySchmHId:holidaySchmHId}" [routerLink]="['/company']" translate>
                    <i class="fa fa-arrow-left"></i> Back
                  </button>
                </div>
              </div>
              <form class="form form-horizontal" name="RefCoyForm" #RefCoyForm="ngForm" (ngSubmit)="RefCoyForm.form.valid && Save(RefCoyForm, ucAddress, ucContactInfo)" novalidate>
                <div class="form-body">
                  <h4 class="form-section card-title" translate>
                    <i class="ft-file-text">
                    </i>Company Profile
                  </h4>
                  <div class="form-group row adins-required">
                    <label class="col-md-3  adInsLabel">Company Code 
                    </label>
                    <div class="col-md-9">
                      <input type="text" class="form-control adInsInput" name="coyCode" required [(ngModel)]="coyCode"
                             #CoyCode="ngModel" [ngClass]="{ 'is-invalid': (CoyCode.touched || CoyCode.dirty || RefCoyForm.submitted) && CoyCode.invalid }">
                      <div *ngIf="RefCoyForm.submitted && CoyCode.invalid" class="invalid-feedback">
                        <div *ngIf="CoyCode.errors.required" class="adInsReqMsg" translate>This field is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row adins-required">
                    <label class="col-md-3  adInsLabel">Full Name 
                    </label>
                    <div class="col-md-9">
                      <input type="text" class="form-control adInsInput" name="fullName" required [(ngModel)]="fullName"
                             #FullName="ngModel" [ngClass]="{ 'is-invalid': (FullName.touched || FullName.dirty || RefCoyForm.submitted) && FullName.invalid }">
                      <div *ngIf="RefCoyForm.submitted && FullName.invalid" class="invalid-feedback">
                        <div *ngIf="FullName.errors.required" class="adInsReqMsg" translate>This field is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row adins-required">
                    <label class="col-md-3  adInsLabel">Short Name 
                    </label>
                    <div class="col-md-9">
                      <input type="text" class="form-control adInsInput" name="shortName" required [(ngModel)]="shortName"
                             #ShortName="ngModel" [ngClass]="{ 'is-invalid': (ShortName.touched || ShortName.dirty || RefCoyForm.submitted) && ShortName.invalid }">
                      <div *ngIf="RefCoyForm.submitted && ShortName.invalid" class="invalid-feedback">
                        <div *ngIf="ShortName.errors.required" class="adInsReqMsg" translate>This field is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row adins-required">
                    <label class="col-md-3  adInsLabel">Initial Name 
                    </label>
                    <div class="col-md-9">
                      <input type="text" class="form-control adInsInput" name="initialName" required [(ngModel)]="initialName"
                             #InitialName="ngModel" [ngClass]="{ 'is-invalid': (InitialName.touched || InitialName.dirty || RefCoyForm.submitted) && InitialName.invalid }">
                      <div *ngIf="RefCoyForm.submitted && InitialName.invalid" class="invalid-feedback">
                        <div *ngIf="InitialName.errors.required" class="adInsReqMsg" translate>This field is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3  adInsLabel">BI Code 
                    </label>
                    <div class="col-md-9">
                      <input type="text" class="form-control adInsInput" name="regRptCode" [(ngModel)]="regRptCode"
                             #RegRptCode="ngModel">
                    </div>
                  </div>
                  <div class="form-group row adins-required">
                    <label class="col-md-3  adInsLabel">NPWP
                    </label>
                    <div class="col-md-9">
                      <input type="text" class="form-control adInsInput" name="npwp" required [(ngModel)]="npwp"
                             #Npwp="ngModel" [ngClass]="{ 'is-invalid': (Npwp.touched || Npwp.dirty || RefCoyForm.submitted) && Npwp.invalid }">
                      <div *ngIf="RefCoyForm.submitted && Npwp.invalid" class="invalid-feedback">
                        <div *ngIf="Npwp.errors.required" class="adInsReqMsg" translate>This field is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-md-3  adInsLabel">Registration No 
                      </label>
                      <div class="col-md-9">
                        <input type="text" class="form-control adInsInput" name="registrationNo" [(ngModel)]="registrationNo"
                               #RegistrationNo="ngModel">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3  adInsLabel">License No 
                        </label>
                        <div class="col-md-9">
                          <input type="text" class="form-control adInsInput" name="licenseNo" [(ngModel)]="licenseNo"
                                 #LicenseNo="ngModel">
                        </div>
                      </div>

                </div>
                <app-ucAddress #ucAddress [parentForm]='RefCoyForm'>
                </app-ucAddress>
                <app-ucContactInfo #ucContactInfo [parentForm]='RefCoyForm' [useEmail2]="false">
                </app-ucContactInfo>
                <div class="form-actions right">
                  <button type="submit" class="btn btn-raised btn-primary">
                    <i class="far fa-check-square">
                    </i> Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      