<div class="card-body">
    <div class="px-3">
      <form class="form form-horizontal" name="dummyForm" #dummyForm="ngForm" novalidate
        (ngSubmit)="saveForm(dummyForm, satu, dua)">
        <div class="">
          <app-ucAddress [parentForm]='dummyForm'></app-ucAddress>
        </div>
        <div class="satu">
          <app-ucAddress #satu [parentForm]='dummyForm' [identifier]="noSatu"></app-ucAddress>
        </div>
        <div class="dua">
          <app-ucAddress #dua [parentForm]='dummyForm' [identifier]="noDua"></app-ucAddress>
        </div>
        <div class="form-actions right">
          <button type="submit" class="btn btn-raised btn-primary" translate>
            <i class="far fa-check-square"></i> Save & Continue
          </button>
        </div>
      </form>
    </div>
  </div>