<div class="row text-left">
  <div class="col-md-12">
    <div class="card">      
      <div class="card-body">
        <div class="px-3">
          <div class="card-header header-title">
            <div class="row">
              <div class="col-md-8">
                <h4 class="card-title" id="horz-layout-colored-controls" translate>VIEW ASLI RI</h4>
              </div>
            </div>
          </div>
          <div class="card-body">
            <lib-ucSubsection [id]="'CustData'" [title]="'CUSTOMER DATA'" [panel]="'dCustData'">
            </lib-ucSubsection>
            <div class="form-body" id="dCustData">
              <div class="form-group row">
                <label class="col-md-3" translate>Customer Name</label>
                <label class="col-md-3" translate>JAMES ANDREW / Valid</label>
                <label class="col-md-3" translate>NIK</label>
                <label class="col-md-3" translate>321299230029291</label>
              </div>
            </div>
            <lib-ucSubsection [id]="'AsliRiProVerif'" [title]="'View Asli RI Professional Verification'" [panel]="'dAsliRiProVerif'">
            </lib-ucSubsection>
            <div class="form-body" id="dAsliRiProVerif">
              <div class="form-group row">
                <label class="col-md-3" translate>Birth Date</label>
                <label class="col-md-3" translate>16-10-1989 / Valid</label>
                <label class="col-md-3" translate>Birth Place</label>
                <label class="col-md-3" translate>Jakarta / Invalid</label>
                <label class="col-md-3" translate>Phone No</label>
                <label class="col-md-3" translate>628182983299</label>
                <label class="col-md-3" translate>Address</label>
                <label class="col-md-3" translate>Jl. KASALAN No.6 JL.K*S**R*N No.5</label>
                <label class="col-md-3" translate>Selfie Photo Validity</label>
                <label class="col-md-3" translate>82.5% Match</label>
              </div>
            </div>
            <lib-ucSubsection [id]="'AsliRiPhoneAgeVerif'" [title]="'VIEW ASLI RI PHONE AGE VERIFICATION'" [panel]="'dAsliRiPhoneAgeVerif'">
            </lib-ucSubsection>
            <div class="form-body" id="dAsliRiPhoneAgeVerif">
              <div class="form-group row">
                <label class="col-md-3" translate>Phone No Lifetime</label>
                <label class="col-md-3" translate>> 12 Months</label>
              </div>
            </div>
            <lib-ucSubsection [id]="'AsliRiMotherName'" [title]="'View Asli RI Mother Name Verification'" [panel]="'dAsliRiMotherName'">
            </lib-ucSubsection>
            <div class="form-body" id="dAsliRiMotherName">
              <div class="form-group row">
                <label class="col-md-3" translate>Mother Maiden Name</label>
                <label class="col-md-3" translate>MARINATA M*RY*T*/Invalid</label>
              </div>
            </div>
            <lib-ucSubsection [id]="'AsliRiTaxVerif'" [title]="'View Asli RI Tax Verification'" [panel]="'dAsliRiTaxVerif'">
            </lib-ucSubsection>
            <div class="form-body" id="dAsliRiTaxVerif">
              <div class="form-group row">
                <label class="col-md-3" translate>NPWP</label>
                <label class="col-md-3" translate>889119541151000</label>
                <label class="col-md-3" translate>NIK is Register for NPWP</label>
                <label class="col-md-3" translate>Valid</label>
                <label class="col-md-3" translate>Income</label>
                <label class="col-md-3" translate>89,428,000.00</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>