<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="px-3">
        <div class="addEdit">
          <form class="form form-horizontal">
            <div class="form-body">
              <h4 class="form-section card-title" translate> Customer Personal
              </h4>
            </div>
          </form>
          
           <app-customer-view-header-personal> </app-customer-view-header-personal>
       
        </div>
        <aw-wizard #wizard navBarLayout="large-empty-symbols" [disableNavigationBar]=true [awNavigationMode]
          navigateBackward="allow" navigateForward="allow">
          <aw-wizard-step [stepTitle]="'Customer Detail'"
            [navigationSymbol]="{ symbol: '&#xf007;', fontFamily: 'FontAwesome' }" (stepEnter)="EnterTab('Detail')">
            <app-customer-personal-detail *ngIf="isDetail == true" (outputValue)="terimaValue($event)">
            </app-customer-personal-detail>
          </aw-wizard-step>
          <aw-wizard-step [stepTitle]="'Address'" [navigationSymbol]="{ symbol: '&#xf0b1;', fontFamily: 'FontAwesome' }"
            (stepEnter)="EnterTab('Address')">
            <app-customer-personal-address   *ngIf="isAddress == true">
            </app-customer-personal-address>
          </aw-wizard-step>
          <aw-wizard-step [stepTitle]="'Contact Person'"
            [navigationSymbol]="{ symbol: '&#xf0b1;', fontFamily: 'FontAwesome' }">
            <app-customer-contact-person   *ngIf="isAddress == true">
            </app-customer-contact-person>
          </aw-wizard-step>
          <aw-wizard-step [stepTitle]="'Customer Group'"
            [navigationSymbol]="{ symbol: '&#xf0b1;', fontFamily: 'FontAwesome'}" (stepEnter)="EnterTab('Group')">
            <app-cust-group-tab *ngIf="isGroup == true" [MrCustTypeCode]="PERSONAL" [CustId]="this.IdCust">
            </app-cust-group-tab>
          </aw-wizard-step>
          <aw-wizard-step [stepTitle]="'Job Data'"
            [navigationSymbol]="{ symbol: '&#xf0b1;', fontFamily: 'FontAwesome' }" (stepEnter)="EnterTab('Job')">
            <app-customer-personal-job-data *ngIf="isJob == true"> </app-customer-personal-job-data>
          </aw-wizard-step>
          <aw-wizard-step [stepTitle]="'Financial Data'"
            [navigationSymbol]="{ symbol: '&#xf0b1;', fontFamily: 'FontAwesome' }" (stepEnter)="EnterTab('Financial')">
            <app-cust-fin-data-tab *ngIf="isFinancial == true" [CustId]="IdCust" [MrCustTypeCode]="'PERSONAL'"> </app-cust-fin-data-tab>
          </aw-wizard-step>
          <aw-wizard-step [stepTitle]="'Other Attribute'"
            [navigationSymbol]="{ symbol: '&#xf0b1;', fontFamily: 'FontAwesome' }" (stepEnter)="EnterTab('Other')">
            other
            <!-- <app-customer-personal-detail *ngIf="isOther == true"> </app-customer-personal-detail> -->
      
          </aw-wizard-step>
        </aw-wizard>
      </div>
    </div>
  </div>
</div>