<div class="col-md-12">
	<div class="card">
		<div class="card-body">
			<div class="px-3">
				<div class="form-body">
					<h4 class="form-section card-title" *ngIf="custType == 'PERSONAL'" translate>CUSTOMER PERSONAL</h4>
					<h4 class="form-section card-title" *ngIf="custType == 'COMPANY'" translate>CUSTOMER COMPANY</h4>
					<div *ngIf="custType == 'PERSONAL'">
						<app-customer-view-header-personal></app-customer-view-header-personal>
						<mat-tab-group (selectedIndexChange)="mencuba($event)">
							<mat-tab label="Main Data">
							</mat-tab>
							<mat-tab label="Address">
							</mat-tab>
							<mat-tab label="Contact Person">
							</mat-tab>
							<mat-tab label="Customer Group">
							</mat-tab>
							<mat-tab label="Job Data">
								<!-- <ng-template matTabContent> -->
								<!-- <app-customer-view-personal-job-data *ngIf="custModel == 'PROF'">
									</app-customer-view-personal-job-data>
									<app-customer-view-personal-job-data-non-prof *ngIf="custModel == 'NONPROF'">
									</app-customer-view-personal-job-data-non-prof>
									<app-customer-view-personal-job-data-emp *ngIf="custModel == 'EMP'">
									</app-customer-view-personal-job-data-emp>
									<app-customer-view-personal-job-data-sme *ngIf="custModel == 'SME'">
									</app-customer-view-personal-job-data-sme> -->
								<!-- </ng-template> -->
							</mat-tab>
							<mat-tab label="Financial Data">
							</mat-tab>

							<div *ngIf="!IsLos">
								<mat-tab label="Document">
								</mat-tab>
							</div>

							<!-- Kalau ada beli LOS baru dimunculin -->
							<div *ngIf="IsLos">
								<mat-tab label="Application List">
								</mat-tab>
								<mat-tab label="Agreement List">
								</mat-tab>
							</div>

							<!-- <mat-tab label="Other Info">
							</mat-tab> -->
						</mat-tab-group>
					</div>
					<div *ngIf="custType == 'COMPANY'">
						<app-customer-view-header-company></app-customer-view-header-company>
						<mat-tab-group (selectedIndexChange)="mencuba($event)">
							<mat-tab label="Main Data">
							</mat-tab>
							<mat-tab label="Address">
							</mat-tab>
							<mat-tab label="Management / Shareholder">
							</mat-tab>
							<mat-tab label="Customer Group">
							</mat-tab>
							<mat-tab label="Contact Information">
							</mat-tab>
							<mat-tab label="Financial Data">
							</mat-tab>
							<mat-tab label="Legal Document">
							</mat-tab>

							<div *ngIf="!IsLos">
								<mat-tab label="Document">
								</mat-tab>
							</div>

							<!-- <mat-tab label="Other Info">
							</mat-tab> -->
						</mat-tab-group>
					</div>
					<router-outlet></router-outlet>
				</div>
			</div>
		</div>
	</div>
</div>