<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <div class="px-3">
                <div class="row">
                        <div class="col-md-12" style="text-align-last: right">
                            <button type="button" class="backButton"  [routerLink]="['/company/commissioner']" translate>
                            <i class="far fa-window-close"></i> Cancel
                            </button>
                        </div>
                        </div>
                <form class="form form-horizontal" name="RefCoyCommisionerForm" #RefCoyCommisionerForm="ngForm" (ngSubmit)="RefCoyCommisionerForm.form.valid && Save(RefCoyCommisionerForm, ucAddress, ucContactInfo)" novalidate>
                    <div class="form-body">
                        <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Commissioner Information</h4>
                        <div class="form-group row">
                            <label class="col-md-3  adInsLabel">Name </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control adInsInput" name="name" required [(ngModel)]="name"
                                    #Name="ngModel" [ngClass]="{ 'is-invalid': (Name.touched || Name.dirty || RefCoyCommisionerForm.submitted) && Name.invalid }">
                                    <div *ngIf="RefCoyCommisionerForm.submitted && Name.invalid" class="invalid-feedback">
                                      <div *ngIf="Name.errors.required" class="adInsReqMsg" translate>This field is required</div>
                                    </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3  adInsLabel">Job Title </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control adInsInput" name="jobTitle" required [(ngModel)]="jobTitle"
                                    #JobTitle="ngModel" [ngClass]="{ 'is-invalid': (JobTitle.touched || JobTitle.dirty || RefCoyCommisionerForm.submitted) && JobTitle.invalid }">
                                    <div *ngIf="RefCoyCommisionerForm.submitted && JobTitle.invalid" class="invalid-feedback">
                                      <div *ngIf="JobTitle.errors.required" class="adInsReqMsg" translate>This field is required</div>
                                    </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3  adInsLabel">Tax Id No</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control adInsInput" name="taxIdNo" required [(ngModel)]="taxIdNo"
                                    #TaxIdNo="ngModel" [ngClass]="{ 'is-invalid': (TaxIdNo.touched || TaxIdNo.dirty || RefCoyCommisionerForm.submitted) && TaxIdNo.invalid }">
                                    <div *ngIf="RefCoyCommisionerForm.submitted && TaxIdNo.invalid" class="invalid-feedback">
                                      <div *ngIf="TaxIdNo.errors.required" class="adInsReqMsg" translate>This field is required</div>
                                    </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3  adInsLabel">Id Type </label>
                            <div class="col-md-9">
                                <select class="form-control adInsInput" name="mrIdType" class="custom-select" style="width: auto" [(ngModel)]="idType">
                                    <option *ngFor="let it of itemIdType" value="{{it.masterCode}}">
                                        {{it.descr}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3  adInsLabel">Id No </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control adInsInput" name="idNo" required [(ngModel)]="idNo"
                                    #IdNo="ngModel" [ngClass]="{ 'is-invalid': (IdNo.touched || IdNo.dirty || RefCoyCommisionerForm.submitted) && IdNo.invalid }">
                                    <div *ngIf="RefCoyCommisionerForm.submitted && IdNo.invalid" class="invalid-feedback">
                                      <div *ngIf="IdNo.errors.required" class="adInsReqMsg" translate>This field is required</div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <app-ucAddress #ucAddress [parentForm]='RefCoyCommisionerForm'></app-ucAddress>
                    <app-uc-info #ucContactInfo [parentForm]='RefCoyCommisionerForm'  [useName]=false [useTitle]=false></app-uc-info>
                    <div class="form-actions right">
                        <button type="submit" class="btn btn-raised btn-primary">
                            <i class="far fa-check-square"></i> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
