<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="card-header header-title">
        <div class="row">
          <div class="col-md-8">
            <h4 class="form-section card-title" translate>Currency Registration</h4>
          </div>
        </div>
      </div>
      <div class="px-3">
        <form class="form form-horizontal" [formGroup]="RefCurrForm" (ngSubmit)="RefCurrForm.valid && SaveForm()"
          #enjiForm="ngForm">
          <div class="form-body">
            <lib-ucSubsection [id]="'CurrencyInfoId'" [title]="'Currency '+ pageType" [panel]="'CurrencyInfo'"></lib-ucSubsection>
            <div id="CurrencyInfo">
              <div class="form-group row adins-required">
                <label class="col-md-3  adInsLabel" translate>Currency Code </label>
                <div class="col-md-9">
                  <input type="text" class="form-control adInsInput code" formControlName="CurrCode"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && RefCurrForm.controls.CurrCode.invalid }">
                  <lib-uc-show-errors [control]="RefCurrForm.controls.CurrCode" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
              <!-- <div class="form-group row adins-required">
                <label class="col-md-3 " translate>UC Number </label>
                <div class="col-md-9">
                  <input type="text" formControlName="UCNumber" class="form-control" [(ngModel)]="UcNumber"
                    autocomplete="off" (keydown)="numberCheck($event)" (keyup)="CommaFormatted($event)" />
                </div>
              </div>
              <div class="form-group row adins-required">
                <label class="col-md-3 " translate>UC Number 2 </label>
                <div class="col-md-9">
                  <input type="text" formControlName="UCNumber2" class="form-control" [(ngModel)]="UcNumber2" />
                </div>
              </div> -->
              <div class="form-group row adins-required">
                <label class="col-md-3  adInsLabel adins-required" translate>Currency </label>
                <div class="col-md-9">
                  <input type="text" class="form-control adInsInput name" formControlName="CurrName"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && RefCurrForm.controls.CurrName.invalid }">
                  <lib-uc-show-errors [control]="RefCurrForm.controls.CurrName" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
              <!--<div class="form-group row">
                <label class="col-md-3  adInsLabel" translate>Rounded Amount </label>
                <div class="col-md-9">
                  <input type="number" class="form-control adInsInput" formControlName="RoundedAmt"
                         [ngClass]="{ 'is-invalid': enjiForm.submitted && RefCurrForm.controls.RoundedAmt.invalid }">
                  <lib-uc-show-errors [control]="RefCurrForm.controls.RoundedAmt" [submit]="enjiForm.submitted"></lib-uc-show-errors>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3  adInsLabel" translate>Minimum Refund Amount </label>
                <div class="col-md-9">
                  <input type="number" class="form-control adInsInput" formControlName="MinRefundAmt"
                         [ngClass]="{ 'is-invalid': enjiForm.submitted && RefCurrForm.controls.MinRefundAmt.invalid }">
                  <lib-uc-show-errors [control]="RefCurrForm.controls.MinRefundAmt" [submit]="enjiForm.submitted"></lib-uc-show-errors>
                </div>
              </div>!-->
              <div class="form-group row adins-required">
                <label class="col-md-3  adInsLabel" translate>BI Code </label>
                <div class="col-md-9">
                  <textarea class="form-control adInsInput" formControlName="RegRptCode"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && RefCurrForm.controls.RegRptCode.invalid }"></textarea>
                  <lib-uc-show-errors [control]="RefCurrForm.controls.RegRptCode" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3  adInsLabel" translate>Active </label>
                <div class="col-md-9">
                  <input class="border-primary" type="checkbox" data-md-icheck formControlName="IsActive" />
                </div>
              </div>
            </div>
          </div>
          <div class="form-actions right">
            <button type="button" class="btn btn-raised btn-warning mr-1"
              [routerLink]="['/CommonSetting/Currency/Paging']" skipLocationChange translate>
              <i class="far fa-window-close"></i> Cancel
            </button>
            <button type="submit" class="btn btn-raised btn-primary" translate>
              <i class="far fa-check-square"></i> Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>