<div class="row text-left">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="px-3">
          <form class="form form-horizontal" name="BankAddReqForm" #BankAddReqForm="ngForm"
          (ngSubmit)="BankAddReqForm.form.valid && Save(BankAddReqForm)">
            <div class="form-body">
              <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Bank Information</h4>
              <div class="form-group row">
                <label class="col-md-3 adInsLabel" for="projectinput5" translate>Bank Code </label>
                <div class="col-md-9">
                  <div *ngIf="mode=='edit'">
                    <label class="adInsLabel" translate>{{result?.bankCode}}</label>
                  </div>
                  <div *ngIf="mode!='edit'">
                    <input type="text" id="projectinput5" class="form-control adInsInput" name="bankCode"
                      [ngModel]="result?.bankCode" #BankCode="ngModel" required
                      [ngClass]="{ 'is-invalid': (BankAddReqForm.submitted || BankCode.touched || BankCode.dirty) && BankCode.invalid }">
                    <div *ngIf="(BankAddReqForm.submitted || BankCode.touched || BankCode.dirty) && BankCode.invalid"
                      class="invalid-feedback">
                      <div *ngIf="BankCode.errors.required" class="adInsReqMsg" translate>This field is required</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 adInsLabel" for="projectinput5" translate>Bank Name </label>
                <div class="col-md-9">
                  <input type="text" id="projectinput5" class="form-control adInsInput" name="bankName"
                    [ngModel]="result?.bankName" #BankName="ngModel" required
                    [ngClass]="{ 'is-invalid': (BankAddReqForm.submitted || BankName.touched || BankName.dirty) && BankName.invalid }">
                  <div *ngIf="(BankAddReqForm.submitted || BankName.touched || BankName.dirty) && BankName.invalid"
                    class="invalid-feedback">
                    <div *ngIf="BankName.errors.required" class="adInsReqMsg" translate>This field is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 adInsLabel" for="projectinput6" translate>BI Code </label>
                <div class="col-md-9">
                    <input type="text" id="projectinput5" class="form-control adInsInput" name="regRptCode"
                    [ngModel]="result?.regRptCode" #RegRptCode="ngModel">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 adInsLabel" for="userinput5" translate>Active Status </label>
                <div class="col-md-9">
                  <input class="border-primary" type="checkbox" [ngModel]="isActive" data-md-icheck
                    (change)="toggleVisibility($event)" id="projectinput5" name="isActive">
                </div>
              </div>
            </div>
            <div class="form-actions right">
              <button *ngIf="mode === 'edit'" type="button" class="btn btn-raised btn-warning mr-1"
                [routerLink]="['/bank/paging']" translate>
                <i class="fa fa-arrow-circle-left"></i> Back
              </button>
              <button type="submit" class="btn btn-raised btn-primary" translate>
                <i class="fa fa-check-square-o"></i> Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
<lib-form-engine [mode]="mode" [addCritInput]= "criteria" [afterSaveUrl]= "afterSaveUrl" [enviromentUrl]="urlEnviPaging"></lib-form-engine> -->