<div class="row text-left">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header header-title">
        <div class="row">
          <div class="col-md-8">
            <h4 class="card-title" translate> {{mode}} BANK </h4>
          </div>
          <div class="col-md-4" style="text-align-last: right">
            <button type="button" class="backButton" [routerLink]="['/bank/paging']" translate>
              <i class="ft-arrow-left"></i> Back
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="px-3">
          <form class="form form-horizontal" name="BankAddReqForm" #BankAddReqForm="ngForm"
            (ngSubmit)="BankAddReqForm.form.valid && SaveForm(BankAddReqForm)">
            <div class="form-body">
              <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Bank Information</h4>
              <div class="form-group row adins-required">
                <label class="col-md-3 adInsLabel" for="BankCode" translate>Bank Code </label>
                <div class="col-md-9">
                  <div>
                    <input type="text" id="BankCode" class="form-control adInsInput width-25-per" name="bankCode"
                      [ngModel]="result?.bankCode" #BankCode="ngModel" required [disabled]="mode=='edit'"
                      [ngClass]="{ 'is-invalid': (BankAddReqForm.submitted || BankCode.touched || BankCode.dirty) && BankCode.invalid }">
                    <div *ngIf="(BankAddReqForm.submitted || BankCode.touched || BankCode.dirty) && BankCode.invalid"
                      class="invalid-feedback">
                      <div *ngIf="BankCode.errors.required" class="adInsReqMsg" translate>This field is required</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row adins-required">
                <label class="col-md-3 adInsLabel" for="BankName" translate>Bank Name </label>
                <div class="col-md-9">
                  <input type="text" id="BankName" class="form-control adInsInput width-75-per" name="bankName"
                    [ngModel]="result?.bankName" #BankName="ngModel" required
                    [ngClass]="{ 'is-invalid': (BankAddReqForm.submitted || BankName.touched || BankName.dirty) && BankName.invalid }">
                  <div *ngIf="(BankAddReqForm.submitted || BankName.touched || BankName.dirty) && BankName.invalid"
                    class="invalid-feedback">
                    <div *ngIf="BankName.errors.required" class="adInsReqMsg" translate>This field is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 adInsLabel" for="regRptCode" translate>BI Code </label>
                <div class="col-md-9">
                  <input type="text" id="regRptCode" class="form-control adInsInput width-25-per" name="regRptCode"
                    [ngModel]="result?.regRptCode" #RegRptCode="ngModel">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 adInsLabel" translate>Active Status </label>
                <div class="col-md-9">
                  <input class="border-primary" type="checkbox" [ngModel]="isActive"
                    (change)="toggleVisibility($event)" name="isActive">
                </div>
              </div>
            </div>
            <div class="form-actions right">
              <button type="submit" class="btn btn-raised btn-primary" id="test" (click)=formValidate(BankAddReqForm)
                translate>
                <i class="fa fa-check-square-o"></i> Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>