<div class="row text-left">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" id="horz-layout-colored-controls">Add / Edit Bank</h4>
            </div>
            <div class="card-body">
                <div class="px-3">
                    <form class="form form-horizontal" name="BankAddReqForm" #BankAddReqForm="ngForm"
                        (ngSubmit)="Save(BankAddReqForm)">
                        <div class="form-body">
                            <h4 class="form-section"><i class="ft-file-text"></i> Add/ Edit</h4>
                            <div class="form-group row">
                                <label class="col-md-3 label-control" for="projectinput5">Bank Name: </label>
                                <div class="col-md-9">
                                    <input type="text" id="projectinput5" class="form-control" name="bankName"
                                        [ngModel]="result?.bankName" #bankName="ngModel">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 label-control" for="projectinput5">Bank Code: </label>
                                <div class="col-md-9">
                                    <input type="text" id="projectinput5" class="form-control" name="bankCode"
                                    [ngModel]="result?.bankCode" #bankCode="ngModel">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 label-control" for="projectinput6">BI Code: </label>
                                <div class="col-md-9">
                                    <textarea id="projectinput5" class="form-control" name="biCode"
                                    [ngModel]="result?.biCode" #biCode="ngModel"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 label-control" for="userinput5">Active Status: </label>
                                <div class="col-md-9">
                                    <input class="border-primary" type="checkbox"
                                    [ngModel]="isActive" data-md-icheck (change)="toggleVisibility($event)" id="projectinput5" name="isActive">
                                </div>
                            </div>
                        </div>
                        <div class="form-actions right">
                            <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="['/bank']">
                                <i class="ft-x"></i> Cancel
                            </button>
                            <button type="submit" class="btn btn-raised btn-primary">
                                <i class="fa fa-check-square-o"></i> Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
