<div class="customerData">
  <form class="form form-horizontal" #enjiForm="ngForm">
    <div class="form-body">
      <div class="form-group row">
        <label class="col-md-2 adInsLabel" translate>Customer Model</label>
        <div class="col-md-4">
          <select class="form-control adInsInput" [(ngModel)]="CustModel" [ngModelOptions]="{standalone: true}" (change)="ResetRefProf()">
            <option *ngFor="let it of tempCustModel" [value]="it.Key">
              {{it.Value}}
            </option>
          </select>
        </div>
      </div>
      <div *ngIf="this.CustModel == modelEmp">
        <app-job-data-employee-x #JobEmp [IsReset]="IsReset" (outputTab)="getValue($event)"></app-job-data-employee-x>
      </div>
      <div *ngIf="this.CustModel == modelNonProf">
        <app-job-data-non-professional-x #JobNonProf [IsReset]="IsReset" (outputTab)="getValue($event)"></app-job-data-non-professional-x>
      </div>
      <div *ngIf="this.CustModel == modelProf">
        <app-job-data-professional-x #JobProf [IsReset]="IsReset" (outputTab)="getValue($event)"></app-job-data-professional-x>
      </div>
      <div *ngIf="this.CustModel == modelSme">
        <app-job-data-sme-x #JobSme [IsReset]="IsReset" (outputTab)="getValue($event)"></app-job-data-sme-x>
      </div>
    </div>
  </form>
</div>
