<div class="addEdit">
  <form class="form form-horizontal" [formGroup]="ContactInformationForm"
    (ngSubmit)="ContactInformationForm.valid && SaveValue()" #enjiForm="ngForm">
    <div class="form-body">
      <lib-ucSubsection [id]="'MainInfo'" [title]="'Main Info'" [panel]="'MainInfoId'">
      </lib-ucSubsection>
      <div id="MainInfoId">
        <div class="form-group row  ">
          <label class="col-md-2 adInsLabel" translate>Name</label>
          <div class="col-md-4">
            <input type="text" class="form-control adInsInput" formControlName="ContactPersonName"
              [ngClass]="{ 'is-invalid': enjiForm.submitted && ContactInformationForm.controls.ContactPersonName.invalid}">
            <show-errors [control]="ContactInformationForm.controls.ContactPersonName" [submit]="enjiForm.submitted">
            </show-errors>
          </div>
        </div>
        <div class="form-group row  ">
          <label class="col-md-2 adInsLabel" translate>Gender</label>
          <div class="col-md-4">
            <input type="text" class="form-control adInsInput" formControlName="MrGenderCode"
              [ngClass]="{ 'is-invalid': enjiForm.submitted && ContactInformationForm.controls.MrGenderCode.invalid}">
            <show-errors [control]="ContactInformationForm.controls.MrGenderCode" [submit]="enjiForm.submitted">
            </show-errors>
          </div>
        </div>
        <div class="form-group row  ">
          <label class="col-md-2 adInsLabel" translate>Job Position</label>
          <div class="col-md-4">
            <input type="text" class="form-control adInsInput" formControlName="MrJobPostitionCode"
              [ngClass]="{ 'is-invalid': enjiForm.submitted && ContactInformationForm.controls.MrJobPostitionCode.invalid}">
            <show-errors [control]="ContactInformationForm.controls.MrJobPostitionCode" [submit]="enjiForm.submitted">
            </show-errors>
          </div>
        </div>
        <div class="form-group row  ">
          <label class="col-md-2 adInsLabel" translate>Job Title</label>
          <div class="col-md-4">
            <input type="text" class="form-control adInsInput" formControlName="JobTitleName"
              [ngClass]="{ 'is-invalid': enjiForm.submitted && ContactInformationForm.controls.JobTitleName.invalid}">
            <show-errors [control]="ContactInformationForm.controls.JobTitleName" [submit]="enjiForm.submitted">
            </show-errors>
          </div>
        </div>
      </div>
      <lib-ucSubsection [id]="'ContactInformation'" [title]="'Contact Information'" [panel]="'ContactInfromationId'">
      </lib-ucSubsection>
      <div id="ContactInfromationId">
        <div class="form-group row adins-required">
          <label class="col-md-2 adInsLabel" translate>Mobile Phone 1 </label>
          <div class="col-md-4">
            <input type="text" class="form-control adInsInput" formControlName="MobilePhnNo1"
              [ngClass]="{ 'is-invalid': enjiForm.submitted && ContactInformationForm.controls.MobilePhnNo1.invalid}">
            <show-errors [control]="ContactInformationForm.controls.MobilePhnNo1" [submit]="enjiForm.submitted">
            </show-errors>
          </div>
        </div>
        <div class="form-group row ">
          <label class="col-md-2 adInsLabel" translate>Mobile Phone 2 </label>
          <div class="col-md-4">
            <input type="text" class="form-control adInsInput" formControlName="MobilePhnNo2"
              [ngClass]="{ 'is-invalid': enjiForm.submitted && ContactInformationForm.controls.MobilePhnNo2.invalid}">
            <show-errors [control]="ContactInformationForm.controls.MobilePhnNo2" [submit]="enjiForm.submitted">
            </show-errors>
          </div>
        </div>
        <div class="form-group row  ">
          <label class="col-md-2 adInsLabel" translate>Email 1 </label>
          <div class="col-md-4">
            <input type="text" class="form-control adInsInput" formControlName="Email1"
              [ngClass]="{ 'is-invalid': enjiForm.submitted && ContactInformationForm.controls.Email1.invalid}">
            <show-errors [control]="ContactInformationForm.controls.Email1" [submit]="enjiForm.submitted">
            </show-errors>
          </div>
        </div>
        <div class="form-group row ">
          <label class="col-md-2 adInsLabel" translate>Email 2 </label>
          <div class="col-md-4">
            <input type="text" class="form-control adInsInput" formControlName="Email2"
              [ngClass]="{ 'is-invalid': enjiForm.submitted && ContactInformationForm.controls.Email2.invalid}">
            <show-errors [control]="ContactInformationForm.controls.Email2" [submit]="enjiForm.submitted">
            </show-errors>
          </div>
        </div>
      </div>


      <div id="ContactPersonAddressId">
        <lib-ucaddress [UCAddrForm]="ContactInformationForm" [enjiForm]="enjiForm" [identifier]="'UcAddress'"
        [default]="UcAddressObj"  [inputField]="inputFieldObj"  [showPhn3]="false" >
      </lib-ucaddress>

      </div>


    </div>
    <div class="form-actions right">
      <button type="submit" class="btn btn-raised btn-primary" translate>
        <i class="fa fa-check-square-o"></i> Save & Continue
      </button>
    </div>
  </form>
</div>