<div class="card">
  <div class="card-body">
    <div class="px-3">
      <table class="table table-responsive-md text-center table-hover">
        <thead>
          <tr class="table-header">
            <th class="text-left"><span class="thead-header" name='fullAssetCode' translate>Status</span> </th>
            <th class="text-left"><span class="thead-header" name='fullAssetName' translate>Customer No</span> </th>
            <th class="text-left"><span class="thead-header" name='assetCategoryName' translate>Customer Name</span>
            </th>
            <th class="text-left"><span class="thead-header" name='assetCategoryName' translate>Customer
                Relationship</span>
            </th>
            <th class="text-left"><span class="thead-header" name='assetCategoryName' translate>Notes</span> </th>
            <th class="text-left"><span class="thead-header" name='assetCategoryName' translate>Active Status</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of responseObj">
            <tr>
              <td class="text-left"></td>
              <td class="text-left">{{item.CustNo}}</td>
              <td class="text-left">{{item.CustName}}</td>
              <td class="text-left">{{item.CustRelationship}}</td>
              <td class="text-left">{{item.Notes}}</td>
              <td class="text-left" *ngIf="item.IsActive == true">Yes</td>
              <td class="text-left" *ngIf="item.IsActive == false">No</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>