<lib-ucSubsection [id]="'DupPersMainInfoId'" [title]="'Main Info'" [panel]="'DupPersMainInfo'">
</lib-ucSubsection>
<form class="form form-horizontal" #enjiForm="ngForm" id="DupPersMainInfo">
  <div class="form-body">
    <div class="row">
      <div class="col-md-6">

        <div class="form-group row">
          <label class="col-md-4 adInsLabel" translate>Customer Name </label>
          <div class="col-md-8">
            <label>{{CustObj.CustObj.CustName}}</label>
          </div>
        </div>

        <div class="form-group row ">
          <label class="col-md-4 adInsLabel" translate>ID Type </label>
          <div class="col-md-8">
            <label>{{DictRefMaster[RefMasterTypeCodeIdType][CustObj.CustObj.MrIdTypeCode]}}</label>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4 adInsLabel" translate>ID Number </label>
          <div class="col-md-8">
            <label>{{CustObj.CustObj.IdNo}}</label>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4 adInsLabel" translate>ID Expired Date</label>
          <div class="col-md-8">
            <label *ngIf="CustObj.CustObj.IdExpiredDt">{{CustObj.CustObj.IdExpiredDt | date: 'yyyy-MM-dd'}}</label>
            <label *ngIf="!CustObj.CustObj.IdExpiredDt">-</label>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4 adInsLabel" translate>Affiliation with Multifinance</label>
          <div class="col-md-8">
            <label *ngIf="CustObj.CustObj.IsAffiliateWithMf">Yes</label>
            <label *ngIf="!CustObj.CustObj.IsAffiliateWithMf">No</label>
          </div>
        </div>

        <div class="form-group row ">
          <label class="col-md-4 adInsLabel" translate>VIP</label>
          <div class="col-md-8">
            <label *ngIf="CustObj.CustObj.IsVip">Yes</label>
            <label *ngIf="!CustObj.CustObj.IsVip">No</label>
          </div>
        </div>
      </div>

      <div class="col-md-6">

        <div class="form-group row">
          <label class="col-md-4 adInsLabel" translate>Gender </label>
          <div class="col-md-8">
            <label>{{DictRefMaster[RefMasterTypeCodeGender][CustObj.CustPersonalObj.MrGenderCode]}}</label>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4 adInsLabel" translate>Birth Place</label>
          <div class="col-md-8">
            <label>{{CustObj.CustPersonalObj.BirthPlace}}</label>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4 adInsLabel" translate>Birth Date</label>
          <div class="col-md-8">
            <label>{{CustObj.CustPersonalObj.BirthDt | date: 'yyyy-MM-dd'}}</label>
          </div>
        </div>

        <div class="form-group row ">
          <label class="col-md-4 adInsLabel" translate>Tax Id No</label>
          <div class="col-md-8">
            <label *ngIf="CustObj.CustObj.TaxIdNo">{{CustObj.CustObj.TaxIdNo}}</label>
            <label *ngIf="!CustObj.CustObj.TaxIdNo"> - </label>
          </div>
        </div>

        <div class="form-group row ">
          <label class="col-md-4 adInsLabel" translate>VIP Notes</label>
          <div class="col-md-8">
            <label *ngIf="CustObj.CustObj.VipNotes">{{CustObj.CustObj.VipNotes}}</label>
            <label *ngIf="!CustObj.CustObj.VipNotes">-</label>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>