<div class="row text-left">
		<div class="col-md-12">
	        <div class="card">
	            <div class="card-header">
	                <h4 class="card-title" id="horz-layout-colored-controls">Supplier Add</h4>
	                </div>
                  <div class="card-body">
                      <div class="px-3">
                          <form class="form form-horizontal">
                            <div class="form-body">
                              <h4 class="form-section"><i class="ft-file-text"></i> Add/ Edit</h4>
                                <div class="form-group row">
                                  <label class="col-md-3 label-control" for="projectinput5">First Name: </label>
                                  <div class="col-md-9">
                                      <input type="text" id="projectinput5" class="form-control"  name="fname">
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label class="col-md-3 label-control" for="projectinput5">Last Name: </label>
                                  <div class="col-md-9">
                                      <input type="text" id="projectinput5" class="form-control"  name="lname">
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label class="col-md-3 label-control" for="projectinput6">Gender: </label>
                                  <div class="col-md-9">
                                      <select id="projectinput6" name="gender" class="form-control">
                                          <option value="male">Male</option>
                                          <option value="female">Female</option>
                                      </select>
                                  </div>
                                </div>
		                        		<div class="form-group row">
				                        	<label class="col-md-3 label-control" for="userinput5">Email: </label>
				                        	<div class="col-md-9">
												            <input class="form-control border-primary" type="email"  id="userinput5">
				                        	</div>
					                      </div>
                            </div>
                            <div class="form-actions right">
                                <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="['/supplier']" [queryParams]="{param:'asdf'}">
                                  <i class="ft-x"></i> Back
                                </button>
                                <button type="button" class="btn btn-raised btn-primary">
                                    <i class="fa fa-check-square-o"></i> Save
                                </button>
                            </div>
                          </form>
                      </div>
                  </div>
	        </div>
	    </div>
	</div>