<div class="row text-left">
  <div class="col-md-12">
    <div class="card">      
      <div class="card-body">
        <div class="px-3">
          <div class="card-header header-title">
            <div class="row">
              <div class="col-md-8">
                <h4 class="card-title" id="horz-layout-colored-controls" translate>VIEW ASLI RI PROFESSIONAL VERIFICATION</h4>
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="card-body">
            <lib-ucSubsection [id]="'CustData'" [title]="'CUSTOMER DATA'" [panel]="'dCustData'">
            </lib-ucSubsection>
            <div class="form-body" id="dCustData">
              <div class="form-group row">
                <label class="col-md-3" translate>Customer Name</label>
                <label class="col-md-3" translate>James Andrew / Valid</label>
                <label class="col-md-3" translate>NIK</label>                
                <label class="col-md-3" translate>321299230029291</label>

                <label class="col-md-3" translate>Birth Date</label>
                <label class="col-md-3" translate>16-10-1989 / Valid</label>
                <label class="col-md-3" translate>Birth Place</label>
                <label class="col-md-3" translate>Jakarta / Invalid</label>

                <label class="col-md-3" translate>Phone No</label>
                <label class="col-md-3" translate>628182983299</label>
                <label class="col-md-3" translate>Address</label>
                <label class="col-md-3" translate>Jl. KASALAN No.6 JL.K*S**R*N No.5</label>
                
                <label class="col-md-3" translate>Selfie Photo Validity</label>
                <label class="col-md-3" translate>82.5% Match</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>