/* You can add global styles to this file, and also import other style files */

.no-padding{
    padding-left:0px !important;
    padding-right:0px !important;
}

.form-actions{
    padding: 0px !important;
    margin-top: 10px !important;
    border-top: 0px !important;
}

.search-form-control{
    padding: 0.75rem !important;
    height: calc(1.5rem + 2px) !important;
    font-size: 12px !important;
}

.lookup-form-control{
    height: calc(1.5rem + 2px) !important;
    font-size: 12px !important;
}

.form-group{
    margin-bottom: 5px !important;
}

.form-section{
    line-height: 2rem !important;
    margin-bottom: 7px !important;
}

.card{
    margin: 3px !important;
    margin-top : -7px !important;
    padding-top: 5px !important;
}

.row-button-search{
    margin-top: -20px !important;
}

.navbar{
    padding: 5px 1.5rem !important;
}

form label{
    letter-spacing: 1px !important;
}

.btn-lookup{
    padding: 3px 0.75rem !important;
}

.table-header{
    font-size: 12px !important;
    font-family: "Montserrat";
}

.table{
    background-color: white;
}

.navigation li > a {
    margin: 0px !important;
}