<div class="col-md-12">
  <div class="card">
    <div class="card-header header-title">
      <div class="row">
        <div class="col-md-12">
          <h4 class="card-title" id="horz-layout-colored-controls" translate> EMPLOYEE {{pageType}} </h4>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="px-3">
        <form class="form form-horizontal" [formGroup]="RefEmpForm" #enjiForm="ngForm"
          (ngSubmit)="enjiForm.form.valid && SaveForm(enjiForm)">
          <lib-ucSubsection [id]="'UserPanelId'" [title]="'User - Detail'" [panel]="'UserPanel'"></lib-ucSubsection>
          <div class="form-body" id="UserPanel">
            <div class="form-group row adins-required">
              <label class="col-md-3  adInsLabel" for="Username">Username</label>
              <div class="col-md-9">
                <input type="text" class="form-control adInsInput width-50-per" formControlName="Username" required
                  [attr.disabled]="pageType == 'edit' ? true : null" [ngClass]="{ 'is-invalid': enjiForm.submitted && RefEmpForm.controls.Username.invalid }">
                <show-errors [control]="RefEmpForm.controls.Username" [submit]="enjiForm.submitted"></show-errors>
              </div>
            </div>
            <div class="form-group row" *ngIf="pageType == 'edit'">
              <label class="col-md-3  adInsLabel" for="IsLockedOut">Locked</label>
              <div class="col-md-9">
                <input class="border-primary" type="checkbox" data-md-icheck formControlName="IsLockedOut" />
              </div>
            </div>
          </div>
          <lib-ucSubsection [id]="'EmployeePanelId'" [title]="'Employee - Detail'" [panel]="'EmployeePanel'"></lib-ucSubsection>
          <div class="form-body" id="EmployeePanel">
            <div class="form-group row adins-required">
              <label class="col-md-3  adInsLabel" for="EmpNo">Employee No </label>
              <div class="col-md-9">
                <input type="text" class="form-control adInsInput width-75-per" formControlName="EmpNo" required
                  [attr.disabled]="pageType == 'edit' ? true : null" [ngClass]="{ 'is-invalid': enjiForm.submitted && RefEmpForm.controls.EmpNo.invalid }">
                <show-errors [control]="RefEmpForm.controls.EmpNo" [submit]="enjiForm.submitted"></show-errors>
              </div>
            </div>
            <div class="form-group row adins-required">
              <label class="col-md-3  adInsLabel" for="EmpName">Employee Name </label>
              <div class="col-md-9">
                <input type="text" class="form-control adInsInput width-75-per" formControlName="EmpName" required 
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && RefEmpForm.controls.EmpName.invalid }">
                <show-errors [control]="RefEmpForm.controls.EmpName" [submit]="enjiForm.submitted"></show-errors>
              </div>
            </div>
            <div class="form-group row adins-required">
              <label class="col-md-3  adInsLabel" for="JoinDt">Join Date </label>
              <div class="col-md-9">
                <input type="date" id="joinDt" max="{{businessDt | date: 'yyyy-MM-dd'}}" class="form-control adInsInput width-25-per" formControlName="JoinDt" required
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && RefEmpForm.controls.JoinDt.invalid }">
                <show-errors [control]="RefEmpForm.controls.JoinDt" [submit]="enjiForm.submitted"></show-errors>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 adins-required-label" translate>ID Type </label>
              <div class="col-md-9">
                <select class="form-control" style="width: auto" formControlName="MrIdTypeCode"
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && RefEmpForm.controls.MrIdTypeCode.invalid }">
                  <option *ngFor="let vp of IdTypeList" [value]="vp.Key">
                    {{vp.Value}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group row adins-required">
              <label class="col-md-3  adInsLabel" for="IdNo">ID No</label>
              <div class="col-md-9">
                <input type="pattern" class="form-control adInsInput width-75-per" formControlName="IdNo" required 
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && RefEmpForm.controls.IdNo.invalid }">
                <show-errors [control]="RefEmpForm.controls.IdNo" [submit]="enjiForm.submitted"></show-errors>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3  adInsLabel" for="NpwpNo">NPWP No</label>
              <div class="col-md-9">
                <input type="text" class="form-control adInsInput width-75-per" formControlName="TaxIdNo"/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3  adInsLabel" for="IsExt">External Employee</label>
              <div class="col-md-9">
                <input class="border-primary" type="checkbox" data-md-icheck formControlName="IsExt">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3  adInsLabel" for="IsActive">Active Status</label>
              <div class="col-md-9">
                <input class="border-primary" type="checkbox" data-md-icheck formControlName="IsActive">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3  adInsLabel" for="IsLeave">Leave Status</label>
              <div class="col-md-9">
                <input class="border-primary" type="checkbox" data-md-icheck formControlName="IsLeave">
              </div>
            </div>
          </div>
          <lib-ucSubsection [id]="'AddressPanelId'" [title]="'Address'" [panel]="'AddressPanel'"></lib-ucSubsection>
          <div class="form-body" id="AddressPanel">
            <div class="form-group row adins-required">
              <label class="col-md-3 adInsLabel" for="Address">Address</label>
              <div class="col-md-9">
                <textarea class="form-control adInsInput width-75-per" formControlName="Addr" required 
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && RefEmpForm.controls.Addr.invalid }"></textarea>
                <show-errors [control]="RefEmpForm.controls.Addr" [submit]="enjiForm.submitted"></show-errors>
              </div>
            </div>
            <div class="form-group row adins-required">
              <label class="col-md-3 adInsLabel" for="RT/RW">RT/RW</label>
              <div class="col-md-2">
                <input type="text" class="form-control adInsInput" formControlName="AreaCode4" required 
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && RefEmpForm.controls.AreaCode4.invalid }" />
                <show-errors [control]="RefEmpForm.controls.AreaCode4" [submit]="enjiForm.submitted"></show-errors>
              </div>
              <div class="d-flex justify-content-center align-items-center" style="font-size:25px; font-weight: 100; margin: 0">
                /
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control adInsInput" formControlName="AreaCode3" required 
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && RefEmpForm.controls.AreaCode3.invalid }" />
                <show-errors [control]="RefEmpForm.controls.AreaCode3" [submit]="enjiForm.submitted"></show-errors>
              </div>
            </div>
            <div class="form-group row adins-required">
              <label class="col-md-3 adInsLabel" for="Zipcode">Zipcode</label>
              <div class="col-md-9">
                <div class="width-75-per">
                <lib-uclookupgeneric [lookupInput]="inputLookupZipCodeObj" [parentForm]='RefEmpForm' [enjiForm]='enjiForm' [identifier]="'ZipcodeLookup'"
                    (lookup)="getLookupZipCodeResponse($event)"></lib-uclookupgeneric>
                </div>
              </div>
            </div>
            <div class="form-group row adins-required">
              <label class="col-md-3 adInsLabel" for="Kelurahan">Kelurahan</label>
              <div class="col-md-9">
                <input class="form-control adInsInput width-75-per" formControlName="AreaCode2" required 
                  [attr.disabled]=true [ngClass]="{ 'is-invalid': enjiForm.submitted && RefEmpForm.controls.AreaCode2.invalid }" />
                <show-errors [control]="RefEmpForm.controls.AreaCode2" [submit]="enjiForm.submitted"></show-errors>
              </div>
            </div>
            <div class="form-group row adins-required">
              <label class="col-md-3 adInsLabel" for="Kecamatan">Kecamatan</label>
              <div class="col-md-9">
                <input class="form-control adInsInput width-75-per" formControlName="AreaCode1" required 
                  [attr.disabled]=true [ngClass]="{ 'is-invalid': enjiForm.submitted && RefEmpForm.controls.AreaCode1.invalid }" />
                <show-errors [control]="RefEmpForm.controls.AreaCode1" [submit]="enjiForm.submitted"></show-errors>
              </div>
            </div>
            <div class="form-group row adins-required">
              <label class="col-md-3 adInsLabel" for="City">City</label>
              <div class="col-md-9">
                <input class="form-control adInsInput width-75-per" formControlName="City" required 
                  [attr.disabled]=true [ngClass]="{ 'is-invalid': enjiForm.submitted && RefEmpForm.controls.City.invalid }" />
                <show-errors [control]="RefEmpForm.controls.City" [submit]="enjiForm.submitted"></show-errors>
              </div>
            </div>
          </div>
          <lib-ucSubsection [id]="'ContactInformationPanelId'" [title]="'Contact Information'" [panel]="'ContactInformationPanel'"></lib-ucSubsection>
          <div class="form-body" id="ContactInformationPanel">
            <div class="form-group row adins-required">
              <label class="col-md-3 adInsLabel" for="Phone1Area">Phone 1</label>
              <div class="col-md-2">
                <input class="form-control adInsInput" formControlName="PhnArea1" required 
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && RefEmpForm.controls.PhnArea1.invalid }" />
                <show-errors [control]="RefEmpForm.controls.PhnArea1" [submit]="enjiForm.submitted"></show-errors>
              </div>
              <div class="d-flex justify-content-center align-items-center" style="font-size:25px; font-weight: 100; margin: 0">
                -
              </div>
              <div class="col-md-2">
                <input class="form-control adInsInput" formControlName="Phn1" required 
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && RefEmpForm.controls.Phn1.invalid }" />
                <show-errors [control]="RefEmpForm.controls.Phn1" [submit]="enjiForm.submitted"></show-errors>
              </div>
              <div class="d-flex justify-content-center align-items-center" style="font-size:25px; font-weight: 100; margin: 0">
                /
              </div> 
              <div class="col-md-2">
                <input class="form-control adInsInput" formControlName="PhnExt1" required 
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && RefEmpForm.controls.PhnExt1.invalid }" />
                <show-errors [control]="RefEmpForm.controls.PhnExt1" [submit]="enjiForm.submitted"></show-errors>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 adInsLabel" for="Phone2">Phone 2</label>
              <div class="col-md-2">
                <input class="form-control adInsInput" formControlName="PhnArea2" required />
              </div>
              <div class="d-flex justify-content-center align-items-center" style="font-size:25px; font-weight: 100; margin: 0">
                -
              </div>
              <div class="col-md-2">
                <input class="form-control adInsInput" formControlName="Phn2" required />
              </div>
              <div class="d-flex justify-content-center align-items-center" style="font-size:25px; font-weight: 100; margin: 0">
                /
              </div>
              <div class="col-md-2">
                <input class="form-control adInsInput" formControlName="PhnExt2" required />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 adInsLabel" for="Phone3">Phone 3</label>
              <div class="col-md-2">
                <input class="form-control adInsInput" formControlName="PhnArea3" required />
              </div>
              <div class="d-flex justify-content-center align-items-center" style="font-size:25px; font-weight: 100; margin: 0">
                -
              </div>
              <div class="col-md-2">
                <input class="form-control adInsInput" formControlName="Phn3" required />
              </div>
              <div class="d-flex justify-content-center align-items-center" style="font-size:25px; font-weight: 100; margin: 0">
                /
              </div>
              <div class="col-md-2">
                <input class="form-control adInsInput" formControlName="PhnExt3" required />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 adInsLabel" for="Fax">Fax</label>
              <div class="col-md-2">
                <input class="form-control adInsInput" formControlName="FaxArea" required />
              </div>
              <div class="d-flex justify-content-center align-items-center" style="font-size:25px; font-weight: 100; margin: 0">
                -
              </div>
              <div class="col-md-2">
                <input class="form-control adInsInput" formControlName="Fax" required />
              </div>
            </div>
            <div class="form-group row adins-required">
              <label class="col-md-3 adInsLabel" for="MobilePhone1">Mobile Phone 1</label>
              <div class="col-md-9">
                <input class="form-control adInsInput width-75-per" formControlName="MobilePhnNo1" required 
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && RefEmpForm.controls.MobilePhnNo1.invalid }" />
                <show-errors [control]="RefEmpForm.controls.MobilePhnNo1" [submit]="enjiForm.submitted"></show-errors>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 adInsLabel" for="MobilePhone2">Mobile Phone 2</label>
              <div class="col-md-9">
                <input class="form-control adInsInput width-75-per" formControlName="MobilePhnNo2" required />
              </div>
            </div>
            <div class="form-group row adins-required">
              <label class="col-md-3 adInsLabel" for="Email1">Email 1</label>
              <div class="col-md-9">
                <input class="form-control adInsInput width-75-per" formControlName="Email1" required 
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && RefEmpForm.controls.Email1.invalid }" />
                <show-errors [control]="RefEmpForm.controls.Email1" [submit]="enjiForm.submitted"></show-errors>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 adInsLabel" for="Email2">Email 2</label>
              <div class="col-md-9">
                <input class="form-control adInsInput width-75-per" formControlName="Email2" required />
              </div>
            </div>
          </div>
          <lib-ucSubsection [id]="'BankPanelId'" [title]="'Bank Information'" [panel]="'BankPanel'"></lib-ucSubsection>
          <div class="form-body" id="BankPanel">
            <div class="form-group row adins-required">
              <label class="col-md-3  adInsLabel" for="BankName" translate>Bank Name </label>
              <div class="col-md-9">
                <div class="width-75-per">
                  <lib-uclookupgeneric [lookupInput]="inputLookupBankObj" [parentForm]='RefEmpForm' [enjiForm]='enjiForm' [identifier]="'BankName'"
                    (lookup)="getLookupBankResponse($event)"></lib-uclookupgeneric>
                </div>
              </div>
            </div>
            <div class="form-group row adins-required">
              <label class="col-md-3  adInsLabel" for="BankBranch">Bank Branch </label>
              <div class="col-md-9">
                <input type="text" class="form-control adInsInput width-75-per" formControlName="BankBranch" required
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && RefEmpForm.controls.BankBranch.invalid }">
                <show-errors [control]="RefEmpForm.controls.BankBranch" [submit]="enjiForm.submitted"></show-errors>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3  adInsLabel" for="BankBranchRegCode">Bank BI Code</label>
              <div class="col-md-9">
                <input type="text" class="form-control adInsInput width-75-per" formControlName="BankBranchRegCode" />
              </div>
            </div>
            <div class="form-group row adins-required">
              <label class="col-md-3  adInsLabel" for="BankAccName">Account Name</label>
              <div class="col-md-9">
                <input type="text" id="bankAccName" class="form-control adInsInput width-75-per" formControlName="BankAccName" required
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && RefEmpForm.controls.BankAccName.invalid }" />
                <show-errors [control]="RefEmpForm.controls.BankAccName" [submit]="enjiForm.submitted"></show-errors>
              </div>
            </div>
            <div class="form-group row adins-required">
              <label class="col-md-3  adInsLabel" for="BankAccNo">Account No</label>
              <div class="col-md-9">
                <input type="text" id="bankAccNo" class="form-control adInsInput width-75-per" formControlName="BankAccNo" required
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && RefEmpForm.controls.BankAccNo.invalid }" />
                <show-errors [control]="RefEmpForm.controls.BankAccNo" [submit]="enjiForm.submitted"></show-errors>
              </div>
            </div>
          </div>
          <div class="form-actions right">
            <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="['/Employee/Paging']" translate>
              <i class="ft-arrow-left"></i> Cancel
            </button>
            <button type="submit" class="btn btn-raised btn-primary" (click)="SaveForm()">
              <i class="fa fa-check-square-o"></i> Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>