<section id="horizontal-form-layouts">
    <div class="row text-left">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="px-3">
                <form class="form form-horizontal" name="OrgModelForm" #OrgModelForm="ngForm" novalidate
                (ngSubmit)="OrgModelForm.form.valid && Save(OrgModelForm)" >
                <div class="form-body">
                  <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Organization Model Information</h4>
                  <br />

                  <div class="form-group row">
                    <label class="col-md-3  adInsLabel">Organization Level</label>
                    <div class="col-md-9">
                      <label>{{orgObj.orgName}}</label></div>
                  </div>

                  <div class="form-group row">
                      <label class="col-md-3  adInsLabel" for="modelCode">Model Code</label>
                      <div class="col-md-9">
                        <input type="text" class="form-control adInsInput" name="modelCode" required [(ngModel)]="modelCode"
                          #ModelCode="ngModel" [ngClass]="{ 'is-invalid': OrgModelForm.submitted && ModelCode.invalid }"
                          [attr.disabled]="type == 'edit' ? true : null">
                        <div *ngIf="OrgModelForm.submitted && ModelCode.invalid" class="invalid-feedback">
                          <div *ngIf="ModelCode.errors.required" class="adInsReqMsg" translate>This field is required</div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-3  adInsLabel" for="modelName">Model Name</label>
                      <div class="col-md-9">
                        <input type="text" class="form-control adInsInput" name="modelName" required [(ngModel)]="modelName"
                          #ModelName="ngModel" [ngClass]="{ 'is-invalid': OrgModelForm.submitted && ModelName.invalid }">
                        <div *ngIf="OrgModelForm.submitted && ModelName.invalid" class="invalid-feedback">
                          <div *ngIf="ModelName.errors.required" class="adInsReqMsg" translate>This field is required</div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-3  adInsLabel" for="isActive">Active Status</label>
                      <div class="custom-control custom-checkbox m-0">
                        <input type="checkbox" value="1" id="isActive" name="isActive" [(ngModel)]="isActive"
                          [checked]="isActive">
                      </div>
                    </div>
                    <div class="form-actions">

                        <button type="button" (click)="Back()" class="btn btn-raised btn-warning mr-1">
                          <i class="fa fa-arrow-left"></i> Back
                        </button>
                        <button type="submit" class="btn btn-raised btn-primary">
                          <i class="far fa-check-square"></i> Save
                        </button>
                      </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
