<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="px-3">
        <form class="form form-horizontal" name="UserAddEditForm" #UserAddEditForm="ngForm" novalidate
          (ngSubmit)="UserAddEditForm.form.valid && Save(UserAddEditForm, lookupEmp)">
          <div class="form-body">
            <h4 class="form-section card-title" translate><i class="ft-file-text"></i> User Information </h4>
            <br>
            <div class="form-group row adins-required">
              <label class="col-md-3  adInsLabel" for="EmpName">Employee Name</label>
              <div class="col-md-7">

                <lib-lookupemployee #lookupEmp [lookupInput]="inputLookupObj"> </lib-lookupemployee>

                <!--<input type="text" class="form-control adInsInput" name="EmployeeName" required [(ngModel)]="EmployeeName"
                    #employeeName="ngModel" [ngClass]="{ 'is-invalid': UserAddEditForm.submitted && username.invalid }">
                  <div *ngIf="UserAddEditForm.submitted && employeeName.invalid" class="invalid-feedback">
                    <div *ngIf="employeeName.errors.required" class="adInsReqMsg" translate>This field is required</div>
                  </div>-->
              </div>
            </div>

            <div class="form-group row adins-required">
              <label class="col-md-3  adInsLabel" for="Username">Username</label>
              <div class="col-md-9">
                <input type="text" class="form-control adInsInput width-50-per" name="Username" required [(ngModel)]="Username"
                  #username="ngModel" [ngClass]="{ 'is-invalid': UserAddEditForm.submitted && username.invalid }"
                  [attr.disabled]="type === 'edit' ||  type === 'changePassword' ? true : null">
                <div *ngIf="UserAddEditForm.submitted && username.invalid" class="invalid-feedback">
                  <div *ngIf="username.errors.required" class="adInsReqMsg" translate>This field is required</div>
                </div>
              </div>
            </div>

            <div class="oldPass" *ngIf=" type !== 'edit' ">
              <div class="form-group row adins-required">
                <label class="col-md-3  adInsLabel" for="Password">Password</label>
                <div class="col-md-9">
                  <input type="password" class="form-control adInsInput width-75-per" name="Password" required [(ngModel)]="Password"
                    #password="ngModel" [ngClass]="{ 'is-invalid': UserAddEditForm.submitted && password.invalid }">
                  <div *ngIf="UserAddEditForm.submitted && password.invalid" class="invalid-feedback">
                    <div *ngIf="password.errors.required" class="adInsReqMsg" translate>This field is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="rePass" *ngIf=" type !== 'edit' && type !== 'changePassword'">
              <div class="form-group row adins-required">
                <label class="col-md-3  adInsLabel" for="RePassword">Re-Password</label>
                <div class="col-md-9">
                  <input type="password" class="form-control adInsInput width-75-per" name="RePassword" required
                    [(ngModel)]="RePassword" #rePassword="ngModel"
                    [ngClass]="{ 'is-invalid': UserAddEditForm.submitted && rePassword.invalid }">
                  <div *ngIf="UserAddEditForm.submitted && rePassword.invalid" class="invalid-feedback">
                    <div *ngIf="rePassword.errors.required" class="adInsReqMsg" translate>This field is required</div>
                  </div>
                </div>
              </div>
            </div>


            <div class="stat" *ngIf=" type !== 'changePassword' ">
              <div class="form-group row adins-required">
                <label class="col-md-3  adInsLabel" for="loggedInMethod">Logged In Method </label>
                <div class="col-md-9">
                  <select class="form-control adInsInput" name="loggedInMethod" #LoggedInMethod
                    [(ngModel)]="loggedInMethod">
                    <option value="DB">Database</option>
                    <option value="LDAP">Active Directory</option>
                    <option value="INT">Interface</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="stat" *ngIf=" type !== 'changePassword' ">
              <div class="form-group row adins-required">
                <label class="col-md-3  adInsLabel" for="IsActive">Active Status</label>
                <div class="custom-control custom-checkbox m-0">
                  <input type="checkbox" value="1" id="IsActive" name="IsActive" [(ngModel)]="IsActive"
                    [checked]="IsActive">
                </div>
              </div>
            </div>
          </div>
          <div class="form-actions">

            <button *ngIf=" type === 'edit' || type === 'changePassword'" type="button" (click)="Back()"
              class="btn btn-raised btn-warning mr-1">
              <i class="fa fa-arrow-circle-left"></i> Back
            </button>
            <button type="submit" class="btn btn-raised btn-primary">
              <i class="fa fa-check-square-o"></i> Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>