<div class="col-sm-12">
  <h1 class="text-uppercase">User Maintenance - {{type}}</h1>
</div>
<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="px-3">
        <form class="form form-horizontal" name="UserAddEditForm" #UserAddEditForm="ngForm" novalidate
          (ngSubmit)="UserAddEditForm.form.valid && Save(UserAddEditForm, lookupEmp)">
          <div class="form-body">
            <h4 class="form-section"><i class="ft-user"></i> User Maintenance - {{type}} </h4>
            <br>
            <div class="form-group row">
              <label class="col-md-3 label-control" for="EmpName">Employee Name</label>
              <div class="col-md-9">

                <app-lookup-emp #lookupEmp [nameSelect] = "nameSelect" [idSelect]="idSelect" [jsonSelect]="jsonSelect"> </app-lookup-emp>

                <!--<input type="text" class="form-control" name="EmployeeName" required [(ngModel)]="EmployeeName"
                    #employeeName="ngModel" [ngClass]="{ 'is-invalid': UserAddEditForm.submitted && username.invalid }">
                  <div *ngIf="UserAddEditForm.submitted && employeeName.invalid" class="invalid-feedback">
                    <div *ngIf="employeeName.errors.required">Employee Name is required</div>
                  </div>-->
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 label-control" for="Username">Username</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="Username" required [(ngModel)]="Username"
                  #username="ngModel" [ngClass]="{ 'is-invalid': UserAddEditForm.submitted && username.invalid }"
                  [attr.disabled]="type === 'edit' ||  type === 'changePassword' ? true : null">
                <div *ngIf="UserAddEditForm.submitted && username.invalid" class="invalid-feedback">
                  <div *ngIf="username.errors.required">Username is required</div>
                </div>
              </div>
            </div>

            <div class="oldPass" *ngIf=" type !== 'edit' ">
              <div class="form-group row">
                <label class="col-md-3 label-control" for="Password">Password</label>
                <div class="col-md-9">
                  <input type="password" class="form-control" name="Password" required [(ngModel)]="Password"
                    #password="ngModel" [ngClass]="{ 'is-invalid': UserAddEditForm.submitted && username.invalid }">
                  <div *ngIf="UserAddEditForm.submitted && password.invalid" class="invalid-feedback">
                    <div *ngIf="password.errors.required">Password is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="rePass" *ngIf=" type !== 'edit' && type !== 'changePassword'">
              <div class="form-group row">
                <label class="col-md-3 label-control" for="RePassword">Re-Password</label>
                <div class="col-md-9">
                  <input type="password" class="form-control" name="RePassword" required [(ngModel)]="RePassword"
                    #rePassword="ngModel" [ngClass]="{ 'is-invalid': UserAddEditForm.submitted && rePassword.invalid }">
                  <div *ngIf="UserAddEditForm.submitted && rePassword.invalid" class="invalid-feedback">
                    <div *ngIf="rePassword.errors.required">Re-Password is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="newPass" *ngIf="  type === 'changePassword'">
                <div class="form-group row">
                    <label class="col-md-3 label-control" for="NewPassword">New Password</label>
                    <div class="col-md-9">
                      <input type="password" class="form-control" name="NewPassword" required [(ngModel)]="NewPassword"
                        #newPassword="ngModel" [ngClass]="{ 'is-invalid': UserAddEditForm.submitted && newPassword.invalid }">
                      <div *ngIf="UserAddEditForm.submitted && newPassword.invalid" class="invalid-feedback">
                        <div *ngIf="newPassword.errors.required">New Password is required</div>
                      </div>
                    </div>
                  </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="NewRePassword">New Re-Password</label>
                <div class="col-md-9">
                  <input type="password" class="form-control" name="NewRePassword" required [(ngModel)]="NewRePassword"
                    #newRePassword="ngModel" [ngClass]="{ 'is-invalid': UserAddEditForm.submitted && newRePassword.invalid }">
                  <div *ngIf="UserAddEditForm.submitted && newRePassword.invalid" class="invalid-feedback">
                    <div *ngIf="newRePassword.errors.required">Re-Password is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="stat" *ngIf=" type !== 'changePassword' ">
            <div class="form-group row">
              <label class="col-md-3 label-control" for="IsActive">Active Status</label>
              <div class="custom-control custom-checkbox m-0">
                <input type="checkbox" value="1" id="IsActive" name="IsActive" [(ngModel)]="IsActive"
                  [checked]="IsActive">
              </div>
            </div>
            </div>

          </div>
          <div class="form-actions">

            <button *ngIf=" type === 'edit' || type === 'changePassword'" type="button" (click)="Back()" class="btn btn-raised btn-warning mr-1">
              <i class="ft-x"></i> Back
            </button>
            <button type="submit" class="btn btn-raised btn-primary">
              <i class="fa fa-check-square-o"></i> Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
