<lib-ucviewgeneric [viewInput]="viewCustJobDataEmp"></lib-ucviewgeneric>
<lib-ucviewgeneric [viewInput]="viewCustMainDataMainInfo"></lib-ucviewgeneric>
<lib-ucSubsection [id]="'ja'" [title]="'Job Address Info'" [panel]="'JobAddrInfoId'">
</lib-ucSubsection>
<div id="JobAddrInfoId"></div>
<lib-ucviewgeneric [viewInput]="viewCustJobDataEmpOthBiz"></lib-ucviewgeneric>
<lib-ucviewgeneric [viewInput]="viewCustJobDataOthBizAdress"></lib-ucviewgeneric>
<lib-ucSubsection [id]="'AssetType'" [title]="'Other Business Address Info'" [panel]="'OthBizAddrInfoId'"></lib-ucSubsection>
<div id="OthBizAddrInfoId"></div>