<div class="col-md-12">
  <div class="card">
    <div class="card-header header-title">
      <div class="row">
        <div class="col-md-8">
          <h4 class="card-title" id="horz-layout-colored-controls" translate> {{pageType}} EMPLOYEE </h4>
        </div>
        <div class="col-md-4" style="text-align-last: right">
          <button type="button" class="backButton" [routerLink]="['/employee/paging']" translate>
            <i class="ft-arrow-left"></i> Back
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="px-3">
        <form class="form form-horizontal" [formGroup]="RefEmpForm" (ngSubmit)="RefEmpForm.valid && SaveForm()"
          #enjiForm="ngForm">
          <div class="form-body">
            <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Employee Information</h4>
            <div class="form-group row adins-required">
              <label class="col-md-3 adInsLabel">Employee No </label>
              <div class="col-md-9">
                <input type="text" class="form-control adInsInput width-25-per" formControlName="EmpNo"
                  [ngClass]="{ 'is-invalid':(enjiForm.submitted || RefEmpForm.controls.EmpNo.touched || RefEmpForm.controls.EmpNo.dirty) && !RefEmpForm.controls.EmpNo.valid }">
                <show-errors [control]="RefEmpForm.controls.EmpNo" [submit]="enjiForm.submitted"></show-errors>
              </div>
            </div>
            <div class="form-group row adins-required">
              <label class="col-md-3 adInsLabel">Employee Name </label>
              <div class="col-md-9">
                <input type="text" class="form-control adInsInput width-75-per" formControlName="EmpName"
                  [ngClass]="{ 'is-invalid':(enjiForm.submitted || RefEmpForm.controls.EmpName.touched || RefEmpForm.controls.EmpName.dirty) && !RefEmpForm.controls.EmpName.valid }">
                <show-errors [control]="RefEmpForm.controls.EmpName" [submit]="enjiForm.submitted"></show-errors>
              </div>
            </div>
            <div class="form-group row adins-required">
              <label class="col-md-3 adInsLabel">Join Date </label>
              <div class="col-md-9">
                <input type="date" class="form-control adInsInput width-50-per" formControlName="JoinDt"
                  [ngClass]="{ 'is-invalid':(enjiForm.submitted || RefEmpForm.controls.JoinDt.touched || RefEmpForm.controls.JoinDt.dirty) && !RefEmpForm.controls.JoinDt.valid }">
                <show-errors [control]="RefEmpForm.controls.JoinDt" [submit]="enjiForm.submitted"></show-errors>
              </div>
            </div>
            <div class="form-group row adins-required">
              <label class="col-md-3 adInsLabel">External Employee </label>
              <div class="col-md-9">
                <input type="checkbox" class="border-primary" formControlName="IsExt">
              </div>
            </div>
            <div class="form-group row adins-required">
              <label class="col-md-3 adInsLabel">Active Status </label>
              <div class="col-md-9">
                <input type="checkbox" class="border-primary" formControlName="IsActive">
              </div>
            </div>
            <!-- <div class="form-group row">
              <label class="col-md-3 adInsLabel">KTP No </label>
              <div class="col-md-9">
                <input type="text" class="form-control adInsInput width-25-per" formControlName="IdNo"
                  [ngClass]="{ 'is-invalid':(enjiForm.submitted || RefEmpForm.controls.IdNo.touched || RefEmpForm.controls.IdNo.dirty) && !RefEmpForm.controls.IdNo.valid }">
                <show-errors [control]="RefEmpForm.controls.IdNo" [submit]="enjiForm.submitted"></show-errors>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 adInsLabel">NPWP </label>
              <div class="col-md-9">
                <input type="text" class="form-control adInsInput width-25-per" formControlName="Npwp"
                  [ngClass]="{ 'is-invalid':(enjiForm.submitted || RefEmpForm.controls.Npwp.touched || RefEmpForm.controls.Npwp.dirty) && !RefEmpForm.controls.Npwp.valid }">
                <show-errors [control]="RefEmpForm.controls.Npwp" [submit]="enjiForm.submitted"></show-errors>
              </div>
            </div> -->
          </div>

          <!-- ucAddressGroup -->
          <div class="form-body">
            <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Address Information</h4>
            <div class="form-group row">
              <label class="col-md-3 adInsLabel" translate>Address </label>
              <div class="col-md-9">
                <textarea rows="5" class="form-control adInsInput" formControlName="Addr"
                  [ngClass]="{ 'is-invalid':(enjiForm.submitted || RefEmpForm.controls.PhnArea2.touched || RefEmpForm.controls.PhnArea2.dirty) && !RefEmpForm.controls.Addr.valid }"></textarea>
                <show-errors [control]="RefEmpForm.controls.Addr" [submit]="enjiForm.submitted"></show-errors>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 adInsLabel" translate>Rt / Rw </label>
              <div class="col-md-9">
                <div class="form-group row">
                  <div class="col-md-2" style="border-right: 1px solid grey">
                    <input type="text" class="form-control adInsInput" formControlName="AreaCode4"
                      [ngClass]="{ 'is-invalid':(enjiForm.submitted || RefEmpForm.controls.AreaCode4.touched || RefEmpForm.controls.AreaCode4.dirty) && !RefEmpForm.controls.AreaCode4.valid }">
                    <show-errors [control]="RefEmpForm.controls.AreaCode4" [submit]="enjiForm.submitted"></show-errors>
                  </div>
                  <div class="col-md-2">
                    <input type="text" class="form-control adInsInput" formControlName="AreaCode3"
                      [ngClass]="{ 'is-invalid':(enjiForm.submitted || RefEmpForm.controls.AreaCode3.touched || RefEmpForm.controls.AreaCode3.dirty) && !RefEmpForm.controls.AreaCode3.valid }">
                    <show-errors [control]="RefEmpForm.controls.AreaCode3" [submit]="enjiForm.submitted"></show-errors>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 adInsLabel" translate>Zipcode </label>
              <div class="col-md-3">
                <!-- <app-lookupgeneric [lookupInput]="inputLookupObj" [parentForm]='parentForm' [identifier]="identifier"
                  (lookup)="getLookup($event)"></app-lookupgeneric> -->
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 adInsLabel" translate>Kelurahan </label>
              <div class="col-md-9">
                <input type="text" class="form-control adInsInput" formControlName="AreaCode2" readonly
                  [ngClass]="{ 'is-invalid':(enjiForm.submitted || RefEmpForm.controls.AreaCode2.touched || RefEmpForm.controls.AreaCode2.dirty) && !RefEmpForm.controls.AreaCode2.valid }">
                <show-errors [control]="RefEmpForm.controls.AreaCode2" [submit]="enjiForm.submitted"></show-errors>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 adInsLabel" translate>Kecamatan </label>
              <div class="col-md-9">
                <input type="text" class="form-control adInsInput" formControlName="AreaCode1" readonly
                  [ngClass]="{ 'is-invalid':(enjiForm.submitted || RefEmpForm.controls.AreaCode1.touched || RefEmpForm.controls.AreaCode1.dirty) && !RefEmpForm.controls.AreaCode1.valid }">
                <show-errors [control]="RefEmpForm.controls.AreaCode1" [submit]="enjiForm.submitted"></show-errors>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 adInsLabel" translate>City </label>
              <div class="col-md-9">
                <input type="text" class="form-control adInsInput" formControlName="City" readonly
                  [ngClass]="{ 'is-invalid':(enjiForm.submitted || RefEmpForm.controls.City.touched || RefEmpForm.controls.City.dirty) && !RefEmpForm.controls.City.valid }">
                <show-errors [control]="RefEmpForm.controls.City" [submit]="enjiForm.submitted"></show-errors>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 adInsLabel" translate>Phone(Fix Line) 1 </label>
              <div class="col-md-9">
                <div class="form-group row">
                  <div class="col-md-2" style="border-right: 1px solid grey">
                    <input type="text" class="form-control adInsInput" formControlName="PhnArea1"
                      [ngClass]="{ 'is-invalid':(enjiForm.submitted || RefEmpForm.controls.PhnArea1.touched || RefEmpForm.controls.PhnArea1.dirty) && !RefEmpForm.controls.PhnArea1.valid }">
                    <show-errors [control]="RefEmpForm.controls.PhnArea1" [submit]="enjiForm.submitted"></show-errors>
                  </div>
                  <div class="col-md-4" style="border-right: 1px solid grey">
                    <input type="text" class="form-control adInsInput" formControlName="Phn1"
                      [ngClass]="{ 'is-invalid':(enjiForm.submitted || RefEmpForm.controls.Phn1.touched || RefEmpForm.controls.Phn1.dirty) && !RefEmpForm.controls.Phn1.valid }">
                    <show-errors [control]="RefEmpForm.controls.Phn1" [submit]="enjiForm.submitted"></show-errors>
                  </div>
                  <div class="col-md-2">
                    <input type="text" class="form-control adInsInput" formControlName="PhnExt1"
                      [ngClass]="{ 'is-invalid':(enjiForm.submitted || RefEmpForm.controls.PhnExt1.touched || RefEmpForm.controls.PhnExt1.dirty) && !RefEmpForm.controls.PhnExt1.valid }">
                    <show-errors [control]="RefEmpForm.controls.PhnExt1" [submit]="enjiForm.submitted"></show-errors>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 adInsLabel" translate>Phone(Fix Line) 2 </label>
              <div class="col-md-9">
                <div class="form-group row">
                  <div class="col-md-2" style="border-right: 1px solid grey">
                    <input type="text" class="form-control adInsInput" formControlName="PhnArea2"
                      [ngClass]="{ 'is-invalid':(enjiForm.submitted || RefEmpForm.controls.PhnArea2.touched || RefEmpForm.controls.PhnArea2.dirty) && !RefEmpForm.controls.PhnArea2.valid }">
                    <show-errors [control]="RefEmpForm.controls.PhnArea2" [submit]="enjiForm.submitted"></show-errors>
                  </div>
                  <div class="col-md-4" style="border-right: 1px solid grey">
                    <input type="text" class="form-control adInsInput" formControlName="Phn2"
                      [ngClass]="{ 'is-invalid':(enjiForm.submitted || RefEmpForm.controls.Phn2.touched || RefEmpForm.controls.Phn2.dirty) && !RefEmpForm.controls.Phn2.valid }">
                    <show-errors [control]="RefEmpForm.controls.Phn2" [submit]="enjiForm.submitted"></show-errors>
                  </div>
                  <div class="col-md-2">
                    <input type="text" class="form-control adInsInput" formControlName="PhnExt2"
                      [ngClass]="{ 'is-invalid':(enjiForm.submitted || RefEmpForm.controls.PhnExt2.touched || RefEmpForm.controls.PhnExt2.dirty) && !RefEmpForm.controls.PhnExt2.valid }">
                    <show-errors [control]="RefEmpForm.controls.PhnExt2" [submit]="enjiForm.submitted"></show-errors>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 adInsLabel" translate>Phone(Fix Line) 3 </label>
              <div class="col-md-9">
                <div class="form-group row">
                  <div class="col-md-2" style="border-right: 1px solid grey">
                    <input type="text" class="form-control adInsInput" formControlName="PhnArea3"
                      [ngClass]="{ 'is-invalid':(enjiForm.submitted || RefEmpForm.controls.PhnArea3.touched || RefEmpForm.controls.PhnArea3.dirty) && !RefEmpForm.controls.PhnArea3.valid }">
                    <show-errors [control]="RefEmpForm.controls.PhnArea3" [submit]="enjiForm.submitted"></show-errors>
                  </div>
                  <div class="col-md-4" style="border-right: 1px solid grey">
                    <input type="text" class="form-control adInsInput" formControlName="Phn3"
                      [ngClass]="{ 'is-invalid':(enjiForm.submitted || RefEmpForm.controls.Phn3.touched || RefEmpForm.controls.Phn3.dirty) && !RefEmpForm.controls.Phn3.valid }">
                    <show-errors [control]="RefEmpForm.controls.Phn3" [submit]="enjiForm.submitted"></show-errors>
                  </div>
                  <div class="col-md-2">
                    <input type="text" class="form-control adInsInput" formControlName="PhnExt3"
                      [ngClass]="{ 'is-invalid':(enjiForm.submitted || RefEmpForm.controls.PhnExt3.touched || RefEmpForm.controls.PhnExt3.dirty) && !RefEmpForm.controls.PhnExt3.valid }">
                    <show-errors [control]="RefEmpForm.controls.PhnExt3" [submit]="enjiForm.submitted"></show-errors>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 adInsLabel" translate>Fax </label>
              <div class="col-md-9">
                <div class="form-group row">
                  <div class="col-md-2" style="border-right: 1px solid grey">
                    <input type="text" class="form-control adInsInput" formControlName="FaxArea"
                      [ngClass]="{ 'is-invalid':(enjiForm.submitted || RefEmpForm.controls.FaxArea.touched || RefEmpForm.controls.FaxArea.dirty) && !RefEmpForm.controls.FaxArea.valid }">
                    <show-errors [control]="RefEmpForm.controls.FaxArea" [submit]="enjiForm.submitted"></show-errors>
                  </div>
                  <div class="col-md-4">
                    <input type="text" class="form-control adInsInput" formControlName="Fax"
                      [ngClass]="{ 'is-invalid':(enjiForm.submitted || RefEmpForm.controls.Fax.touched || RefEmpForm.controls.Fax.dirty) && !RefEmpForm.controls.Fax.valid }">
                    <show-errors [control]="RefEmpForm.controls.Fax" [submit]="enjiForm.submitted"></show-errors>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ucAddressGroup -->

          <div class="form-actions right">
            <button type="submit" class="btn btn-raised btn-primary">
              <i class="fa fa-check-square-o"></i> Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>