<div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-header header-title">
          <div class="row">
            <div class="col-md-8">
              <h4 class="form-section card-title px-2 pb-2" translate>Notification Inquiry</h4>
            </div>
          </div>
        </div>
        <div class="px-3">
          <div class="form-group row">
            <label class="col-md-2 px-3 adInsLabel" translate> Select Notification Type</label>
            <div class="col-md-9 px-5">
              <select class="form-control adInsInput" style="width: auto" (change)="OnChangeType($event.target.value)">
                <option value="">Select One</option>
                <option *ngFor="let it of ListNotifTypeKvp" value="{{it.Key}}">
                  {{it.Value}}</option>
              </select>
            </div>
          </div>
        </div>
        <br>
        <lib-ucpaging *ngIf="IsShowPaging" [searchObj]="inputPagingObj" (callback)="GetCallbackPaging($event)"></lib-ucpaging>
      </div>
    </div>
</div>