<div class="row text-left">
  <div class="col-md-12">
    <div class="card">      
      <div class="card-body">
        <div class="px-3">
          <div class="card-header header-title">
            <div class="row">
              <div class="col-md-8">
                <h4 class="card-title" id="horz-layout-colored-controls" translate>VIEW ASLI RI TAX VERIFICATION</h4>
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="card-body">
            <lib-ucSubsection [id]="'CustData'" [title]="'CUSTOMER DATA'" [panel]="'dCustData'">
            </lib-ucSubsection>
            <div class="form-body" id="dCustData">
              <div class="form-group row">
                <label class="col-md-3" translate>NIK</label>                
                <label class="col-md-3" translate>321299230029291</label>
                <label class="col-md-3" translate>NPWP</label>
                <label class="col-md-3" translate>889119541151000</label>

                <label class="col-md-3" translate>Customer Name</label>
                <label class="col-md-3" translate>James Andrew / Valid</label>
                <label class="col-md-3" translate>Income</label>
                <label class="col-md-3" translate>89,428,000.00</label>
                
                <label class="col-md-3" translate>NIK is Register for NPWP</label>
                <label class="col-md-3" translate>Valid</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>