<lib-UCSearch id="ucSearch" style="width:100%;" [_url]='urlJson' [apiQryPaging]='urlQryPaging'
    [enviromentUrl]='urlEnviPaging' (result)="getResult($event)"></lib-UCSearch>
<div [hidden]="resultData?.data == null">
    <table class="table table-responsive-md text-center table-hover">
        <thead>
            <tr class="table-header">
                <th><span translate class="thead-header" (click)="searchSort($event)"
                        name='name'>Name</span></th>
                <th><span translate class="thead-header" (click)="searchSort($event)"
                        name='jobTitle'>Job Title</span></th>
                <th translate>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of resultData?.data">
                <td class="text-left">{{item.name}}</td>
                <td class="text-left">{{item.jobTitle}}</td>
                <td>
                    <a class="success p-0" data-original-title="" title="" [routerLink]="['/company/commissioner/add']"
                        [queryParams]="{coyCommissionerId:item.coyCommissionerId,mode:'edit',refCoyId:item.refCoyId}">
                        <i class="ft-edit-2 font-medium-3 mr-2"></i>
                    </a>
                    <a class="danger p-0" data-original-title="" title="" (click)="delete(item.coyCommissionerId)">
                        <i class="ft-trash-2 font-medium-3 mr-2"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <lib-ucgridfooter (select)="onSelect($event)"></lib-ucgridfooter>
</div>
<div class="form-actions right">
    <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="['/company']">
        <i class="fa fa-arrow-circle-left"></i> Back
    </button>
    <i class="fa fa-plus-circle" [routerLink]="['/company/commissioner/add']" [queryParams]="{refCoyId:refCoyId}"
        style="position: absolute; right: 30px; bottom: 0; cursor: pointer; font-size: 36px"></i>
</div>