<div class="form-group row">

  <div class="col-md-6">

    <div class="form-group row" *ngIf="CustType == CustTypePersonal">
      <label class="col-md-4 adInsLabel" translate>Mobile Phone </label>
      <div class="col-md-8">
        <input type="text" class="form-control adInsInput" formControlName="MobilePhnNo1"
          [ngClass]="{ 'is-invalid': enjiForm.submitted && parentForm.controls.MobilePhnNo1.invalid}">
        <lib-uc-show-errors [control]="parentForm.controls.MobilePhnNo1"
          [submit]="enjiForm.submitted">
        </lib-uc-show-errors>
      </div>
    </div>

    <div class="form-group row" *ngIf="CustType == CustTypePersonal">
      <label class="col-md-4 adInsLabel" translate>Job Position </label>
      <div class="col-md-8" *ngIf="DictUcDDLObj[RefMasterTypeCodeJobPosition]?.isReady">
        <lib-ucdropdownlist [dropdownListObj]="DictUcDDLObj[RefMasterTypeCodeJobPosition]"
          [parentForm]="parentForm" [enjiForm]="enjiForm" [identifier]="'MrJobPositionCode'"></lib-ucdropdownlist>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 adInsLabel" translate> Position SLIK </label>
      <div class="col-md-8">
        <lib-uclookupgeneric [lookupInput]="positionSlikLookUpObj" [parentForm]="parentForm"
          [enjiForm]="enjiForm" [identifier]="'PositionSlikCode'" (lookup)=getLookUpSlik($event)>
        </lib-uclookupgeneric>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 adInsLabel" translate>Establishment Date</label>
      <div class="col-md-8">
        <input type="date" class="form-control adInsInput" formControlName="EstablishmentDt"
          [max]="businessDtMin | date: 'yyyy-MM-dd'"
          [ngClass]="{ 'is-invalid': enjiForm.submitted && parentForm.controls.EstablishmentDt.invalid}">
        <lib-uc-show-errors [control]="parentForm.controls.EstablishmentDt" [submit]="enjiForm.submitted">
        </lib-uc-show-errors>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 adInsLabel" translate>Is Active</label>
      <div class="col-md-8">
        <input class="border-primary" type="checkbox" data-md-icheck formControlName="IsActive" />
      </div>
    </div>

    <div class="form-group row" *ngIf="CustType == CustTypePersonal">
      <label class="col-md-4 adInsLabel" translate>Is Signer</label>
      <div class="col-md-8">
        <input class="border-primary" type="checkbox" data-md-icheck formControlName="IsSigner" />
      </div>
    </div>

  </div>

  <div class="col-md-6">

    <div class="form-group row" *ngIf="CustType == CustTypePersonal">
      <label class="col-md-4 adInsLabel" translate>Email </label>
      <div class="col-md-8">
        <input type="text" class="form-control adInsInput" formControlName="Email1"
          [ngClass]="{ 'is-invalid': enjiForm.submitted && parentForm.controls.Email1.invalid}">
        <lib-uc-show-errors [control]="parentForm.controls.Email1"
          [submit]="enjiForm.submitted">
        </lib-uc-show-errors>
      </div>
    </div>

    <div class="form-group row" *ngIf="CustType == CustTypePersonal">
      <label class="col-md-4 adInsLabel" translate>Customer Model </label>
      <div class="col-md-8" *ngIf="DictUcDDLObj[RefMasterTypeCodeCustModel]?.isReady">
        <lib-ucdropdownlist [dropdownListObj]="DictUcDDLObj[RefMasterTypeCodeCustModel]"
          [parentForm]="parentForm" [enjiForm]="enjiForm" [identifier]="'MrCustModelCode'"></lib-ucdropdownlist>
      </div>
    </div>

    <div class="form-group row" *ngIf="CustType == CustTypePersonal">
      <label class="col-md-4 adInsLabel" translate> Profession Name </label>
      <div class="col-md-8">
        <lib-uclookupgeneric [lookupInput]="professionLookUpObj" [parentForm]="parentForm"
          [enjiForm]="enjiForm" [identifier]="'JobProfession'" (lookup)=getLookUpProfession($event)>
        </lib-uclookupgeneric>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 adInsLabel" translate> Share(%) </label>
      <div class="col-md-8">
        <input type="" currencyMask min="0" max="100" class="form-control" formControlName="SharePrcnt"
          [ngClass]="{ 'is-invalid': enjiForm.submitted && parentForm.controls.SharePrcnt.invalid}"
          [options]="{  suffix: '%',thousands: ',', decimal: '.', align: 'right', allowNegative: true, allowZero:true, precision: 6, nullable: false}">
        <lib-uc-show-errors [control]="parentForm.controls.SharePrcnt" [submit]="enjiForm.submitted">
        </lib-uc-show-errors>
      </div>
    </div>

    <div class="form-group row" *ngIf="CustType == CustTypePersonal">
      <label class="col-md-4 adInsLabel" translate>Is Owner</label>
      <div class="col-md-8">
        <input class="border-primary" type="checkbox" data-md-icheck formControlName="IsOwner" />
      </div>
    </div>

  </div>

</div>