<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="px-3">
        <div class="addEdit">
          <h4 class="form-section card-title" translate> Customer Personal
          </h4>
          <form class="form form-horizontal" [formGroup]="CustomerPersonalForm"
            (ngSubmit)="CustomerPersonalForm.valid && SaveValue()" #enjiForm="ngForm">
            <lib-ucSubsection [id]="'MainInfo'" [title]="'Main Info'" [panel]="'MainInfoId'">
            </lib-ucSubsection>
            <div class="form-body" id="MainInfoId">
              <div class="form-group row">
                <label class="col-md-2 adInsLabel" translate>Is Supplier</label>
                <div class="col-md-4">
                  <input class="border-primary" type="checkbox" data-md-icheck formControlName="IsSupplier"
                    (click)="checkIsSupplier()" />
                </div>
              </div>
              <div class="form-group row" *ngIf="IsSupplier == true">
                <label class="col-md-2 adins-required-label" for="LinkSupplier" translate>Link Supplier </label>
                <div class="col-md-4">
                  <lib-uclookupgeneric *ngIf="inputLookupObj?.isReady" [lookupInput]="inputLookupObj"
                    [parentForm]='CustomerPersonalForm' [enjiForm]='enjiForm' [identifier]="'lookupSupp'"
                    #LookupSupplier (lookup)="SetSupplier($event)">
                  </lib-uclookupgeneric>
                </div>
              </div>
              <div class="form-group row"> 
                <label class="col-md-2 adins-required-label" translate>Customer Name </label>
                <div class="col-md-4">
                  <input type="text" class="form-control adInsInput" formControlName="CustName"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerPersonalForm.controls.CustName.invalid}">
                  <lib-uc-show-errors [control]="CustomerPersonalForm.controls.CustName" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
                <label class="col-md-2  adins-required-label" translate>Gender </label>
                <div class="col-md-4">
                  <select class="form-control adInsInput" style="width: auto" formControlName="Gender"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerPersonalForm.controls.Gender.invalid }">
                    <option *ngFor="let it of tempGender" [value]="it.Key">
                      {{it.Value}}</option>
                  </select>
                  <lib-uc-show-errors [control]="CustomerPersonalForm.controls.Gender" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
             </div>
              <div class="form-group row ">
                <!-- <label class="col-md-2 adInsLabel" translate>Customer Model </label>
                <div class="col-md-4">
                 <select class="form-control adInsInput" style="width: auto" formControlName="CustModel"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerPersonalForm.controls.CustModel.invalid }">
                    <option *ngFor="let it of tempCustModel" [value]="it.Key">
                      {{it.Value}}</option>
                  </select>
                  <lib-uc-show-errors [control]="CustomerPersonalForm.controls.CustModel" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div> -->
                <label class="col-md-2  adins-required-label" translate>Birth Place</label>
                <div class="col-md-4">
                  <input type="text" class="form-control adInsInput" formControlName="BirthPlace"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerPersonalForm.controls.BirthPlace.invalid}">
                  <lib-uc-show-errors [control]="CustomerPersonalForm.controls.BirthPlace" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>      
              </div>
              <div class="form-group row">
                <label class="col-md-2 adins-required-label" translate>ID Type </label>
                <div class="col-md-4">
                  <select class="form-control adInsInput" (change)="onOptionsSelected($event)" style="width: auto" formControlName="MrIdTypeCode"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerPersonalForm.controls.MrIdTypeCode.invalid }">
                    <option *ngFor="let it of tempIdType " [value]="it.Key" >
                      {{it.Value}}</option>
                  </select>
                  <lib-uc-show-errors [control]="CustomerPersonalForm.controls.MrIdTypeCode" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
                <label class="col-md-2 adins-required-label" translate>Birth Date</label>
                <div class="col-md-4">
                  <input type="date" class="form-control adInsInput" formControlName="BirthDt" 
                  [max]="businessDtMin | date: 'yyyy-MM-dd'"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerPersonalForm.controls.BirthDt.invalid}">
                  <lib-uc-show-errors [control]="CustomerPersonalForm.controls.BirthDt" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
              <div class="form-group row  ">
                <label class="col-md-2 adins-required-label" translate>ID Number </label>
                <div class="col-md-4">
                  <input type="text" class="form-control adInsInput" formControlName="IdNo"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerPersonalForm.controls.IdNo.invalid}">
                  <lib-uc-show-errors [customPattern]="customPattern"  [control]="CustomerPersonalForm.controls.IdNo" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>               
                <label class="col-md-2 adInsLabel" translate>Tax Id No</label>
                <div class="col-md-4">
                  <input type="text" class="form-control adInsInput" formControlName="TaxIdNo"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerPersonalForm.controls.TaxIdNo.invalid}">
                  <lib-uc-show-errors [control]="CustomerPersonalForm.controls.TaxIdNo" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-2 adInsLabel" [ngClass]="{'adins-required-label' : tempKTPCheck==false}" translate>ID Expired Date</label>
                
                <div class="col-md-4">
                  <input *ngIf="['NPWP','AKTA','EKTP'].includes(CustomerPersonalForm.controls.MrIdTypeCode.value)" readonly type="date" class="form-control" id="idExpDt" formControlName="IdExpiredDt">
                  <input *ngIf="!['NPWP','AKTA','EKTP'].includes(CustomerPersonalForm.controls.MrIdTypeCode.value)" type="date" class="form-control adInsInput" formControlName="IdExpiredDt" 
                  [min]="businessDtMax | date: 'yyyy-MM-dd'"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerPersonalForm.controls.IdExpiredDt.invalid } " >
                  <lib-uc-show-errors [control]="CustomerPersonalForm.controls.IdExpiredDt" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
                <label class="col-md-2 adins-required-label" translate>Mother Maiden Name</label>
                <div class="col-md-4">
                  <input type="text" class="form-control adInsInput" formControlName="MotherMaidenName"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerPersonalForm.controls.MotherMaidenName.invalid}">
                  <lib-uc-show-errors [control]="CustomerPersonalForm.controls.MotherMaidenName" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
              <div class="form-group row ">
                <label class="col-md-2 adInsLabel" translate>Affiliation with Multifinance</label>
                <div class="col-md-4">
                  <input class="border-primary" type="checkbox" data-md-icheck formControlName="IsAffiliateWithMf" />
                </div>
                <label class="col-md-2 adInsLabel" translate>Marital Status</label>
                <div class="col-md-4">
                  <select class="form-control adInsInput" style="width: auto" formControlName="MrMaritalStatCode"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerPersonalForm.controls.MrMaritalStatCode.invalid }">
                    <option *ngFor="let it of tempMrMaritalStatCode" [value]="it.Key">
                      {{it.Value}}</option>
                  </select>
                  <lib-uc-show-errors [control]="CustomerPersonalForm.controls.MrMaritalStatCode" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>            
              <div class="form-group row  ">
                <label class="col-md-2 adInsLabel" translate>VIP</label>
                <div class="col-md-4">
                  <input class="border-primary" type="checkbox" data-md-icheck formControlName="IsVip"
                    (click)="checkState()" />
                </div>         
                <label class="col-md-2 adInsLabel" translate [ngClass]="{'adins-required-label' : VipNotesRequired==true}">VIP Notes</label>
                <div class="col-md-4">
                    <textarea class="form-control adInsInput width-75-per" formControlName="VipNotes"  
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerPersonalForm.controls.VipNotes.invalid }"></textarea>
                    <lib-uc-show-errors [control]="CustomerPersonalForm.controls.VipNotes" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
            </div>
            <lib-ucSubsection [id]="'LegalAddr'" [title]="'Legal Address'" [panel]="'LegalAddrSection'">
            </lib-ucSubsection>
            <div class="form-body" id="LegalAddrSection">
              <lib-ucaddress [addressObj]="inputAddressObj" [UCAddrForm]="CustomerPersonalForm" [enjiForm]="enjiForm" [identifier]="'UcAddress'">
              </lib-ucaddress> 
            </div>

            <div *ngIf="!subsectionAsliRi && IsCustThirdPartyCheck">
              <lib-ucSubsection [id]="'FraudCheckInfo'" [title]="'Fraud Checking Customer'" [panel]="'dFraudCheckInfo'">
              </lib-ucSubsection>
              <div id="dFraudCheckInfo">
                <div class="row" style="display:flex; align-items: center;">
                  <div class="col-3">
                    <label translate>Dukcapil</label>
                  </div>
                    <div class="col-9">
                      <label translate>{{LastHit.DUKCAPIL}} /                       
                      </label>   
                      <!-- <label *ngIf="LastHit.DUKCAPIL == '' " translate>Not Hit Yet /                       
                      </label>    -->
                      <button type="button" (click)="openPopUp(popUpDukcapil, 'popUpDukcapil')" class="btn btn-raised btn-primary" translate> Hit Dukcapil                       
                      </button> 
                    </div> 
                </div>
                <div class="row" style="display:flex; align-items: center;">
                  <div class="col-3">
                    <label translate>Pefindo</label>
                  </div>
                            
                    <div class="col-9">
                      <label translate>{{LastHit.PEFINDO}} /                        
                      </label>        
                      <!-- <label *ngIf="!LastHit.PEFINDO" translate>Not Hit Yet /                        
                      </label>                                          -->
                      <button type="button" (click)="openPopUp(popUpPefindo, 'popUpPefindo')" class="btn btn-raised btn-primary" translate>
                        Hit Pefindo
                      </button>   
                      /
                      <button  type="button" (click)="openPopUp(popUpViewPefindo, 'popUpViewPefindo')" class="btn btn-raised btn-primary" translate>View</button> 
                    </div>    
                </div>
                <div class="row" style="display:flex; align-items: center;">
                  <div class="col-3">
                    <label translate>Asli RI</label>
                  </div>
                    <div class="col-9">
                      <label translate>{{LastHit.ASLIRI}} /</label>                                               
                      <!-- <label *ngIf="!LastHit.ASLIRI" translate>Not Hit Yet /</label>                                                -->
                      <button type="button" (click)="showAsliRi()" class="btn btn-raised btn-primary"
                        translate>
                        Hit Asli RI
                      </button>   
                      /     
                      <button type="button" (click)="openPopUp(popUpViewAsliRI, 'popUpViewAsliRI')" class="btn btn-raised btn-primary"
                      translate>View</button>
                    </div>   
                </div>
                <div class="row" style="display:flex; align-items: center;">
                  <div class="col-3">
                    <label translate>Trusting Social</label>
                  </div>                                   
                    <div class="col-9">
                      <label translate>{{LastHit.TRST}} /                          
                      </label>                  
                      <!-- <label *ngIf="!LastHit.TRST" translate>Not Hit Yet /                          
                      </label>                                                -->
                      <button type="button" (click)="openPopUp(popUpTrustingSocial, 'popUpTrustingSocial')" class="btn btn-raised btn-primary"
                        translate>
                        Hit Trusting Social
                      </button>   
                      /
                      <button type="button" (click)="openPopUp(popUpViewTrustingSocial, 'popUpViewTrustingSocial')" class="btn btn-raised btn-primary"
                      translate>View</button> 
                    </div>  
                </div>
                <div class="row" style="display:flex; align-items: center;">
                  <div class="col-3">
                    <label translate>SLIK</label>  
                  </div>
                  <div class="col-9">
                    <label translate>{{LastHit.SLIK}} /                          
                    </label>                           
                    <!-- <label *ngIf="!LastHit.SLIK" translate>Not hit yet /                      
                    </label>     -->
                    <button type="button" (click)="openPopUp(popUpSlik, 'popUpSlik')" class="btn btn-raised btn-primary"
                      translate>
                      Hit SLIK
                    </button> 
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="subsectionAsliRi && IsCustThirdPartyCheck">
              <lib-ucSubsection [id]="'AsliRi'" [title]="'ASLI RI'" [panel]="'dAsliRi'">
              </lib-ucSubsection>
              <div id="dAsliRi" class="row" class="px-3">
                <div class="col-md-12">
                  <div class="form-group row">
                      <button type="button" class="col-md-3" (click)="openPopUp(popUpHitProfesional, 'popUpHitProfesional')" class="btn btn-raised btn-primary" translate> Hit Profesional                       
                      </button>                                                
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                      <button type="button" class="col-md-3" (click)="openPopUp(popUpHitPhoneAge, 'popUpHitPhoneAge')" class="btn btn-raised btn-primary" translate> Hit Phone Age                       
                      </button>                                                
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                      <button type="button" class="col-md-3" (click)="openPopUp(popUpHitMotherNameVerif, 'popUpHitMotherNameVerif')" class="btn btn-raised btn-primary" translate> Hit Mother Name Verification                       
                      </button>                                                
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                      <button type="button" class="col-md-3" (click)="openPopUp(popUpHitTaxIncome, 'popUpHitTaxIncome')" class="btn btn-raised btn-primary" translate> Hit Tax Income                       
                      </button>                                                
                  </div>
                </div>
              </div>
              <div class="text-right">
                <button type="button" (click)="back()" class="btn btn-raised btn-warning mr-1" translate>
                  <i class="fa fa-arrow-circle-left"></i> Back
                </button>
              </div>
            </div>
            

            <!-- POP UP DUKCAPIL -->
            <ng-template #popUpDukcapil let-c="close" let-d="dismiss">
              <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <app-pop-up-view-dukcapil></app-pop-up-view-dukcapil>
            </ng-template>

            <!-- POP UP PEFINDO -->
            <ng-template #popUpPefindo let-c="close" let-d="dismiss">
              <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <app-customer-personal-data></app-customer-personal-data>
            </ng-template>

            <ng-template #popUpViewPefindo let-c="close" let-d="dismiss">
              <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <app-customer-personal-data></app-customer-personal-data>
            </ng-template>

            <!-- POP UP ASLI RI -->
            <ng-template #popUpViewAsliRI let-c="close" let-d="dismiss">
              <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <app-pop-up-view-asli-ri-all-data></app-pop-up-view-asli-ri-all-data>              
            </ng-template>

            <!-- POP UP TRUSTING SOCIAL -->
            <ng-template #popUpTrustingSocial let-c="close" let-d="dismiss">
              <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <app-pop-up-view-trusting-social></app-pop-up-view-trusting-social>
            </ng-template>

            <ng-template #popUpViewTrustingSocial let-c="close" let-d="dismiss">
              <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <app-pop-up-view-trusting-social></app-pop-up-view-trusting-social>
            </ng-template>

            <!-- POP UP SLIK -->
            <ng-template #popUpSlik let-c="close" let-d="dismiss">
              <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <app-pop-up-view-slik></app-pop-up-view-slik>
            </ng-template>

            <!-- POP UP HIT PROFESIONAL -->
            <ng-template #popUpHitProfesional let-c="close" let-d="dismiss">
              <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <app-pop-up-view-asli-ri-professional-verification></app-pop-up-view-asli-ri-professional-verification>
            </ng-template>

            <!-- POP UP HIT PHONE AGE -->
            <ng-template #popUpHitPhoneAge let-c="close" let-d="dismiss">
              <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <app-pop-up-view-asli-ri-phone-age-verification></app-pop-up-view-asli-ri-phone-age-verification>
            </ng-template>

            <!-- POP UP HIT MOTHER NAME VERIFICATION -->
            <ng-template #popUpHitMotherNameVerif let-c="close" let-d="dismiss">
              <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <app-pop-up-view-asli-ri-mother-name-verification></app-pop-up-view-asli-ri-mother-name-verification>
            </ng-template>

            <!-- POP UP HIT TAX INCOME-->
            <ng-template #popUpHitTaxIncome let-c="close" let-d="dismiss">
              <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <app-pop-up-view-asli-ri-tax-verification></app-pop-up-view-asli-ri-tax-verification>
            </ng-template>

            <div class="form-actions right">
              <button type="button" class="btn btn-raised btn-warning mr-1"  [routerLink]="['../../Paging']" skipLocationChange translate>
               <i class="far fa-window-close"></i> Cancel
              </button>
              <button type="submit" class="btn btn-raised btn-primary" translate>
                <i class="far fa-check-square"></i> Save and Continue
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>