<form class="form form-horizontal">
  <div class="form-body">
    <div class="form-actions right">
      <button type="button" class="addButton" (click)="addFamily()" translate>
        <i class="ft-plus-circle"></i> Add
      </button>
    </div>
    <h4 class="form-section card-title" translate>
      Family List
    </h4>
  </div>
</form>
<table class="table table-responsive-md text-center table-hover">
  <thead>
    <tr class="table-header">
      <th class="text-center"><span class="thead-header" name='CustNo' translate>CUSTOMER NO.</span></th>
      <th class="text-left"><span class="thead-header" name='Name' translate>NAME</span></th>
      <th class="text-left"><span class="thead-header" name='CustomerRelationship' translate>CUSTOMER RELATIONSHIP</span></th>
      <th translate>EDIT</th>
      <th translate>DELETE</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of tempCustomerPersonalContactPerson; let i = index">
      <td class="text-center" style="color: blue; cursor: pointer; text-align: center;"><a
          (click)="openView(item.FamilyId)">{{item.CustNo}}</a></td>
      <td class="text-left">{{item.CustName}}</td>
      <td class="text-left">{{item.MrCustRelationshipDesc}}</td>
      <td>
        <a class="success p-0" data-original-title="" title="" (click)="editFamilyHandler(item.CustPersonalFamilyId)">
          <i class="ft-edit-2 font-medium-3 mr-2"></i>
        </a>
      </td>
      <td>
        <a class="danger p-0" data-original-title="" title="" (click)="deleteFamilyHandler(item.CustPersonalFamilyId, i)">
          <i class="ft-trash-2 font-medium-3 mr-2"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>