<div class="ucSearch-Button-Right">
  <span class="mr-1">
    <button type="button" class="backButton" [routerLink]="['../MainInfo']" translate>
      <i class="ft-x" ></i> Cancel
    </button>
    <button type="submit" class="addButton" translate>
      <i class="fa fa-check-square-o"></i> Next
    </button>
  </span>
</div>

<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="px-3">
        <div class="addEdit">
          <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Main Info
          </h4>
          <lib-ucSubsection [id]="'MainInfo'" [title]="'Main Info'" [panel]="'MainInfoId'">
          </lib-ucSubsection>
          <form class="form form-horizontal" id="MainInfoId">
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-2 adInsLabel" translate>Customer Model </label>
                <div class="col-md-4">
                  <label>{{this.CustModel}}</label>

                 
                </div>
                <label class="col-md-2  adInsLabel" translate>Customer Name </label>
                <div class="col-md-4">
                  <label>{{this.CustName}}</label>
              
                </div>

              </div>
              <div class="form-group row ">
                <label class="col-md-2 adInsLabel" translate>Company Type</label>
                <div class="col-md-4">
                  <label>{{this.MrCompanyTypeCode}}</label> 
                </div>
                <label class="col-md-2 adInsLabel" translate>ID TYPE </label>
                <div class="col-md-4">
                  <label>{{this.MrIdTypeCode}}</label>
                 
                </div>

              </div>

              <div class="form-group row ">

                <label class="col-md-2 adInsLabel" translate>NPWP </label>
                <div class="col-md-4">
                  <label>{{this.IdNo}}</label>
               
                </div>

                <label class="col-md-2 adInsLabel" translate>NPWP</label>
                <div class="col-md-4">
                  <label>{{this.TaxIdNo}}</label>
               
                </div>
              </div>

            </div>

            <div class="form-actions right">
              <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="['../MainInfo']" translate>
                <i class="ft-x"></i> Cancel
              </button>
              <button type="submit" class="btn btn-raised btn-primary" translate>
                <i class="fa fa-check-square-o"></i> Next
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>