<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="px-3">
        <div class="addEdit">
          <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Main Info
          </h4>
          <lib-ucSubsection [id]="'MainInfo'" [title]="'Main Info'" [panel]="'MainInfoId'">
          </lib-ucSubsection>
          <form class="form form-horizontal" id="MainInfoId">
            <div class="form-body">
              <div class="form-group row">
                <label class="col-md-2  adInsLabel" translate>Customer Name </label>
                <div class="col-md-4">
                  <label>{{this.CustName}}</label>
                </div>
                <label class="col-md-2 adInsLabel" translate>Customer Model </label>
                <div class="col-md-4">
                  <label>{{this.tempCustModel?.Descr}}</label>
                </div>
              </div>
              <div class="form-group row ">
                <label class="col-md-2 adInsLabel" translate>Company Type</label>
                <div class="col-md-4">
                  <label>{{this.tempMrCompanyTypeCode?.Descr}}</label>
                </div>
                <label class="col-md-2 adInsLabel" translate>NPWP</label>
                <div class="col-md-4">
                  <label>{{this.TaxIdNo}}</label>
                </div>
              </div>
              <div class="form-group row ">
                <label class="col-md-2 adInsLabel" translate>Affiliation with Multifinance</label>
                <div class="col-md-4">
                  <label>{{this.StatusAffiliate}}</label>
                </div>
              </div>
              <div class="form-group row ">
                <label class="col-md-2 adInsLabel" translate>VIP</label>
                <div class="col-md-4">
                  <label>{{this.StatusIsVip}}</label>
                </div>
                <label class="col-md-2 adInsLabel" translate>VIP Notes</label>
                <div class="col-md-4">
                  <label>{{this.VipNotes}}</label>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- Match / Similar Data -->
        <form class="form form-horizontal">
          <div class="form-body">
            <h4 class="form-section card-title" translate>
              Match / Similar Data
            </h4>
          </div>
        </form>
        <div class="d-flex justify-content-end ">
          <span class="mr-1 d-flex align-content-center ">
            <button type="button" class="addButton" translate (click)=SaveValue()>
              New
            </button>
            <button type="button" class="addButton" [routerLink]="['../../Configuration/Paging']" translate>
              Select
            </button>
          </span>
        </div>
        <table class="table table-responsive-md text-center table-hover">
          <thead>
            <tr class="table-header">

              <th class="text-left"><span class="thead-header" name='fullAssetCode' translate>Customer No</span>
              </th>
              <th class="text-left"><span class="thead-header" name='fullAssetCode' translate>Customer Name</span>
              </th>
              <th class="text-left"><span class="thead-header" name='fullAssetCode' translate>Npwp
                </span>
              </th>
              <th class="text-left"><span class="thead-header" name='fullAssetCode' translate>Duplicate Item</span>
              </th>
              <th class="text-left"><span class="thead-header" name='assetCategoryName' translate>Select</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of resultData?.Data">
              <td class="text-left">{{item.assetCode}}</td>
              <td class="text-left">{{item.assetName}}</td>
              <td class="text-left">{{item.fullAssetCode}}</td>
              <td class="text-left">{{item.fullAssetName}}</td>
              <td class="text-left">{{item.assetCategoryName}}</td>
            </tr>
          </tbody>
        </table>
        <!-- Negative Customer Match / Similar Data -->
        <form class="form form-horizontal" style="margin-top: 10px;">
          <div class="form-body">
            <h4 class="form-section card-title" translate>
              Negative Customer Match / Similar Data
            </h4>
          </div>
        </form>
        <table class="table table-responsive-md text-center table-hover">
          <thead>
            <tr class="table-header">
              <th class="text-Justify"><span class="thead-header" name='fullAssetCode' translate>Customer No</span>
              </th>
              <th class="text-Justify"><span class="thead-header" name='fullAssetCode' translate>Customer Name</span>
              </th>
              <th class="text-Justify"><span class="thead-header" name='fullAssetCode' translate>Address </span>
              </th>
              <th class="text-Justify"><span class="thead-header" name='fullAssetCode' translate>NPWP</span>
              </th>
              <th class="text-Justify"><span class="thead-header" name='fullAssetCode' translate>Status</span>
              </th>
              <th class="text-Justify"><span class="thead-header" name='fullAssetName' translate>Data Source</span>
              </th>
              <th class="text-Justify"><span class="thead-header" name='assetCategoryName' translate>Duplicate
                  Item</span>
              </th>

            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let item of resultData?.Data">
                <td class="text-left">{{item.assetCode}}</td>
                <td class="text-left">{{item.assetName}}</td>
                <td class="text-left">{{item.fullAssetCode}}</td>
                <td class="text-left">{{item.fullAssetName}}</td>
                <td class="text-left">{{item.assetCategoryName}}</td>
              </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>